﻿@model VELogisticCloud.Models.ItinerarioViewModel
@{
    ViewData["Title"] = "Index";
    ViewData["PageTitle"] = "¿Qué tipo de itinerario desea que busquemos para usted?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table td, .table th {
        padding: .3rem;
    }
</style>

@*<div class="loading show" id="contenedor_spinner" style="visibility:hidden">
    <div class="spin"></div>
</div>*@
<!-- Main row -->
<div class="row">
    <div class="col-12">
        <div class="card card-primary">

            <!-- form start -->
            <form asp-controller="Itinerario" asp-action="Lista1" id="form" method="post">
                <div class="card-body" style="padding-bottom: 0rem;">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="txtOrigen">*Origen</label>
                            <input type="text" asp-for="Origin" class="form-control " id="txtOrigen" placeholder="Ingresar Origen" required> @*value="PECLL">*@
                            <input type="hidden" id="hddOrigen" asp-for="OriginCode" required>
                            <input type="hidden" id="hddEmbarqueId" required>
                            <input type="hidden" id="hddEmbarqueCodigoPais">
                            <input type="hidden" id="hddEmbarqueNombrePais">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtDestino">*Destino</label>
                            <input type="text" asp-for="Destination" class="form-control " id="txtDestino" placeholder="Ingresar Destino" required> @*value="PABLB">*@
                            <input type="hidden" id="hddDestino" asp-for="DestinationCode" required>
                            <input type="hidden" id="hddDestinoId" required>
                            <input type="hidden" id="hddDestinoCodigoPais">
                            <input type="hidden" id="hddDestinoNombrePais">

                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtSacs">*Linea Naviera</label>
                            <select asp-for="Sacs" asp-items="@Model.ListaNavieras" id="txtNaviera" class="form-control">
                                <option value="">Todas</option>
                            </select>
                            @*<select class="form-control " id="txtNaviera" asp-for="Sacs">
                                    <option value="">Todas</option>
                                    <option value="ANRM">ALIANÇA</option>
                                    <option value="NGST">Andes Operador Multimodal Ltda</option>
                                    <option value="ANNU">ANL CONTAINER LINE</option>
                                    <option value="AMLU">Antillean Marine Shipping Corp.</option>
                                    <option value="APLU">APL</option>
                                    <option value="ARKU">Arkas Line</option>
                                    <option value="CMDU">CMA CGM</option>
                                </select>*@
                            @*<input type="text" asp-for="Sacs" class="form-control" id="txtSacs" placeholder="Ingresar Naviera" value="ANRM">*@
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtSearchDate">*Fecha Inicio</label>
                            <input type="date" asp-for="SearchDate" class="form-control" id="txtSearchDate" placeholder="Ingresar Fecha Inicio">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtweeks">Weeks Out</label>
                            @*<input type="number" asp-for="WeeksOut" class="form-control" id="txtDestino" placeholder="Ingresar" value="6">*@
                            <select class="form-control" id="txtWeeksOut" asp-for="WeeksOut" required>
                                <option value="">Seleccione</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtBy">Tipo dia de búsqueda</label>
                            <select class="form-control" id="txtBy" asp-for="SearchDateType" required>
                                <option value="">Seleccione</option>
                                <option value="ByDepartureDate">Por dia de salida</option>
                                <option value="ByArrivalDate">Por dia de llegada</option>
                            </select>
                            <!--select class="form-control">
                                <option>By departure</option>
                            </!-select-->
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkIncluirOrigenCercano" asp-for="includeNearbyOriginPorts">
                                <label class="form-check-label" for="chkIncluirOrigenCercano"> &nbsp;&nbsp; Incluir origenes cercanos</label>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkIncluirDestinoCercano" asp-for="includeNearbyDestinationPort">
                                <label class="form-check-label" for="chkIncluirDestinoCercano"> &nbsp;&nbsp; Incluir destinos cercanos</label>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkDirecto" asp-for="Directo">
                                <label class="form-check-label" for="chkDirecto"> &nbsp;&nbsp; Solo rutas directas</label>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="card-footer">
                    <button onclick="Volver(); return false;" style="display:none" id="btnVolver" class="btn col-md-2 btn-primary float-left rounded-pill"> <i class="fas fa-arrow-alt-circle-left"></i> Volver </button>

                    <!--button type="button" class="btn btn-primary float-right" onclick="location.href='itinerario-resultado.html';">Realizar Busqueda</button-->
                    @*<button type="submit" id="btnBuscar" class="btn btn-primary float-right rounded-pill">Realizar Búsqueda <i class="fas fa-arrow-alt-circle-right"></i></button>*@
                    <button onclick="Lista2(); return false;" id="btnBuscar" class="btn col-md-2 btn-primary float-right rounded-pill">Realizar Búsqueda <i class="fas fa-arrow-alt-circle-right"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="gridhtml"></div>

@*@if (Model != null)
{

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    @if (!Model.ListaItinerarios.Any())
                    {
                        <p>No se encontraron registros</p>
                    }
                    else
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        Dia de salida (ETA)
                                        <i class="fas fa-exclamation-circle float-right" data-toggle="tooltip" data-placement="top"
                                           title="La información mostrada es recibida de la Naviera, por favor confirmar con su Customer Service."></i>
                                    </th>
                                    <th class="text-center">Naviera</th>
                                    <th class="text-center">TT</th>
                                    <th class="text-center">Transbordo</th>
                                    <th class="text-center">Itinerarios</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var grupo in Model.ListaItinerarios.GroupBy(a => new { a.diaSalida, a.numeroDiaSemana, a.scac, a.carrierName, a.scheduleType })
                                                                              .OrderBy(a => a.Key.numeroDiaSemana).ThenBy(a => a.Key.carrierName))
                                {
                                    <tr>
                                        <td class="text-center">@grupo.Key.diaSalida</td>
                                        <td class="text-center">@grupo.Key.carrierName</td>
                                        <td class="text-center">
                                            @foreach (var item in grupo.Select(a => a.totalDuration).Distinct().OrderBy(a => a))
                                            {
                                                <a asp-action="VerItinerario"
                                                   asp-route-scac="@grupo.Key.scac"
                                                   asp-route-dia="@grupo.Key.diaSalida"
                                                   asp-route-tt="@item"
                                                   asp-route-transbordo="@grupo.Key.scheduleType"
                                                   asp-route-OriginCode="@Model.OriginCode"
                                                   asp-route-DestinationCode="@Model.DestinationCode"
                                               
                                                >
                                            
                                            <u>@item</u></a>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (grupo.Key.scheduleType == "transshipment")
                                            {
                                                <span>Si</span>
                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                                        </td>
                                        <td class="text-center">
                                            <a asp-action="VerItinerario"
                                               asp-route-scac="@grupo.Key.scac"
                                               asp-route-dia="@grupo.Key.diaSalida"
                                               asp-route-transbordo="@grupo.Key.scheduleType"
                                               asp-route-OriginCode="@Model.OriginCode"
                                               asp-route-DestinationCode="@Model.DestinationCode"
                                               >Ver Itinerarios</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>

}*@


@section Scripts {
    <script src="~/build/js/Itinerario/itinerarios.js?v1"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
}