﻿@model IEnumerable<VELogisticCloud.CrossCutting.DTO.ItinerarioResponseDTO>

@{ Layout = null; }
@*<script src="https://www.w3schools.com/lib/w3.js"></script>*@
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<script src="~/dist/js/Admin/TablaConFiltros.js"></script>
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-12">
        @if (Model != null)
        {
                        
            <table class="table table-sm table-hover table-bordered w3-table-all sortable" id="usersTable">
                <thead>
                    <tr class="item">
                        <th class="text-center">
                            Dia de salida
                        </th>
                        <th class="text-center">
                            ETD (Origen)
                        </th>
                        <th class="text-center">
                            NAVE
                        </th>
                        <th class="text-center">
                            VIAJE
                        </th>
                        <th class="text-center">
                            TT
                        </th>
                        <th class="text-center">
                            TRANSBORDO
                        </th>
                        <th class="text-center">
                            ETA (Destino)
                        </th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="item">
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.diaSalida)
                            </td>
                            <td class="text-center">
                                @item.originDepartureDateString
                            </td>
                            <td class="text-center">
                                @item.vesselName
                            </td>
                            <td class="text-center">
                                @item.voyageNumber
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.totalDuration)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.transbordo)
                            </td>
                            <td class="text-center">
                                @item.destinationArrivalDateString
                            </td>
                            <td class="text-center">
                                <a onclick="getItinerarioSeleccionado('@(item.originDepartureDate.HasValue ? item.originDepartureDate.Value.ToString("yyyy-MM-dd") : "")',
                                                                '@(item.destinationArrivalDate.HasValue ? item.destinationArrivalDate.Value.ToString("yyyy-MM-dd") : "")',
                                                                '@item.vesselName', '@item.voyageNumber',@item.idItinerarioManual)"
                                   class="btn btn-primary text-white">Seleccione <i class="fas fa-arrow-alt-circle-right"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div>No se encontraros registros.</div>
        }
    </div>
</div>

<style>
    th {
        cursor: pointer;
        /*background-color: blue;*/
    }
</style>

@section Scripts {
    <script src="~/dist/js/Admin/TablaConFiltros.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
}

