﻿@model VELogisticCloud.CrossCutting.DTO.ItinerarioResponseDTO
@{
    ViewData["Title"] = "Ver Detalle";
    ViewData["PageTitle"] = "Te presentamos un listado de los itenerarios más adecuados para ti.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h4> &lt @Model.carrierName</h4>
                        <p>Carrier</p>
                    </div>
                    <div class="col-6">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td style="border-top:none;" class="border-right">
                                <div class="row text-muted">@Model.vesselName </div>
                                <div class="row text-muted">@Model.voyageNumber </div>
                                <div class="row ">
                                    <div class="col-6">Tariff:</div>
                                    <div class="col-6"><b>@Model.Flete</b></div>
                                </div>
                                <div class="row ">
                                    <div class="col-6">Rebate:</div>
                                    <div class="col-6"><b>@Model.Rebate</b></div>
                                </div>
                                <div class="row ">
                                    <div class="col-6">Neto Linea:</div>
                                    <div class="col-6"><b>@Model.Neto</b></div>
                                </div>
                                @*<div class="row">
                                    LAR:
                                    @if (@Model.terminalCutoff.HasValue)
                                    {
                                        @Model.terminalCutoff.Value.ToString("dd-MM-yyyy");
                                    }
                                </div>
                                <div class="row">
                                    Cut-off:
                                    @if (@Model.terminalCutoff.HasValue)
                                    {
                                        @Model.terminalCutoff.Value.ToString("dd-MM-yyyy");
                                    }
                                </div>*@
                            </td>
                            <td>
                                <div class="table-responsive">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td colspan="8" style="padding-left: 0px;">
                                                    <blockquote class="blockquote">
                                                        <p class="mb-0">Nave: @Model.vesselName</p>
                                                        <footer class="blockquote-footer">TT: @Model.totalDuration dias</footer>
                                                    </blockquote>
                                                </td>
                                                <td colspan="4">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-top:none;">
                                                    <div class="row">
                                                        <b>
                                                            ETD: @Model.originDepartureDateString
                                                        </b>
                                                    </div>

                                                    <div class="row">
                                                        @(string.Concat("(", Model.diaSalidaAbreviado, ")"))
                                                    </div>
                                                    <div class="row"> @Model.originCityName , @Model.originCountry</div>
                                                    <div class="row">Cut-off:  </div>
                                                </td>
                                                <td style="border-top:none;"><i class="fas fa-chevron-right fa-3x"></i></td>
                                                <td style="border-top:none;">
                                                    <div class="row">
                                                        <b>
                                                            ETA:@Model.destinationArrivalDateString
                                                        </b>
                                                    </div>
                                                    <div class="row">
                                                        @(string.Concat("(", @Model.diaSalidaAbreviado, ")"))
                                                    </div>
                                                    <div class="row">@Model.destinationCityName , @Model.destinationCountry</div>
                                                    <div class="row"></div>
                                                </td>
                                            </tr>
                                            <!--TRANSBORDOS-->
                                            @if (Model.legs.Any())
                                            {
                                                <tr>
                                                    <td colspan="4">
                                                        <h2><i class="fas fa-route"></i> Transbordos</h2>
                                                    </td>
                                                </tr>
                                                @foreach (var item in Model.legs)
                                                {
                                                    <tr>
                                                        <td colspan="8" style="padding-left: 0px;">
                                                            <blockquote class="blockquote">
                                                                <p class="mb-0">Nave: @item.transportName</p>
                                                                <footer class="blockquote-footer">TT: @item.transitDuration dias</footer>
                                                            </blockquote>
                                                        </td>
                                                        <td colspan="4">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-top:none;">
                                                            <div class="row">
                                                                <b>
                                                                    ETD:
                                                                    @if (@item.departureDate.HasValue)
                                                                    {
                                                                        @item.departureDateString
                                                                    }
                                                                </b>
                                                            </div>

                                                            <div class="row">
                                                                @if (@item.departureDate.HasValue)
                                                                {
                                                                    string.Concat("(", @item.departureDateStringDateNameShort, ")");
                                                                }
                                                            </div>
                                                            <div class="row"> @item.departureCityName , @item.departureCountry</div>
                                                            @*<div class="row">Cut-off:  </div>*@
                                                        </td>
                                                        <td style="border-top:none;"><i class="fas fa-chevron-right fa-3x"></i></td>
                                                        <td style="border-top:none;">
                                                            <div class="row">
                                                                <b>
                                                                    ETA:
                                                                    @if (@item.arrivalDate.HasValue)
                                                                    {
                                                                        @item.arrivalDateString;
                                                                    }
                                                                </b>
                                                            </div>
                                                            <div class="row">
                                                                @if (@item.arrivalDate.HasValue)
                                                                {
                                                                    string.Concat("(", @item.arrivalDateStringDateNameShort, ")");
                                                                }
                                                            </div>
                                                            <div class="row">@item.arrivalCityName , @item.arrivalCountry</div>
                                                            <div class="row"></div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group row col-12 ">
                <div class="col-md-3 card-footer">
                    <button class="btn btn-primary form-control " onclick="Volver(); return false;"> <i class="fas fa-arrow-circle-left"></i> &nbsp; Volver</button>
                </div>
                <div class="col-md-6 card-footer">
                </div>
                <div class="col-md-3 card-footer">
                    <a class="btn btn-primary float-right"
                       asp-controller="Itinerario_Solicitar"
                       asp-action="Create2"
                       asp-route-scac="@Model.scac"
                       asp-route-OriginCode="@Model.originUnloc"
                       asp-route-DestinationCode="@Model.destinationUnloc"
                       asp-route-etd="@Model.originDepartureDateStringUniversal"
                       asp-route-eta="@Model.destinationArrivalDateStringUniversal"
                       asp-route-nombreViaje="@Model.vesselName"
                       asp-route-naveViaje="@Model.voyageNumber"
                       asp-route-puertoEmbarque="@Model.puertoEmbarque"
                       asp-route-puertoDescarga="@Model.puertoDestino">
                        Solicitar Booking
                    </a>

                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <script src="~/build/js/Itinerario/detalle.Itinerario.js?v2"></script>

}