﻿@model VELogisticCloud.Models.ItinerarioViewModel
@{
    ViewData["Title"] = "Index";
    ViewData["PageTitle"] = "Te presentamos un listado de los itenerarios más adecuados para ti.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card card-primary">

            <!-- form start -->
            <form asp-controller="Itinerario" asp-action="Index" method="post">
                <div class="card-body" style="padding-bottom: 0rem;">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="txtOrigen">*Origen</label>
                            <input type="text" asp-for="Origin" class="form-control" id="txtOrigen" placeholder="Ingresar Origen" >
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtDestino">*Destino</label>
                            <input type="text" asp-for="Destination" class="form-control" id="txtDestino" placeholder="Ingresar Destino" >
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtSacs">*Linea Naviera</label>
                            <select class="form-control" id="txtNaviera" asp-for="Sacs">
                                <option value="">Todas</option>
                                <option value="ANRM">ALIANÇA</option>
                                <option value="NGST">Andes Operador Multimodal Ltda</option>
                                <option value="ANNU">ANL CONTAINER LINE</option>
                                <option value="AMLU">Antillean Marine Shipping Corp.</option>
                                <option value="APLU">APL</option>
                                <option value="ARKU">Arkas Line</option>
                            </select>
                            @*<input type="text" asp-for="Sacs" class="form-control" id="txtSacs" placeholder="Ingresar Naviera" value="ANRM">*@
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtSearchDate">*Fecha Inicio</label>
                            <input type="date" asp-for="SearchDate" class="form-control" id="txtSearchDate" placeholder="Ingresar Fecha Inicio" value="2021-02-01">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtweeks">Weeks Out</label>
                            @*<input type="number" asp-for="WeeksOut" class="form-control" id="txtDestino" placeholder="Ingresar" value="6">*@
                            <select class="form-control" id="txtWeeksOut" asp-for="WeeksOut">
                                <option value="0">Seleccione</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtBy">Tipo Dia de Busqueda</label>
                            @*<input type="text" asp-for="SearchDateType" class="form-control" id="txtBy" placeholder="Ingresar" value="ByDepartureDate">*@
                            <select class="form-control" id="txtBy" asp-for="SearchDateType">
                                <option value="0">Seleccione</option>
                                <option value="ByDepartureDate">ByDepartureDate</option>
                                <option value="ByDepartureDate">ByArrivalDate</option>
                            </select>
                            <!--select class="form-control">
                                <option>By departure</option>
                            </!-select-->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkIncluirOrigenCercano" asp-for="includeNearbyOriginPorts">
                                <label class="form-check-label" for="chkIncluirOrigenCercano">Incluir origenes cercanos</label>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkIncluirDestinoCercano" asp-for="includeNearbyDestinationPort">
                                <label class="form-check-label" for="chkIncluirDestinoCercano">Incluir destinos cercanos</label>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
                <div class="card-footer">
                    
                    <!--button type="button" class="btn btn-primary float-right" onclick="location.href='itinerario-resultado.html';">Realizar Busqueda</button-->
                    <button onclick="Lista2(); return false;" id="btnBuscar2" class="btn btn-primary float-right">Realizar Busqueda</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model != null)
{
    if (!Model.ListaItinerarios.Any())
    {
        <p>No se encontraron resultados.</p>
    }
    else
    {
        foreach (var item in Model.ListaItinerarios)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form>

                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td style="border-top:none;" class="border-right">
                                                <div class="row"><h5>@item.carrierName </h5></div>
                                                <div class="row">carrier</div>
                                                <div class="row">
                                                    Transbordo:

                                                </div>
                                            </td>
                                            <td style="border-top:none;" class="border-right">
                                                <div class="row bg-danger">
                                                    <div class="col-6">Contract:</div>
                                                    <div class="col-6 text-right"></div>
                                                </div>
                                                <div class="row bg-danger">
                                                    <div class="col-6">Expiration:</div>
                                                    <div class="col-6 text-right"><b></b></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">TT:</div>
                                                    <div class="col-6 text-right"><b>@item.totalDuration dias</b></div>
                                                </div>
                                            </td>

                                            <td style="border-top:none;">
                                                <div class="row">
                                                    <b>
                                                        ETD
                                                        @*@if (item.originDepartureDate.HasValue)
                                                            {*@
                                                        @item.originDepartureDate.Value.ToString("dd-MM-yyyy")
                                                        @*}*@
                                                    </b>
                                                </div>

                                                <div class="row">(@item.originDepartureDate.Value.ToString("ddd"))</div>
                                                <div class="row"> @item.originCityName , @item.originCountry</div>
                                                <div class="row">Cut-off:  </div>
                                            </td>
                                            <td style="border-top:none;"><h2 class="display-4">></h2></td>
                                            <td style="border-top:none;">
                                                <div class="row">
                                                    <b>
                                                        ETA
                                                        @*@if (item.destinationArrivalDate.HasValue)
                                                            {*@
                                                        @item.destinationArrivalDate.Value.ToString("dd-MM-yyyy")
                                                        @*}*@
                                                    </b>
                                                </div>
                                                <div class="row">(@item.destinationArrivalDate.Value.ToString("ddd"))</div>
                                                <div class="row">@item.destinationCityName , @item.destinationCountry</div>
                                                <div class="row"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-top:none;">
                                                <a asp-action="VerDetalle"
                                                   asp-route-scac="@item.scac"
                                                   asp-route-dia="@item.diaSalida"
                                                   asp-route-tt="@item.totalDuration"
                                                   asp-route-puertoEmbarque="@Model.Origin" 
                                                   asp-route-puertoDescarga="@Model.Destination" 
                                                   >Ver detalles</a>
                                            </td>
                                            <td style="border-top:none;" colspan="4">
                                                <a class="btn btn-primary float-right"
                                                   asp-controller="Itinerario_Solicitar"
                                                   asp-action="Create2"
                                                   asp-route-scac="@item.scac"
                                                   asp-route-OriginCode="@item.originUnloc" 
                                                   asp-route-DestinationCode="@item.destinationUnloc" 
                                                   asp-route-etd="@item.originDepartureDate.Value.ToString("yyyy-MM-dd")"
                                                   asp-route-eta="@item.destinationArrivalDate.Value.ToString("yyyy-MM-dd")"
                                                   asp-route-nombreViaje="@item.vesselName"
                                                   asp-route-naveViaje="@item.voyageNumber" 
                                                   asp-route-puertoEmbarque="@Model.Origin" 
                                                   asp-route-puertoDescarga="@Model.Destination" 
                                                   asp-route-NroContrato="@Model.NroContrato" 
                                                   >
                                                    Solicitar Booking
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}


@section Scripts {
    <script src="~/build/js/Itinerario/VerItinerario.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
}