﻿@{
    Layout = "_Layout";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Opci&oacute;n</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li class="breadcrumb-item">Administraci&oacute;n</li>
                    <li class="breadcrumb-item">Seguridad</li>
                    <li class="breadcrumb-item"><a asp-controller="Opcion" asp-action="Index">Opci&oacute;n</a></li>
                    <li class="breadcrumb-item active">Consultar</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Filtros de Consulta</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <form role="form">
                            <div class="row">
                                <div class="col-sm-4">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" placeholder="Ingrese un nombre">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <select class="form-control">
                                            <option>Seleccione</option>
                                            <option>Activo</option>
                                            <option>Inactivo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 align-self-center">
                                    <div class="btn-group float-right">
                                        <button type="button" class="btn btn-default">
                                            <i class="fas fa-eraser"></i>&nbsp;&nbsp;Limpiar
                                        </button>
                                        <button type="button" class="btn btn-primary">
                                            <i class="fas fa-search"></i>&nbsp;&nbsp;Consultar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Resultados de la Consulta</h3>
                        <a asp-controller="Opcion" asp-action="Registrar" class="btn btn-info float-right">
                            <i class="fas fa-file"></i>&nbsp;&nbsp;Nuevo
                        </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <table id="opcion-datatable" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Estado</th>
                                    <th>Regist. Por</th>
                                    <th>Fecha</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <!-- Body table -->
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Inicio</td>
                                    <td>Opción Inicial</td>
                                    <td>Activo</td>
                                    <td>Admin</td>
                                    <td>15/01/2021 15:20:21</td>
                                    <td>
                                        <a asp-controller="Opcion" asp-action="Editar" class="btn btn-block btn-outline-warning btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Administración</td>
                                    <td>Opción Inicial</td>
                                    <td>Activo</td>
                                    <td>Admin</td>
                                    <td>15/01/2021 15:20:21</td>
                                    <td>
                                        <a asp-controller="Opcion" asp-action="Editar" class="btn btn-block btn-outline-warning btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Seguridad</td>
                                    <td>Opción Inicial</td>
                                    <td>Activo</td>
                                    <td>Admin</td>
                                    <td>15/01/2021 15:20:21</td>
                                    <td>
                                        <a asp-controller="Opcion" asp-action="Editar" class="btn btn-block btn-outline-warning btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Opción</td>
                                    <td>Opción Inicial</td>
                                    <td>Activo</td>
                                    <td>Admin</td>
                                    <td>15/01/2021 15:20:21</td>
                                    <td>
                                        <a asp-controller="Opcion" asp-action="Editar" class="btn btn-block btn-outline-warning btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Perfil</td>
                                    <td>Opción Inicial</td>
                                    <td>Activo</td>
                                    <td>Admin</td>
                                    <td>15/01/2021 15:20:21</td>
                                    <td>
                                        <a asp-controller="Opcion" asp-action="Editar" class="btn btn-block btn-outline-warning btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>usuario</td>
                                    <td>Opción Inicial</td>
                                    <td>Activo</td>
                                    <td>Admin</td>
                                    <td>15/01/2021 15:20:21</td>
                                    <td>
                                        <a asp-controller="Opcion" asp-action="Editar" class="btn btn-block btn-outline-warning btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- /Body table -->
                        </table>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

@section Scripts {
    <script type="text/javascript" src="~/dist/js/Seguridad/Opcion/index.js"></script>
}

