﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="embed-responsive embed-responsive-1by1">
    <iframe class="embed-responsive-item" src="https://velogistics.oss.avanzza.io/trackear-pedido"></iframe>
</div>

@section Scripts {
    <script src="~/build/js/TrackTerrestre/index.js"></script>

}