﻿@model VELogisticCloud.App.Web.Util.ModelCombos
@{
    ViewData["Title"] = "Crear Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
</div>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<body>

    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Solicitar Reserva</h4>
                </div>
                <div class="card-body">
                    @*<form method="post" asp-action="Create">*@
                    <div class="col-10 offset-1 mt-1">
                        <div class="form-group row">
                            @*<div class="col-4">

                                </div>*@
                            <div class="form-group col-md-6">
                                <label>*Naviera</label>
                                <select class="form-control " id="txtNaviera" asp-items="@Model.ListaNavieras">
                                    <option value="0">--Selecciona Naviera--</option>
                       
                                </select>
                                @*<input id="txtNaviera" class="form-control" placeholder="Ingresar" />*@
                            </div>
                            <div class="form-group col-md-6">
                                <label>Numero de contrato (opcional)</label>
                                <input id="txtNroContrato" class="form-control" placeholder="Ingresar" />
                            </div>
                        </div>
                        <div class="form-group row">
                            @*<div class="col-4">

                                </div>*@
                            <div class="form-group col-md-6">
                                <label>Exportador</label>
                                <select class="form-control " id="txtExpeditor" asp-items="@Model.ListaClientes" disabled>
                                    <option value="0">--Selecciona Exportador--</option>
                                </select>
                                @*<input id="" class="form-control" placeholder="Ingresar" />*@
                            </div>
                            <div class="form-group col-md-6">
                                <label>*Consignatario</label>
                                <input id="txtConsignatario" class="form-control" placeholder="Ingresar consignatario" />
                      
                            </div>
                        </div>

                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md-6"><h5>Información de transporte</h5></div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-4">
                                <label>*Puerto embarque</label>
                                <input type="text" class="form-control" id="txtPuertoEmbarque" placeholder="Ingresar Puerto Embarque">
                                <input type="hidden" id="hddEmbarqueId">
                                <input type="hidden" id="hddEmbarqueCodigoPuerto">
                                <input type="hidden" id="hddEmbarqueCodigoPais">
                                <input type="hidden" id="hddEmbarqueNombrePais">
                                <input type="hidden" id="hddEmbarqueNombreRegion">
                           
                            </div>
                            <div class="form-group col-md-4">
                                <label>*Puerto Descarga</label>
                                <input type="text" class="form-control" id="txtPuertoDescarga" placeholder="Ingresar Puerto Descarga"> @*value="PECLL">*@
                                <input type="hidden" id="hddDescargaId">
                                <input type="hidden" id="hddDescargaCodigoPuerto">
                                <input type="hidden" id="hddDescargaCodigoPais">
                                <input type="hidden" id="hddDescargaNombrePais">
                                <input type="hidden" id="hddDescargaNombreRegion">
                            </div>
                            <div class="form-group col-md-4">
                                <label>*ETD</label>
                                <input id="txtETD" class="form-control" type="date" placeholder="Ingresar ETD" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-3">
                                <label>*ETA</label>
                                <input id="txtETA" class="form-control" type="date" placeholder="Ingresar ETA" />
                            </div>
                            <div class="form-group col-md-1">
                                <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#exampleModalCenter">
                                    seleccionar Itinerarios
                                </button>
                            </div>
                            <div class="form-group col-md-4">
                                <label>*Nombre Nave</label>
                                <input id="txtNombreNave" class="form-control" type="text" placeholder="Ingresar nombre nave" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>*Numero de viaje</label>
                                <input id="txtNaveViaje" class="form-control" type="text" placeholder="Ingresar numero de viaje" />
                            </div>
                        </div>

                        <hr>
                        <div class="card">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-6"><h5>Informacion de contenedores/carga</h5></div>
                                    <div class="form-group col-md-6">
                                        <a href="" class="btn btn-primary float-right" onclick="generar_tabla(1); return false">Agregar <i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="form-group col-md-3">
                                        <label>*Cantidad</label>
                                        <input id="txtCantidad" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>*Peso</label>
                                        <input id="txtPeso" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Seleccione el tipo de contenedor</label>
                                        <select class="form-control " id="txtTipoContenedor" onchange="CambiarContenedor(); return false" asp-items="@Model.ListaTipoContenedor">
                                            <option value="0">--Selecciona Contenedor--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row col-md-12" id="div_reefer">
                                    <div class="card col-md-12">
                                        <div class="card-body col-md-12">
                                            <div class="form-row">
                                                <div class="form-group col-md-12"><h5>Condiciones Tipo Contenedor</h5></div>

                                            </div>
                                            <div class="form-group row">
                                                <div class="form-group col-md-2">
                                                    <label>Condiciones: </label>
                                                    <select class="form-control " id="cbo_Condicion">
                                                        <option value="Fresh">Fresh</option>
                                                        <option value="Frozen">Frozen</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>Cold Treatment: </label>
                                                    <select class="form-control " id="cbo_Cold">
                                                        <option value="S">SI</option>
                                                        <option value="N">NO</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>Temperatura: </label>
                                                    <input id="txt_temperatura" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />

                                                </div>
                                                <div class="form-group col-md-2" style="text-align:unset">
                                                    <label>Grados: </label>
                                                    <select class="form-control " id="cbo_grados">
                                                        <option value="°C">°C</option>
                                                        <option value="°F">°F</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>Ventilación: </label>
                                                    <input id="txt_ventilacion" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />

                                                </div>
                                                <div class="form-group col-md-2" style="text-align:unset">
                                                    <label>Tipo: </label>
                                                    <select class="form-control " id="cbo_tipo_ventilacion">
                                                        <option value="CBM">CBM</option>
                                                        <option value="OTHER">OTHER</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">

                                                <div class="form-group col-md-2">
                                                    <label>Humedad: </label>
                                                    <input id="txt_humedad" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />

                                                </div>
                                                <div class="form-group col-md-2" style="text-align:unset">
                                                    <label>Tipo: </label>
                                                    <select class="form-control " id="cbo_tipo_humedad">
                                                        <option value="Off">Off</option>
                                                        <option value="On">On</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2" style="text-align:unset">
                                                    <label>Atmósfera Controlada: </label>
                                                    <select class="form-control " id="cbo_atmosfera">
                                                        <option value="SI">SI</option>
                                                        <option value="NO">NO</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>CO2: </label>
                                                    <input id="txt_co2" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>O2: </label>
                                                    <input id="txt_o2" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row col-md-12" id="div_dry">
                                    <div class="card col-md-12">
                                        <div class="card-body col-md-12">
                                            <div class="form-row">
                                                <div class="form-group col-md-12"><h5>Condiciones Tipo Contenedor</h5></div>
                                                <div class="form-group row">
                                                    <div class="form-group col-md-6" style="text-align:unset">
                                                        <label>IMO: </label>
                                                        <select class="form-control " id="cbo_imo">
                                                            <option value="imo1">1- IMO 1 - EXPLOSIVO</option>
                                                            <option value="imo2">2- IMO 2 - GASES</option>
                                                            <option value="imo3">3- IMO 3 - LIQUIDOS INFLAMABLES</option>
                                                            <option value="imo4">4- IMO 4 - SOLIDOS PELIGROSOS</option>
                                                            <option value="imo5">5- IMO 5 - SUSTANCIAS OXIDANTES</option>
                                                            <option value="imo6">6- IMO 6 - SUSTANCIAS VENENOSAS</option>
                                                            <option value="imo7">7- IMO 7 - SUSTANCIAS RADIACTIVAS</option>
                                                            <option value="imo8">8- IMO 8 - SUSTANCIAS CORROSIVAS</option>
                                                            <option value="imo9">9- IMO 9 - SUSTANCIAS PELIGROSAS DIVERSAS</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <label>UN1: </label>
                                                        <input id="txt_un1" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />

                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <label>UN2: </label>
                                                        <input id="txt_un2" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-md-6">
                                        <label>*Comodity</label>
                                        <select class="form-control " id="txtComodity" asp-items="@Model.ListaCommodity">
                                            <option value="0">--Selecciona Comodity--</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>*Descripcion de Carga</label>
                                        <input id="txtDescrip_Carga" class="form-control" placeholder="Ingresar" />
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                        @*tabla dinamica*@
                        <div id="gridLista">
                        </div>

                        <div class="form-row col-md-12">
                            <div class="card col-md-12">
                                <div class="card-body col-md-12">
                                    <div class="form-row">
                                        <div class="form-group col-md-12"><h5>Condiciones de pago</h5></div>
                                        <div class="form-group col-md-6">
                                            <label>Condiciones de Pago</label>
                                            <select class="form-control " id="cbo_pago" onchange="CambiarPago(); return false">
                                                <option value="ELSEWHERE" selected>ELSEWHERE</option>
                                                <option value="COLLLECT">COLLLECT</option>
                                                <option value="PREPAID">PREPAID</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3" id="div_name_pago">
                                            <label>Nombre Pagador</label>
                                            <input id="txt_nombre_pagador" class="form-control" placeholder="Ingresar" />
                                        </div>
                                        <div class="form-group col-md-3" id="div_direc_pago">
                                            <label>Direccion Pagador</label>
                                            <input id="txt_direccion_pagador" class="form-control" placeholder="Ingresar" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12"><h5>Condiciones de pago</h5></div>
                                        <div class="form-group col-md-6">
                                            <label>Emision BL</label>
                                            <select class="form-control " id="cbo_emision">
                                                <option value="Destino">Destino</option>
                                                <option value="Origen">Origen</option>
                                                <option value="Seawaybill">Seawaybill</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                            </div>




                            @*<div class="form-group row">
                                    <div class="form-group col-md-6">
                                        <label>Condiciones de pago (flete)</label>
                                        <input id="txtFlete" class="form-control bg-gradient-warning" placeholder="Ingresar" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Emision BL</label>
                                        <input id="txtEmision_BL" class="form-control bg-warning" placeholder="Ingresar" />
                                    </div>
                                </div>*@

                        </div>

                        <div class="form-group row">
                            <div class="col-md-8">

                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary form-control" onclick="InsertReserva(); return false;">Siguiente <i class="fas fa-arrow-circle-right"></i></button>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/build/js/Reservas/insert.reserva.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
}
