﻿@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-header">
    Resumen de booking
</div>


@*<h3 class="text-center">Crear una nueva categoría</h3>*@
@*<form method="post" asp-action="Edit">*@
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="card-body" style="padding-bottom: 0rem;">
    <div class="row">
        <div class="col-6">
            <h3><b>ID: #   <label id="lbl_nroBooking"></label> </b></h3>
            <span> Contenedores <label id="lbl_Cantidad"></label></span><br>
                                                                        <span> <label id="lbl_tipoContenedor"></label> </span>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-3">
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <br> <br> <label id="lbl_pais_inicio"></label>
                </div>
                <div class="col-1"><h2>></h2></div>
                <div class="col-4">
                    <i class="fas fa-pallet fa-2x"></i>
                    <br> <br> <label id="lbl_tico_contenedor2"></label>
                </div>
                <div class="col-1"><h2>></h2></div>
                <div class="col-3">
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <br> <br> <label id="lbl_pais_fin"></label>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <h4>Datos del trayecto</h4>
            Embarque:<label id="lbl_etd"></label> <br>
            Destino: <label id="lbl_eta"></label>
        </div>
        <div class="col-6">
            <h4>Documentación y cobro</h4>
            Condicion de pago (flete): <label id="lbl_flete"></label> <br>
            Emision BL: <label id="lbl_emision"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4>Datos Principales</h4>
            Contenedores solicitados:  <label id="lbl_CantSolicitados"></label> <br>
            Tipo de contenedor: <label id="lbl_TipoCont"></label> <br>
            Especie:  <label id="lbl_Comodity"></label>
        </div>
        <div class="col-6">
            
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4>Parametros del contenedor</h4>
            Temperatura: <label id="lbl_temperatura"></label>  <br>
            Ventilación: <label id="lbl_ventilacion"></label> <br>
            Humedad:  <label id="lbl_humedad"></label> <br>
            Peso: <label id="lbl_peso"></label> <br>
        </div>
        <div class="col-6">
            
        </div>
    </div>
</div>
<div class="card-footer">
    <button class="btn btn-primary float-right" onclick="VerReservas(); return false;">Ver mas reservas</button>
</div>

@section Scripts {
    <script src="~/build/js/Reservas/resumen.reserva.js"></script>
    @*<link rel="stylesheet" href="~/dist/css/spinner.css">*@
}
