﻿
    <body>
        <div class="card-header">
        </div>

        @*<div class="loading show" id="contenedor_spinner">
            <div class="spin"></div>
        </div>*@

        <div class="card-body">
            <div class="card">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                        <br />
                        <!-- Main content -->
                        <!-- /.row -->
                        <!-- Main row -->
                        <!-- Left col -->
                        <!-- Small boxes (Stat box) -->
                        <div class="row justify-content-center align-items-center">
                            <div class="col-lg-3 col-8">
                                <!-- small box -->
                                <a href="#" onclick="Contenedor1(); return false">
                                    <div class="small-box bg-info" style="height: 140px;" id="cont_1">
                                        <div class="icon">
                                            <i class="ion-android-boat"></i>
                                        </div>
                                        <div class="inner">
                                            <p style="color:black">Flete Marítimo</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-8">
                                <!-- small box -->
                                <a href="#" onclick="Contenedor2(); return false">
                                    <div class="small-box bg-light" style="height: 140px;" id="cont_2">
                                        <div class="icon">
                                            <i class="ion-android-calendar"></i>
                                        </div>
                                        <div class="inner">
                                            <p style="color:black">Operación Logistica</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- ./col -->
                        </div>
                        <!-- Timelime example  -->
                        <div class="row justify-content-center align-items-center" id="div_maritimo">
                            <div class="row justify-content-center align-items-center">

                                <!-- ./col 1-->
                                <div class="col-md-3">
                                    <!-- The time line -->
                                    <div class="timeline">
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="text-center"> <h3><label id="lbl_coti"> </label></h3>Cotizaciones</span>
                                        </div>
                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-calendar-alt bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"><b><label id="lbl_coti_solicitada" /></b>  Solicitada</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>

                                            <i class="fas fa-check-square bg-green"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_coti_confirmada" /></b>  Confirmada</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-hand-paper bg-red"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_coti_observada" /></b>  Observada</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-window-close bg-yellow"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_coti_cancelada" /></b>  Cancelada</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                    </div>
                                </div>

                                <!-- ./col 2-->
                                <div class="col-md-3">
                                    <!-- The time line -->
                                    <div class="timeline">
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="text-center"><h3> <label id="lbl_Reserva"> </label> </h3> Mis Reservas</span>
                                        </div>
                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-calendar-alt bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_reserva_solicitada" /></b> Solicitada</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-check-square bg-green"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_reserva_confirmada" /></b> Confirmada</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-hand-paper bg-red"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_reserva_observada" /></b> Observada</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-window-close bg-yellow"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_reserva_cancelada" /></b> Cancelada</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                    </div>
                                </div>

                                <!-- ./col 3-->
                                <div class="col-md-3">
                                    <!-- The time line -->
                                    <div class="timeline">
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="text-center"><h3> <label id="lbl_status"> </label> </h3>  Status de operaciones</span>
                                        </div>
                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-chess-rook bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_reserva_puerto" /></b> Puerto</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-ship bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header">  <b><label id="lbl_reserva_nave" /></b> Nave</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-chess-rook bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header">  <b><label id="lbl_reserva_destino" /></b> Puerto destino</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center align-items-center" id="div_logistica">
                            <div class="row justify-content-center align-items-baseline">
                                <!-- ./col 1-->
                                <div class="col-md-3">
                                    <!-- The time line -->
                                    <div class="timeline">
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="text-center"> <h3><label id="lbl_coti2"> </label></h3>Cotizaciones</span>
                                        </div>
                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-calendar-alt bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b> <label id="lbl_logistica_solicitada"> </label></b>  Solicitada</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>

                                            <i class="fas fa-check-square bg-green"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b> <label id="lbl_logistica_confirmada"> </label></b>  Confirmada</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-hand-paper bg-red"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b> <label id="lbl_logistica_observada"> </label></b>  Observada</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-window-close bg-yellow"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b> <label id="lbl_logistica_cancelada"> </label></b>  Cancelada</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                    </div>
                                </div>

                                <!-- ./col 2-->
                                <div class="col-md-3 align-top"  style="display:none">
                                    <!-- The time line -->
                                    <div class="timeline">
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="text-center"><h3> <label id="lbl_Reserva2"> </label> </h3> Mis Reservas</span>
                                        </div>
                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-calendar-alt bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_reserva_solicitada"> </label></b> Solicitada</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-check-square bg-green"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_reserva_confirmada"> </label></b>Confirmada</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-hand-paper bg-red"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_reserva_observada"> </label></b>Observada</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-window-close bg-yellow"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_reserva_cancelada"> </label></b> Cancelada</h4>
                                            </div>
                                        </div>

                                        <!-- END timeline item -->
                                    </div>
                                </div>

                                <!-- ./col 3-->
                                <div class="col-md-3 ">

                                    <!-- The time line -->
                                    <div class="timeline">
                                        <div class="time-label">
                                            <span class="text-center"><h3> <label id="lbl_status2"> </label> </h3>  Status de operaciones</span>
                                        </div>
                                        <div>
                                            <i class="fas fa-chess-rook bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_contenedorAsignado"> </label></b> Contenedor Asignado</h4>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="fas fa-ship bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_ingresoallenarCarga"> </label></b> Ingreso a llenar Carga</h4>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="fas fa-chess-rook bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_ingresoalPuerto"> </label></b> Ingreso al Puerto</h4>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="fas fa-chess-rook bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_llegadaadepositodevacio"> </label></b> Llegada a deposito de vacio</h4>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="fas fa-chess-rook bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_llegadaalCliente"> </label></b> Llegada al Cliente</h4>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="fas fa-chess-rook bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_llegadaalPuerto"> </label></b> Llegada al Puerto </h4>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="fas fa-chess-rook bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_enCamino"> </label></b> En Camino</h4>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="fas fa-chess-rook bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_SalidadelCliente"> </label></b> Salida del Cliente</h4>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="fas fa-chess-rook bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_salidadelPuerto"> </label></b> Salida del Puerto</h4>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="fas fa-chess-rook bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_llegadaaBase"> </label></b> Llegada a Base</h4>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="fas fa-chess-rook bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_Salidadedepositodevacio"> </label></b> Salida de deposito de vacio</h4>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="fas fa-chess-rook bg-blue"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_revisionSINI"> </label></b> Revision SINI</h4>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /.Left col -->
                        <!-- /.row (main row) -->
                    </div>

                </div>
            </div>
        </div>
    </body>






@section Scripts {
    <script src="~/build/js/Estadistica/estadistica.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">

}
