﻿
@{
    ViewData["Title"] = "Busqueda Operacion Logistica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
</div><div asp-validation-summary="ModelOnly" class="text-danger"></div>


<div asp-authorize asp-roles="Administrador,Cliente">
    <input type="hidden" value="admin" id="tipousuario" />
</div>
<div asp-authorize asp-roles="Customer Service">
    <input type="hidden" value="customer" id="tipousuario" />
</div>
<body class="hold-transition sidebar-mini layout-fixed">

    <div class="cotenedor_carga">
        <div id="carga">

        </div>
    </div>

    <!-- Content Wrapper. Contains page content -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <div class="col-12">

                    <div class="card card-primary">

                        <!-- form start -->
                        <form>

                            <div class="card-body" style="padding-bottom: 0rem;">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="txt_nroBooking">Numero de booking</label>
                                        <input type="text" class="form-control" id="txt_nroBooking" placeholder="Ingresar">
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label>Puerto Carga</label>
                                        <input type="text" class="form-control" id="txtPuertoEmbarque" placeholder="Ingresar Puerto Embarque">
                                        <input type="hidden" id="hddEmbarqueId">
                                        <input type="hidden" id="hddEmbarqueCodigoPuerto">
                                        <input type="hidden" id="hddEmbarqueCodigoPais">
                                        <input type="hidden" id="hddEmbarqueNombrePais">
                                        <input type="hidden" id="hddEmbarqueNombreRegion">


                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="txtweeks">Puerto Descarga</label>
                                        <input type="text" class="form-control" id="txtPuertoDescarga" placeholder="Ingresar Puerto Descarga"> @*value="PECLL">*@
                                        <input type="hidden" id="hddDescargaId">
                                        <input type="hidden" id="hddDescargaCodigoPuerto">
                                        <input type="hidden" id="hddDescargaCodigoPais">
                                        <input type="hidden" id="hddDescargaNombrePais">
                                        <input type="hidden" id="hddDescargaNombreRegion">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="txtBy">Filtrar por estado</label>
                                        <select class="form-control" id="id_cbEstado">
                                            <option value="0">--Todos--</option>
                                            <option value="1">Pendiente</option>
                                            <option value="2">Pendiente Odoo</option>
                                            <option value="3">Aceptado</option>
                                            <option value="4"> Confirmado</option>
                                            <option value="5"> Anulado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer ">

                                @*<button onclick="VistaAgregarOP(); return false;" class="btn btn-primary rounded-pill float-right col-2">Agregar OP <i class="fas fa-arrow-alt-circle-right"></i></button>*@
                                <a asp-authorize asp-roles="Administrador" class="btn btn-primary float-right" href="../OperacionLogistica2/GetExcelOpl/">Generar Excel</a>
                                <button onclick="ListaActual(); return false;" class="btn btn-primary rounded-pill float-left col-2">Realizar Busqueda <i class="fas fa-arrow-alt-circle-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <section>
        <div class="container-fluid" id="gridLista">


        </div>
    </section>
</body>

@section Scripts {
    <script src="~/build/js/CustomerService/OperacionLogistica/busqueda.opl.cliente.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
}