﻿@model VELogisticCloud.App.Web.Util.ModelCombos
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-header">
</div>

<body>

    <div asp-authorize asp-roles="Administrador,Cliente">
        <input type="hidden" value="admin" id="tipousuario" />
    </div>
    <div asp-authorize asp-roles="Customer Service">
        <input type="hidden" value="customer" id="tipousuario" />
    </div>

    <input type="hidden" id="hddIdOdooService">

    <form id="form">

        <div class="row ">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Solicitar Operación Logística</h4>
                    </div>
                    <div class="card-body">
                        @*<form method="post" asp-action="Create">*@
                        <div class="col-10 offset-1 mt-1">
                            @*Datos del Booking*@
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6"><h5>Información de Reserva</h5></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>*Puerto embarque</label>
                                            <input type="text" class="form-control" id="txtPuertoEmbarque" placeholder="Ingresar Puerto Embarque" disabled>
                                            <input type="hidden" id="hddEmbarqueId">
                                            <input type="hidden" id="hddEmbarqueCodigoPuerto">
                                            <input type="hidden" id="hddEmbarqueCodigoPais">
                                            <input type="hidden" id="hddEmbarqueNombrePais">
                                            <input type="hidden" id="hddEmbarqueNombreRegion">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Puerto Descarga</label>
                                            <input type="text" class="form-control" id="txtPuertoDescarga" placeholder="Ingresar Puerto Descarga" disabled>
                                            <input type="hidden" id="hddDescargaId">
                                            <input type="hidden" id="hddDescargaCodigoPuerto">
                                            <input type="hidden" id="hddDescargaCodigoPais">
                                            <input type="hidden" id="hddDescargaNombrePais">
                                            <input type="hidden" id="hddDescargaNombreRegion">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Linea</label>
                                            <select class="form-control " id="txtLineaNaviera" asp-items="@Model.ListaNavieras" disabled>
                                                <option value="0">--Selecciona Naviera--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>*Nro Booking</label>
                                            <input type="text" class="form-control " id="txtBooking" placeholder="Ingresar Booking" />
                                            <span id="span_correcto"></span>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label>*ETD</label>
                                            <input id="txtETD" class="form-control" type="date" placeholder="Ingresar" required disabled />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Nombre Nave</label>
                                            <input id="txtNombreNave" class="form-control" type="text" placeholder="Ingresar Nombre Nave" disabled />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>*Nombre</label>
                                            <input type="text" class="form-control " id="txtNombre"
                                                   placeholder="Ingresar Nombre" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Telefono Consigne</label>
                                            <input id="txtTelefonoConsigne" class="form-control" type="text" placeholder="Ingresar Telefono" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" id="Datos_Customer">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6"><h5>Información Obligatoria</h5></div>
                                    </div>
                                    <div class="form-row col-md-12"  asp-authorize asp-roles="Customer Service">
                                        <div class="form-row col-md-12">
                                            <div class="form-group col-md-4">
                                                <label>*Placa</label>
                                                <input id="txtPlaca" class="form-control" type="text" placeholder="Ingresar Paletas" required />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>*Conductor.</label>
                                                <input id="txtChofer" class="form-control" type="text" placeholder="Ingresar Conductorditar." required />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>*Orden de Servicio</label>
                                                <input id="txtOrdenServicio" class="form-control" type="text" placeholder="Ingrese Orden de Servicio" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            @*Producto*@
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6"><h5>Producto</h5></div>
                                        <div class="form-group col-md-6">
                                            @*<a href="" class="btn btn-primary float-right" onclick="generar_tabla(1); return false">Agregar <i class="fa fa-plus"></i></a>*@
                                        </div>
                                    </div>
                                    <div class="form-row col-md-12">
                                        <div class="form-group col-md-4">
                                            <label>*Marcas del Producto</label>
                                            <input id="txtMarcaProducto" class="form-control" type="text" placeholder="Ingresar Marcas del Producto" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Peso de Caja (Kg.)</label>
                                            <input id="txtPesoCaja" class="form-control" type="text" placeholder="0" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Cantidad de Paletas</label>
                                            <input id="txtCantidadPaletas" class="form-control" type="text" placeholder="Ingresar Paletas" />
                                        </div>
                                    </div>
                                    <div class="form-row col-md-12">
                                        <div class="form-group col-md-4">
                                            <label>*Condición de Pago</label>
                                            <select class="form-control " id="txtCondicionPago" asp-items="@Model.ListaCondicionPago">
                                                <option value="0">-- Selecciona Condicion de Pago --</option>
                                            </select>
                                            @*<input id="txtCondicionPago" class="form-control" type="text" placeholder="Ingresar Paletas" />*@
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>*Peso Neto Aprox.</label>
                                            <input id="txtPesoNeto" class="form-control" type="text" placeholder="0.00" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>*Canal Sini</label>
                                            <select id="cboCanalSini" class="form-control">
                                                <option value="Verde">Verde</option>
                                                <option value="Rojo">Rojo</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Transporte</label>
                                            <select class="form-control " id="txtTransporte" asp-items="@Model.ListaTransporte">
                                                <option value="0">-- Selecciona Transporte --</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Producto*@
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row col-md-12">
                                        <div class="form-group col-md-4">
                                            <label>*Valor FOB</label>
                                            <input id="txtValorFOB" class="form-control" type="text" placeholder="Ingresar FOB" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Incoterm</label>
                                            @*<select id="ddlProveedor"></select>*@
                                            <select id="ddlIncoterm" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="form-row col-md-12">
                                        <div class="form-group col-md-4">
                                            <label>*Cantidad de Termoregistros</label>
                                            <input id="txtCantidadTermoregistros" class="form-control" type="text" placeholder="0" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Cantidad de Filtros Etileno</label>
                                            <input id="txtCantidadFiltrosEtileno" class="form-control" type="text" placeholder="0" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Observaciones</label>
                                            <input id="txtObservaciones" class="form-control" type="text" placeholder="Ingresar Observaciones" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row col-md-12">
                                        <div class="form-group col-md-4">
                                            <label>*Lugar de Origen</label>
                                            <input id="txtLugarOrigen" class="form-control" type="text" placeholder="Ingresar Lugar de Origen" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Cita Packing</label>
                                            <input id="txtCitaPacking" class="form-control" type="date" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Hora cita Packing</label>
                                            <input id="txtHoraPacking" class="form-control" type="time" />
                                        </div>

                                    </div>
                                    <div class="form-row col-md-12">
                                        <div class="form-group col-md-4">
                                            <label>*Fecha Inspeccion Senasa</label>
                                            <input id="txtFechaSenasa" type="date" class="form-control" name="task_date" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Horal Inspeccion Senasa</label>
                                            <input id="txtHoraSenasa" type="time" class="form-control" name="task_time" />
                                        </div>
                                    </div>
                                    <div class="form-row col-md-12">

                                        <div class="form-group col-md-4">
                                            <label>*Razon Social del Packing</label>
                                            <input id="txtRazonSocialPacking" class="form-control" type="text" placeholder="Ingresar Paletas" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*RUC Packing</label>
                                            <input id="txtRucPacking" class="form-control" type="text" placeholder="Ingresar Paletas" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Dirección del Packing</label>
                                            <input id="txtDireccionPacking" class="form-control" type="text" placeholder="Ingresar Paletas" />
                                        </div>
                                    </div>
                                    <div class="form-row col-md-12">

                                        <div class="form-group col-md-4">
                                            <label>*DrawBack</label>
                                            <select id="cbo_DrawBack" class="form-control">
                                                <option value="1">Si</option>
                                                <option value="0">No</option>
                                            </select>
                                            @*<input id="txtDrawBack" class="form-control" type="text" placeholder="Ingresar Paletas" />*@
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Deposito de Vacios</label>
                                            <input id="txtDepositoVacios" class="form-control" type="text" placeholder="Ingresar Paletas" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Terminal Portuario</label>
                                            <input type="text" class="form-control" id="txtPuertoEmbarqueInttra" placeholder="Ingresar Puerto Embarque Inttra">
                                            <input type="hidden" id="hddEmbarqueIdInttra">
                                            <input type="hidden" id="hddEmbarqueCodigoPuertoInttra">
                                            <input type="hidden" id="hddEmbarqueCodigoPaisInttra">
                                            <input type="hidden" id="hddEmbarqueNombrePaisInttra">
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">

                                <div class="card-footer col-md-12">
                                    <button id="btnInsert" class="btn btn-primary rounded-pill float-right form-control col-md-3" onclick="UpdateOperacionLogistica(); return false;">Siguiente <i class="fas fa-arrow-circle-right"></i></button>
                                    <button class="btn btn-primary rounded-pill float-left form-control col-md-3" onclick="Volver(); return false;"><i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp; Volver</button>
                                </div>
                              


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</body>


@section Scripts {
    <script src="~/build/js/CustomerService/OperacionLogistica/editar.opl.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
}
