﻿
@{
    ViewData["Title"] = "DetalleLogistica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <meta charset="utf-8">

    @*<title>Html Generated</title>
        <meta name="description" content="Figma htmlGenerator">*@
    @*<meta name="author" content="htmlGenerator">*@
    <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/dist/css/style_detalle.css">

    <style>

        /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
        body {
            background: #E5E5E5;
        }
    </style>

</head>

<body>
    <br />
    <div id="gridhtml"></div>
</body>


@section Scripts {
    <script src="~/build/js/CustomerService/OperacionLogistica/seguimiento.opl.js"></script>

}