<head>
    <!--[if (gte mso 9)|(IE)]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- So that mobile will display zoomed in -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- enable media queries for windows phone 8 -->
    <meta name="format-detection" content="telephone=no" /> <!-- disable auto telephone linking in iOS -->
    <meta name="format-detection" content="date=no" /> <!-- disable auto date linking in iOS -->
    <meta name="format-detection" content="address=no" /> <!-- disable auto address linking in iOS -->
    <meta name="format-detection" content="email=no" /> <!-- disable auto email linking in iOS -->
    <title></title>

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />

    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
      td, td div, td span, td p, td a {font-family: Arial,Helvetica,sans-serif !important;}
    </style>
    <![endif]-->

    <style type="text/css">
        /*Basics*/
        body {
            margin: 0px !important;
            padding: 0px !important;
            display: block !important;
            min-width: 100% !important;
            width: 100% !important;
            -webkit-text-size-adjust: none;
        }

        table {
            border-spacing: 0;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

            table td {
                border-collapse: collapse;
            }

        strong {
            font-weight: bold !important;
        }

        td img {
            -ms-interpolation-mode: bicubic;
            display: block;
            width: auto;
            max-width: auto;
            height: auto;
            margin: auto;
            display: block !important;
            border: 0px !important;
        }

        td p {
            margin: 0 !important;
            padding: 0 !important;
            display: inline-block !important;
            font-family: inherit !important;
        }

        td a {
            text-decoration: none !important;
        }
        /*Outlook*/
        .ExternalClass {
            width: 100%;
        }

            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: inherit;
            }

        .ReadMsgBody {
            width: 100%;
            background-color: #ffffff;
        }
        /* iOS BLUE LINKS */
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }
        /*Gmail blue links*/
        u + #body a {
            color: inherit;
            text-decoration: none;
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            line-height: inherit;
        }
        /*Buttons fix*/
        .undoreset a, .undoreset a:hover {
            text-decoration: none !important;
        }

        .yshortcuts a {
            border-bottom: none !important;
        }

        .ios-footer a {
            color: #aaaaaa !important;
            text-decoration: none;
        }
        /*Responsive*/
        @media screen and (max-width: 599px) {

            .ocultar {
                display: none !important;
            }

            .texto-justificado {
                text-align: left !important;
            }

            .texto-11px {
                font-size: 11px !important;
            }

            .width-500 {
                max-width: 350px !important;
            }

            .izq-0 {
                margin-left: -65px !important;
            }

            .texto-24 {
                font-size: 24px !important;
            }

            .texto-14 {
                font-size: 14px !important;
            }


            td.img-responsive img {
                width: 100% !important;
                max-width: 100% !important;
                height: auto !important;
                margin: auto;
            }

            td.img-responsive-border img {
                width: 88% !important;
                max-width: 88% !important;
                height: auto !important;
                margin: auto;
            }

            table.row {
                width: 100% !important;
                max-width: 100% !important;
            }

            table.center-float, td.center-float {
                float: none !important;
            }

            td.center-text {
                text-align: center !important;
            }

            td.container-padding {
                width: 100% !important;
                padding-left: 15px !important;
                padding-right: 15px !important;
            }

            table.hide-mobile, tr.hide-mobile, td.hide-mobile, br.hide-mobile {
                display: none !important;
            }

            td.menu-container {
                text-align: center !important;
            }

            td.autoheight {
                height: auto !important;
            }

            td.border-rounded {
                border-radius: 6px !important;
            }

            td.border-none {
                border: none !important;
            }

            table.mobile-padding {
                margin: 15px 0 !important;
            }
        }
    </style>
</head>

<body id="body" style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;" bgcolor="#FFFFFF">

    <!-- PREVIEW TEXT-->
    <span class="mcnPreviewText" style="display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; visibility:hidden; mso-hide:all;">
    </span>

    <!-- preheader-3 -->

    <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" data-thumbnail="" data-thumb="" data-module="preheader-3" style="width:100%;max-width:100%;">
        <tr>
            <td class="preheader-3" align="center" valign="top">

                <!-- body-bg-color -->
                <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" class="row" style="width:100%;max-width:100%;">
                    <tr>
                        <td class="body-bg-color" align="center" valign="top" data-bgcolor="Body" data-primary-order="1" data-primary-type="bgcolor" bgcolor="#FFFFFF">

                            <!-- bg-color -->
                            <table border="0" width="800" align="center" cellpadding="0" cellspacing="0" class="row" style="width:800px;max-width:800px;">
                                <tr>
                                    <td class="bg-color" align="center" valign="top" data-bgcolor="Module" data-primary-order="2" data-primary-type="bgcolor" bgcolor="#FFFFFF">
                                    </td>
                                </tr>
                            </table>
                            <!-- bg-color -->

                        </td>
                    </tr>
                </table>
                <!-- body-bg-color -->

            </td>
        </tr>
    </table>

    <!-- preheader-3 -->
    <!-- HEADER STARTS -->
    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" mc:repeatable="header" class="mcbc-main">
        <tr>
            <td align="center">
                <div style="display:inline-block; width:100%;  vertical-align:top;">
                    <!-- ID:BG HEADER OPTIONAL -->
                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="display-width mcbc-sec-header-optional" width="100%">
                        <tr>
                            <!-- ID:TXT TITLE -->
                            <td align="center">
                                <img src="https://vecloud.azurewebsites.net/dist/img/email/header.jpg" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <!-- HEADER ENDS -->
    <!-- HEADER STARTS -->
    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" mc:repeatable="header" class="mcbc-main">
        <tr>
            <td align="center">
                <div style="display:inline-block; width:100%; vertical-align:top;">
                    <!-- ID:BG HEADER OPTIONAL -->
                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="display-width mcbc-sec-header-optional" width="100%">
                        <tr>
                            <!-- ID:TXT TITLE -->
                            <td align="center">
                                <img src="https://vecloud.azurewebsites.net/dist/img/email/Icono-cargo.jpg" alt="Icono-cargo" border="0">
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <!-- HEADER ENDS -->
    <!-- preface-4 -->

    <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" data-thumbnail="" data-thumb="" data-module="preface-4" data-group="Preface" style="width:100%;max-width:100%;">
        <tr>
            <td class="preface-4" align="center" valign="top">

                <!-- body-bg-color -->
                <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" class="row" style="width:100%;max-width:100%;">
                    <tr>
                        <td class="body-bg-color" align="center" valign="top" data-bgcolor="Body" data-primary-order="1" data-primary-type="bgcolor" bgcolor="#FFFFFF">

                            <!-- bg-color -->
                            <table border="0" width="800" align="center" cellpadding="0" cellspacing="0" class="row" style="width:800px;max-width:800px;">
                                <tr>
                                    <td class="bg-color" align="center" valign="top" data-bgcolor="Module" data-primary-order="2" data-primary-type="bgcolor" bgcolor="#FFFFFF">

                                        <!-- container -->
                                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="row" style="width:600px;max-width:600px;">
                                            <tr>
                                                <td align="center" valign="top" class="container-padding">

                                                    <!-- space -->
                                                    <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width:100%;max-width:100%;">
                                                        <tr>
                                                            <td valign="middle" align="center" height="20" style="font-size:20px;line-height:20px;">&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                    <!-- space -->
                                                    <!-- title -->
                                                    <table data-repeatable border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%; max-width:100%;">
                                                        <tr>
                                                            <td class="title center-text texto-24" data-color="title" data-size="title" data-min="25" data-max="45" valign="middle" align="center" style="font-family:'Rubik',Arial,Helvetica,sans-serif; font-size:28px; line-height:32px; font-weight:normal;font-style:normal; color:#000000;text-decoration:none;letter-spacing: 0px;">

                                                                Estamos en proceso de liquidación<br>
                                                                <b>– BK {NroBooking}</b>

                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- title -->
                                                    <!-- space -->
                                                    <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width:100%;max-width:100%;">
                                                        <tr>
                                                            <td valign="middle" align="center" height="20" style="font-size:20px;line-height:20px;">&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                    <!-- space -->

                                                </td>
                                            </tr>
                                        </table>
                                        <!-- container -->

                                    </td>
                                </tr>
                            </table>
                            <!-- bg-color -->

                        </td>
                    </tr>
                </table>
                <!-- body-bg-color -->

            </td>
        </tr>
    </table>

    <!-- preface-4 -->
    <!-- HEADER STARTS -->
    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" mc:repeatable="header" class="mcbc-main">
        <tr>
            <td align="center">
                <div style="display:inline-block; width:100%; vertical-align:top;">
                    <!-- ID:BG HEADER OPTIONAL -->
                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="display-width mcbc-sec-header-optional" width="100%" >
                        <tr>
                            <!-- ID:TXT TITLE -->
                            <td align="center" >
                                <img src="https://vecloud.azurewebsites.net/dist/img/email/flete-estado-5.jpg" alt="flete-estado-5" border="0">
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <!-- HEADER ENDS -->
    <!-- preface-4 -->

    <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" data-thumbnail="" data-thumb="" data-module="preface-4" data-group="Preface" style="width:100%;max-width:100%;">
        <tr>
            <td class="preface-4" align="center" valign="top">

                <!-- body-bg-color -->
                <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" class="row" style="width:100%;max-width:100%;">
                    <tr>
                        <td class="body-bg-color" align="center" valign="top" data-bgcolor="Body" data-primary-order="1" data-primary-type="bgcolor" bgcolor="#FFFFFF">

                            <!-- bg-color -->
                            <table border="0" width="800" align="center" cellpadding="0" cellspacing="0" class="row" style="width:800px;max-width:800px;">
                                <tr>
                                    <td class="bg-color" align="center" valign="top" data-bgcolor="Module" data-primary-order="2" data-primary-type="bgcolor" bgcolor="#FFFFFF">

                                        <!-- container -->
                                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="row" style="width:600px;max-width:600px;">
                                            <tr>
                                                <td align="center" valign="top" class="container-padding">

                                                    <!-- space -->
                                                    <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width:100%;max-width:100%;">
                                                        <tr>
                                                            <td valign="middle" align="center" height="20" style="font-size:20px;line-height:20px;">&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                    <!-- space -->
                                                    <!-- text -->
                                                    <table data-repeatable border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%; max-width:100%;">
                                                        <tr>
                                                            <td class="text center-text texto-14 " data-color="text" data-size="text" data-min="10" data-max="18" valign="middle" align="center" style="font-family:'Rubik',Arial,Helvetica,sans-serif; font-size:16px; line-height:24px; font-weight:normal;font-style:normal; color:#707070;text-decoration:none;letter-spacing: 0px;">

                                                                Puede verificar el estado de su solicitud en el siguiente link.

                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- text -->
                                                    <!-- text -->
                                                    <table data-repeatable border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%; max-width:100%;">
                                                        <tr>
                                                            <td class="text center-text texto-14 " data-color="text" data-size="text" data-min="10" data-max="18" valign="middle" align="center" style="font-family:'Rubik',Arial,Helvetica,sans-serif; font-size:16px; line-height:24px; font-weight:normal;font-style:normal; color:#707070;text-decoration:none;letter-spacing: 0px;">


                                                                Cualquier duda que tenga, recuerde que puede contactarse con su Ejecutivo.

                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- text -->
                                                    <!-- space -->
                                                    <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width:100%;max-width:100%;">
                                                        <tr>
                                                            <td valign="middle" align="center" height="40" style="font-size:40px;line-height:40px;">&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                    <!-- space -->
                                                    <!-- text -->
                                                    <table data-repeatable border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%; max-width:100%;">
                                                        <tr>
                                                            <td class="text center-text" data-color="text" data-size="text" data-min="10" data-max="18" valign="middle" align="center" style="font-family:'Rubik',Arial,Helvetica,sans-serif; font-size:18px; line-height:24px; font-weight:normal;font-style:normal; color:#4DB391;text-decoration:none;letter-spacing: 0px;">

                                                                Para ir a Ve Cloud dar clic aqui:

                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- text -->
                                                    <!-- text -->
                                                    <table data-repeatable border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%; max-width:100%;">
                                                        <tr>
                                                            <td class="text center-text" data-color="text" data-size="text" data-min="10" data-max="18" valign="middle" align="center" style="font-family:'Rubik',Arial,Helvetica,sans-serif; font-size:22px; line-height:24px; font-weight:normal;font-style:normal; color:#1D73AA;text-decoration:none;letter-spacing: 0px;padding-top: 10px;">

                                                                <a href="https://vecloud.azurewebsites.net/Identity/Account/Login?ReturnUrl=%2F" style="color: #1D73AA;">https://vecloud.azurewebsites.net </a>

                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- text -->
                                                    <!-- space -->
                                                    <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width:100%;max-width:100%;">
                                                        <tr>
                                                            <td valign="middle" align="center" height="20">&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                    <!-- space -->
                                                    <!-- space -->
                                                    <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width:100%;max-width:100%;">
                                                        <tr>
                                                            <td valign="middle" align="center" height="40" style="font-size:40px;line-height:40px;">&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                    <!-- space -->

                                                </td>
                                            </tr>
                                        </table>
                                        <!-- container -->

                                    </td>
                                </tr>
                            </table>
                            <!-- bg-color -->

                        </td>
                    </tr>
                </table>
                <!-- body-bg-color -->

            </td>
        </tr>
    </table>

    <!-- preface-4 -->
    <!-- preheader-5 -->

    <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" data-thumbnail="" data-thumb="" data-module="preheader-5" data-group="Preheader" style="width:100%;max-width:100%;">
        <tr>
            <td class="preheader-5" align="center" valign="top">

                <!-- body-bg-color -->
                <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" class="row" style="width:100%;max-width:100%;">
                    <tr>
                        <td class="body-bg-color" align="center" valign="top" data-bgcolor="Body" data-primary-order="1" data-primary-type="bgcolor" bgcolor="#FFFFFF">

                            <!-- bg-color -->
                            <table border="0" width="800" align="center" cellpadding="0" cellspacing="0" class="row" style="width:800px;max-width:800px;">
                                <tr>
                                    <td class="bg-color" align="center" valign="top" data-bgcolor="Module" data-primary-order="2" data-primary-type="bgcolor" bgcolor="#FFFFFF">

                                        <!-- container -->
                                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="row" style="width:600px;max-width:600px;">
                                            <tr>
                                                <td align="center" valign="top" class="container-padding">

                                                    <!-- container-2-columns -->
                                                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="row" style="width:600px;max-width:600px;">
                                                        <tr>
                                                            <td align="center" valign="top">

                                                                <!-- icon-txt -->
                                                                <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" class="row" style="width:100%; max-width:100%;">
                                                                    <tr>
                                                                        <td valign="middle" align="center">

                                                                            <table border="0" cellpadding="0" cellspacing="0" align="center" class="center-float">
                                                                                <tr>
                                                                                    <td valign="middle" align="center" height="20">
                                                                                        <!--[if (gte mso 9)|(IE)]><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="middle"><![endif]-->
                                                                                        <table data-repeatable border="0" cellpadding="0" cellspacing="0" align="center" style="display:inline-block;vertical-align:middle;">
                                                                                            <tr>
                                                                                                <td align="center" valign="middle" width="30" height="16" class="img16"><img style="display:block;width:100%;max-width:32px;border:0px;" src="https://vecloud.azurewebsites.net/dist/img/email/VE-icono-mail.jpg" width="32" border="0" data-crop="false" alt="envelope"></td>
                                                                                                <td class="title" data-color="email" data-size="email" data-min="10" data-max="14" valign="middle" align="left" height="16" style="font-family:'Rubik',Arial,Helvetica,sans-serif;font-size:20px;line-height:12px;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;letter-spacing:0px;">

                                                                                                    <a href="mailto:info@ve-logistics.com" target="_blank" style="color:#707070;">info@ve-logistics.com</a>

                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                        <!--[if (gte mso 9)|(IE)]></td><td valign="middle"><![endif]-->
                                                                                        <!-- gap -->
                                                                                        <table width="10" border="0" cellpadding="0" cellspacing="0" align="center" class="row" style="width:10px;max-width:10px; display:inline-block;vertical-align:middle;">
                                                                                            <tr>
                                                                                                <td valign="middle" align="center" height="16"></td>
                                                                                            </tr>
                                                                                        </table>
                                                                                        <!-- gap -->
                                                                                        <!--[if (gte mso 9)|(IE)]></td><td valign="middle"><![endif]-->
                                                                                        <table data-repeatable border="0" cellpadding="0" cellspacing="0" align="center" style="display:inline-block;vertical-align:middle;">
                                                                                            <tr>
                                                                                                <td align="center" valign="middle" width="32" height="16" class="img16"><img style="display:block;width:100%;max-width:32px;border:0px;" src="https://vecloud.azurewebsites.net/dist/img/email/VE-icono-linkedin.jpg" width="32" border="0" data-crop="false" alt="mobile-phone"></td>
                                                                                                <td valign="middle" align="left" height="16" data-color="phone-number" data-size="phone-number" data-min="10" data-max="14" style="font-family:'Rubik',Arial,Helvetica,sans-serif;font-size:20px;line-height:12px;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;letter-spacing:0px;">

                                                                                                    <a class="phone-number" href="https://www.linkedin.com/company/ve-logistics/about/" style="color:#707070;">VE Logistics</a>

                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                        <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                                                                                    </td>
                                                                                </tr>
                                                                            </table>

                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <!-- icon-txt -->

                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- container-2-columns -->
                                                    <!-- space -->
                                                    <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width:100%;max-width:100%;">
                                                        <tr>
                                                            <td valign="middle" align="center" height="15" style="font-size:15px;line-height:15px;">&nbsp;</td>
                                                        </tr>
                                                    </table>

                                                </td>
                                            </tr>
                                        </table>
                                        <!-- bg-color -->

                                    </td>
                                </tr>
                            </table>
                            <!-- body-bg-color -->

                        </td>
                    </tr>
                </table>

                <!-- preheader-5 -->
                <!-- HEADER STARTS -->
                <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" mc:repeatable="header" class="mcbc-main">
                    <tr>
                        <td align="center">
                            <div style="display:inline-block; width:100%; vertical-align:top;">
                                <!-- ID:BG HEADER OPTIONAL -->
                                <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="display-width mcbc-sec-header-optional" width="100%" >
                                    <tr>
                                        <!-- ID:TXT TITLE -->
                                        <td align="center" >
                                            <img src="https://vecloud.azurewebsites.net/dist/img/email/ve-sombra.jpg" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- HEADER ENDS -->
                <!-- preface-4 -->

                <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" data-thumbnail="" data-thumb="" data-module="preface-4" data-group="Preface" style="width:100%;max-width:100%;">
                    <tr>
                        <td class="preface-4" align="center" valign="top">

                            <!-- body-bg-color -->
                            <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" class="row" style="width:100%;max-width:100%;">
                                <tr>
                                    <td class="body-bg-color" align="center" valign="top" data-bgcolor="Body" data-primary-order="1" data-primary-type="bgcolor" bgcolor="#FFFFFF">

                                        <!-- bg-color -->
                                        <table border="0" width="800" align="center" cellpadding="0" cellspacing="0" class="row" style="width:800px;max-width:800px;">
                                            <tr>
                                                <td class="bg-color" align="center" valign="top" data-bgcolor="Module" data-primary-order="2" data-primary-type="bgcolor" bgcolor="#FFFFFF">

                                                    <!-- container -->
                                                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="row" style="width:600px;max-width:600px;">
                                                        <tr>
                                                            <td align="center" valign="top" class="container-padding">

                                                                <!-- space -->
                                                                <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width:100%;max-width:100%;">
                                                                    <tr>
                                                                        <td valign="middle" align="center" height="20" style="font-size:20px;line-height:20px;">&nbsp;</td>
                                                                    </tr>
                                                                </table>
                                                                <!-- space -->
                                                                <!-- title -->
                                                                <table data-repeatable border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%; max-width:100%;">
                                                                    <tr>
                                                                        <td class="title center-text" data-color="title" data-size="title" data-min="25" data-max="45" valign="middle" align="center" style="font-family:'Rubik',Arial,Helvetica,sans-serif; font-size:20px; line-height:32px; font-weight:normal;font-style:normal; color:#707070;text-decoration:none;letter-spacing: 0px;">

                                                                            <b>VE LOGISTICS</b> - SOLUCIONES LOGÍSTICAS


                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <!-- title -->
                                                                <!-- space -->
                                                                <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width:100%;max-width:100%;">
                                                                    <tr>
                                                                        <td valign="middle" align="center" height="15" style="font-size:15px;line-height:15px;">&nbsp;</td>
                                                                    </tr>
                                                                </table>
                                                                <!-- space -->
                                                                <!-- text -->
                                                                <table data-repeatable border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%; max-width:100%;">
                                                                    <tr>
                                                                        <td class="text center-text" data-color="text" data-size="text" data-min="10" data-max="18" valign="middle" align="center" style="font-family:'Rubik',Arial,Helvetica,sans-serif; font-size:15px; line-height:24px; font-weight:normal;font-style:normal; color:#707070;text-decoration:none;letter-spacing: 0px;">

                                                                            <i>No responder a este mensaje. Las respuestas se enviarán a un buzón no supervisado</i>

                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <!-- text -->
                                                                <!-- space -->
                                                                <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width:100%;max-width:100%;">
                                                                    <tr>
                                                                        <td valign="middle" align="center" height="20">&nbsp;</td>
                                                                    </tr>
                                                                </table>
                                                                <!-- space -->
                                                                <!-- space -->
                                                                <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width:100%;max-width:100%;">
                                                                    <tr>
                                                                        <td valign="middle" align="center" height="40" style="font-size:40px;line-height:40px;">&nbsp;</td>
                                                                    </tr>
                                                                </table>
                                                                <!-- space -->

                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- container -->

                                                </td>
                                            </tr>
                                        </table>
                                        <!-- bg-color -->

                                    </td>
                                </tr>
                            </table>
                            <!-- body-bg-color -->

                        </td>
                    </tr>
                </table>

                <!-- preface-4 -->

</body>
