﻿<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<div class="grey-bg container-fluid">
    <section id="minimal-statistics">
        <div class="row justify-content-center align-items-center">
            <div class="col-6 mt-xl-5 mb-2 justify-content-center align-items-center" style="text-align:center">
                <h4 class=" justify-content-center align-items-center">¡Bienvenido a <b>VE Cloud!</b></h4>
                @*<p><b>Nota del mes:</b>Lorem ipsum dolor sit amet,consecteur adipiscing elit, sed do eiusmod tempor</p>
                    <p><b>incididunt ut labore et dolore magna aliqua. Ut enim ad minim <b>veniam atur amet</b></p>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-4 " style="text-align:center">
                            <button type="submit" class="btn btn-primary btn-block" style="text-align:center">Ver todo</button>

                        </div>
                    </div>*@

            </div>
        </div>
        <br />
        <br />
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-3 ">
                <div class="card" style="height: 28rem;">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row justify-content-center align-items-center">
                                <img class="card-img-top p-2" src="~/dist/img/logo-maritimo2.png" width="150" height="250" alt="Flete Maritimo">
                                <div class="card-body text-center">
                                    <h5 class="text-center font-weight-bold">Flete Maritimo</h5>
                                    <h6 class="text-center">Total General <b><span id="total_booking"></span></b></h6>
                                    <div class="row mb-3">
                                        <div class="col-1"></div>
                                        <div class="col-4">
                                            <span id="confirmado_booking"></span> <i class="fa fa-check-circle" style="color: forestgreen"></i>
                                        </div>
                                        <div class="col-2"></div>
                                        <div class="col-4">
                                            <span id="pendiente_booking"></span> <i class="fa fa-calendar-alt" style="color: forestgreen"></i>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                    <a href="#" onclick="VerEstadistica(); return false;" class="btn btn-primary rounded-pill">Ingresar <i class="fa fa-arrow-alt-circle-right"></i> </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 ">
                <div class="card" style="height: 28rem;">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row justify-content-center align-items-center">
                                <img class="card-img-top p-2" src="~/dist/img/logo-logistica2.png" width="150" height="250" alt="Operacion Logistica">

                                <div class="card-body text-center">
                                    <h5 class="text-center font-weight-bold">Operación Logística</h5>
                                    <h6 class="text-center">Total General <b><span id="total_opl"></span></b></h6>
                                    <div class="row mb-3">
                                        <div class="col-1"></div>
                                        <div class="col-4">
                                            <span id="confirmado_opl"></span> <i class="fa fa-check-circle" style="color: forestgreen"></i>
                                        </div>
                                        <div class="col-2"></div>
                                        <div class="col-4">
                                            <span id="pendiente_opl"></span> <i class="fa fa-calendar-alt" style="color: forestgreen"></i>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                    <a href="#" onclick="VerEstadistica2(); return false;" class="btn btn-primary rounded-pill">Ingresar <i class="fa fa-arrow-alt-circle-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






        </div>


    </section>


</div>

@*<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>*@

@*signalr/dist/browser/signalr.js*@
@*<script src="~/build/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/build/js/chat.js"></script>*@



@section Scripts {
    <script src="~/build/js/main.cliente.js"></script>
    <script src="~/build/js/Alertas/main.alertas.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">

}
