﻿    <!-- Main content -->

@{
    ViewData["Title"] = "Contratos";
    ViewData["PageTitle"] = "Mis Contratos";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="loading show" id="contenedor_spinner" style="visibility:hidden">
    <div class="spin"></div>
</div>*@
<div asp-authorize asp-roles="Administrador,Cliente">
    <input type="hidden" value="admin" id="tipousuario" />
</div>
<div asp-authorize asp-roles="Customer Service">
    <input type="hidden" value="customer" id="tipousuario" />
</div>
<body>


    <div class="row">

        <div class="col-12">
            <div class="card card-primary">
                <form>

                    <div class="card-body" style="padding-bottom: 0rem;">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="txtNumeroCotizacion">Numero de cotizacion</label>
                                <input type="text" class="form-control" id="txtNumeroCotizacion" placeholder="Ingresar">
                            </div>

                            @*<div class="form-group col-md-3">
                                    <label for="txtCommodity">Commodity</label>
                                    <select class="form-control " id="txtComodity" asp-items="@Model.ListaCommodity" >
                                        <option value="">--Selecciona Comodity--</option>
                                    </select>
                                </div>*@

                            <div class="form-group col-md-4">
                                <label>*Puerto de Carga</label>
                                <input type="text" class="form-control" id="txtPuertoEmbarque" placeholder="Ingresar Puerto Embarque"> @*value="PECLL">*@
                                <input type="hidden" id="hddEmbarqueId">
                                <input type="hidden" id="hddEmbarqueCodigoPuerto">
                                <input type="hidden" id="hddEmbarqueCodigoPais">
                                <input type="hidden" id="hddEmbarqueNombrePais">
                                <input type="hidden" id="hddEmbarqueNombreRegion">
                            </div>

                            <div class="form-group col-md-4">
                                <label>*Puerto de Descarga</label>
                                <input type="text" class="form-control" id="txtPuertoDescarga" placeholder="Ingresar Puerto Descarga"> @*value="PECLL">*@
                                <input type="hidden" id="hddDescargaId">
                                <input type="hidden" id="hddDescargaCodigoPuerto">
                                <input type="hidden" id="hddDescargaCodigoPais">
                                <input type="hidden" id="hddDescargaNombrePais">
                                <input type="hidden" id="hddDescargaNombreRegion">
                            </div>

                            <div class="form-group col-md-3" style="display:none">
                                <label>*Estado</label>
                                <select class="form-control " id="cbo_estados">
                                    <option value="">-- Todos --</option>
                                    <option value="draft">draft</option>
                                    <option value="done">done</option>
                                    <option value="cancelled">cancelled</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button onclick="BusquedaContratos(); return false; " class="btn btn-primary float-right">Realizar Busqueda</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <section>
        <div class="row" id="gridCompleto" style="display:none">

            <div class="col-3">
                <div class="list-group">
                    <div id="gridListaNaviera"></div>
                    </div>
            </div>
            <div class="col-9">

                <div id="gridhtmldetalle">

                </div>
            </div>
        </div>
        <div class="row" id="gridNoData" style="display:none">
           <div class="row">
               <div class="col-md-12">
                   <div class="card">
                       <div class="card-body">
                           No se encontraron datos.
                       </div>
                   </div>
               </div>

           </div>
        </div>
</section>
</body>

@section Scripts {
    <script src="~/build/js/Contratos/mis.contratos.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
}