﻿
@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="form">
    <div class="card-header">
    </div><div asp-validation-summary="ModelOnly" class="text-danger"></div>



    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <h4>  Registrar una nueva proyección</h4>
                                </div>
                                <div class="col-6 text-right">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="row">

                                <div class="form-group col-md-4">
                                    <label for="txtCampaña">Campaña</label>
                                    <select class="form-control " name="dllCampana" id="dllCampana" asp-items="@Model.ListaCampania" required>
                                        <option value="" disabled selected>--Selecciona Campaña--</option>
                                        @*<option value="0">--Selecciona Campaña--</option>*@
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="txtCommodity">Commodity</label>
                                    <select class="form-control " name="dllComodity" id="dllComodity" asp-items="@Model.ListaCommodity" required>
                                        <option value="" disabled selected>--Selecciona Comodity--</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label>*Tipo</label>
                                    <select class="form-control" id="dllTipo" required>
                                        <option value="" disabled selected>--Selecciona--</option>
                                        <option value="REFFER" selected>REFFER</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>*Puerto de Carga</label>
                                    <input type="text" name="dllorigen" class="form-control" id="dllorigen" placeholder="Ingresar Puerto Embarque" required> @*value="PECLL">*@
                                    <input type="hidden" id="hddEmbarqueCodigoPuerto">
                                    <input type="hidden" id="hddEmbarqueCodigoPais">
                                    <input type="hidden" id="hddEmbarqueNombrePais">
                                    <input type="hidden" id="hddEmbarqueNombreRegion">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>*Puerto de Descarga</label>
                                    <input type="text" class="form-control" id="dllDestino" placeholder="Ingresar Puerto Descarga" required> @*value="PECLL">*@
                                    <input type="hidden" id="hddDescargaCodigoPuerto">
                                    <input type="hidden" id="hddDescargaCodigoPais">
                                    <input type="hidden" id="hddDescargaNombrePais">
                                    <input type="hidden" id="hddDescargaNombreRegion">

                                </div>
                                
                            </div>
                            <div class="row">.</div>
                            <div class="row">
                                <div class="col-1 text-right">S1</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s1" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S7</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s7" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S13</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s13" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S19</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s19" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S25</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s25" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S31</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s31" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            </div>
                            <div class="row">
                                <div class="col-1 text-right">S2</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s2" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S8</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s8" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S14</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s14" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S20</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s20" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S26</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s26" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"> </div>
                                <div class="col-1 text-right">S32</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s32" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            </div>
                            <div class="row">
                                <div class="col-1 text-right">S3</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s3" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S9</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s9" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S15</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s15" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S21</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s21" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S27</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s27" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S33</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s33" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            </div>
                            <div class="row">
                                <div class="col-1 text-right">S4</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s4" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S10</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S16</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s16" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S22</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s22" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S28</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s28" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S34</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s34" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            </div>
                            <div class="row">
                                <div class="col-1 text-right">S5</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s5" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S11</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s11" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S17</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s17" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S23</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s23" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S29</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s29" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S35</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s35" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            </div>
                            <div class="row">
                                <div class="col-1 text-right">S6</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s6" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S12</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s12" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S18</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s18" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S24</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s24" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S30</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s30" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                                <div class="col-1 text-right">S36</div>
                                <div class="col-1"><input type="text" class="form-control" id="txt_s36" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button id="btnGuardar" class="btn btn-primary float-right" onclick="InsertProyeccion(); return false;">Guardar</button>
                            @*<button id="btnGuardar" type="submit" class="btn btn-primary float-right">Guardar</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</form>
@section Scripts {
   

    <script src="~/build/js/Proyeccion/proyeccion.registrar.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@


}

