﻿@model VELogisticCloud.App.Web.Util.ModelCombos
@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
</div><div asp-validation-summary="ModelOnly" class="text-danger"></div>


<div class="wrapper">



    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <!-- form start -->
                        <form>

                            <div class="card-body" style="padding-bottom: 0rem;">
                                <div class="form-row">

                                    <div class="form-group col-md-2">
                                        <label for="txtFecha">Fecha</label>
                                        <input type="date" class="form-control" id="txtFecha" placeholder="Ingresar">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="txtCommodity">Commodity</label>
                                        <input type="text" class="form-control" id="txtCommodity" placeholder="Ingresar destino">
                                        <input type="hidden" id="hddCommodity">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="txtPuertoDestino">Destino</label>
                                        <input type="text" class="form-control" id="txtPuertoDestino" placeholder="Ingresar destino">
                                        <input type="hidden" id="hddDestinoCodigoPuerto">
                                        <input type="hidden" id="hddDestinoCodigoPais">
                                        <input type="hidden" id="hddDestinoNombrePais">
                                        <input type="hidden" id="hddDestinoNombreRegion">
                                    </div>
                                    <div class="form-group col-md-5" style="padding-top:1%;text-align:right;">
                                        <button type="button" class="btn btn-primary float-right" onclick="Lista(); return false;">Busqueda</button>

                                    </div>
                                    <div class="form-group col-md-1" style="padding-top:1%;text-align:right;">
                                        <button type="button" class="btn btn-primary float-right" onclick="EnviarARegistro(); return false;">Registro</button>
                                    </div>
                                </div>
                                <div class="form-row">
                                    
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="gridhtml"></div>

    </section>
</div>

@section Scripts {
    <script src="~/build/js/Proyeccion/lista.proyecciones.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
}
