﻿
@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
</div><div asp-validation-summary="ModelOnly" class="text-danger"></div>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h4>  Visualizar una proyección</h4>
                            </div>
                            <div class="col-6 text-right">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row col-12">
                            <div class="col-4">Campaña</div>
                            <div class="col-4">Commodity</div>
                            <div class="col-4">Tipo</div>
                        </div>
                        <div class="row col-12">
                            <div class="col-4">
                                <input type="text" class="form-control " id="txtCampana" readonly>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control " id="txtComodity" readonly>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" id="txtTipo" readonly>
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-4">Origen</div>
                            <div class="col-4">Tipo</div>
                        </div>
                        <div class="row col-12">
                            <div class="col-4">
                                <input type="text" class="form-control" id="txtOrigen" readonly>
                            </div>
                            <div class="col-4" id="dllTipo">
                                <input type="text" class="form-control" id="txtDestino" readonly>
                            </div>
                        </div>
                        <div class="row">.</div>
                        <div class="row">
                            <div class="col-1 text-right">S1</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s1" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" ></div>
                            <div class="col-1 text-right">S7</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s7" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S13</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s13" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S19</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s19" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S25</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s25" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S31</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s31" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                        </div>
                        <div class="row">
                            <div class="col-1 text-right">S2</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s2" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S8</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s8" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S14</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s14" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S20</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s20" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S26</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s26" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"> </div>
                            <div class="col-1 text-right">S32</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s32" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                        </div>
                        <div class="row">
                            <div class="col-1 text-right">S3</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s3" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S9</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s9" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S15</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s15" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S21</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s21" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S27</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s27" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S33</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s33" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                        </div>
                        <div class="row">
                            <div class="col-1 text-right">S4</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s4" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S10</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S16</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s16" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S22</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s22" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S28</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s28" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S34</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s34" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                        </div>
                        <div class="row">
                            <div class="col-1 text-right">S5</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s5" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S11</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s11" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S17</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s17" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S23</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s23" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S29</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s29" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S35</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s35" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                        </div>
                        <div class="row">
                            <div class="col-1 text-right">S6</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s6" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S12</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s12" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S18</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s18" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S24</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s24" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S30</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s30" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                            <div class="col-1 text-right">S36</div>
                            <div class="col-1"><input type="text" class="form-control" id="txt_s36" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button id="btnUpdate" class="btn btn-primary float-right" onclick="UpdateProyeccion(); return false">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/build/js/Proyeccion/ViewDatos.proyeccion.js"></script>
}

