﻿@page
@model LoginModel

@{
    Layout = "_LayoutAuthentication";
}


    <partial name="_StatusMessage"  for="StatusMessage" />

<div class="login-logo">
    @*<a asp-controller="Usuario" asp-action="Autenticar"><b>VE Logistics</b> Cloud</a>*@
    <img src="~/dist/img/logo.png" alt="VE LOGISTICS" style="width:128px">
</div>
<!-- /.login-logo -->
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Ingresa tus datos para iniciar sesi&oacute;n</p>

        <form id="account" method="post">


            <div style="margin-bottom:0px !important">
                <span asp-validation-for="Input.Email" class="text-danger text-sm"></span>
            </div>
            <div class="input-group mb-3">
                <input asp-for="Input.Email" type="email" class="form-control" placeholder="Usuario"/>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>


            <div style="margin-bottom:0px !important">
                <span asp-validation-for="Input.Password" class="text-danger text-sm"></span>
            </div>
            <div class="input-group mb-3">
                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Contraseña">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>


            <div asp-validation-summary="All" class="text-danger text-sm"></div>

            <div class="row">
                <div class="col-8">
                    <!--<a id="forgot-password" asp-page="./ForgotPassword">¿Olvidó su contraseña?</a>-->
                </div>
                <!-- /.col -->
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                </div>
                <!-- /.col -->
            </div>

        </form>

    </div>
    <!-- /.login-card-body -->
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
