﻿@page
@using VELogisticCloud.CrossCutting.Comun
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card">
            <div class="card-header">
                <h4>Registro de Usuarios</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Por favor ingrese todos los campos.</p>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Input.Nombre"></label>
                                <input asp-for="Input.Nombre" class="form-control" />
                                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Input.RazonSocial"></label>
                                <input asp-for="Input.RazonSocial" class="form-control" />
                                <span asp-validation-for="Input.RazonSocial" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Input.RUC"></label>
                                <input asp-for="Input.RUC" class="form-control" />
                                <span asp-validation-for="Input.RUC" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Input.NombreContacto"></label>
                                <input asp-for="Input.NombreContacto" class="form-control" />
                                <span asp-validation-for="Input.NombreContacto" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Input.NumeroContacto"></label>
                                <input asp-for="Input.NumeroContacto" class="form-control" />
                                <span asp-validation-for="Input.NumeroContacto" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Input.Rol"></label>
                                <select asp-for="Input.Rol"
                                        class="form-control">
                                    <option value="">Seleccione</option>
                                    <option value="@Rol.ADMINISTRADOR">@Rol.ADMINISTRADOR</option>
                                    <option value="@Rol.CUSTOMER_SERVICE">@Rol.CUSTOMER_SERVICE</option>
                                    <option value="@Rol.CLIENTE">@Rol.CLIENTE</option>
                                </select>
                                <span asp-validation-for="Input.Rol" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6"></div>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Registrar Usuario</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
