﻿
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    @*<script src="http://code.jquery.com/jquery-latest.js"></script>*@
</head>

@*<div class="card-header">
    </div><div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

<body>
    @*<div class="loading show" id="contenedor_spinner" style="visibility:hidden">
        <div class="spin"></div>
    </div>*@
    <div class="cotenedor_carga">
        <div id="carga">

        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <form class="form-reg"  id="frmFormulario" enctype="multipart/form-data">
                            <div class="card-body" style="padding-bottom: 0rem;">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="txt_nroBooking">Seleccione Archivo</label>
                                        <input type="file" class="form-control" id="files" name="files[]" placeholder="Ingrese Archivo">
                                    </div>
                                    <hr />
                                    <div class="form-group col-md-3">
                                        <label for="txt_nroBooking">*</label>
                                        <button type="button" id="upload" class="btn btn-primary form-control">Cargar Datos</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>

@section Scripts {
    <script src="~/build/js/ItinerarioManual/itinerarioManual.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    @*<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
        <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
}
