﻿<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<div class="grey-bg container-fluid">
    <section id="minimal-statistics">
        <div class="row justify-content-center align-items-center">
            <div class="col-6 mt-xl-5 mb-2 justify-content-center align-items-center" style="text-align:center">
                <h4 class=" justify-content-center align-items-center">¡Bienvenido a <b>VE Cloud!</b></h4>
                <p><b>Nota del mes:</b>Lorem ipsum dolor sit amet,consecteur adipiscing elit, sed do eiusmod tempor</p>
                <p><b>incididunt ut labore et dolore magna aliqua. Ut enim ad minim <b>veniam atur amet</b></p>
                <div class="row justify-content-center align-items-center">
                    <div class="col-4 " style="text-align:center">
                        <button type="submit" class="btn btn-primary btn-block" style="text-align:center">Ver todo</button>

                    </div>
                </div>

            </div>
        </div>
        <br />
        <br />
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-2 ">
                <div class="card" style="height: 14rem;">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row justify-content-center align-items-center">
                                <div class="media d-flex">
                                    <div class="align-self-center">
                                        <i class="icon-pencil primary font-large-2"></i>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <br />

                            </div>
                            <div class="row justify-content-center align-items-center">
                                <label>MI VE Cloud</label>
                            </div>
                            <div class="row justify-content-center align-items-center">
                                <div class="col-12 " style="text-align:center">
                                    @Html.ActionLink("Ingresar", "Index", "Home", null, new { @class = "btn btn-primary btn-block" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 ">
                <div class="card" style="height: 14rem;">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row justify-content-center align-items-center">
                                <div class="media d-flex">
                                    <div class="align-self-center">
                                        <i class="icon-pencil primary font-large-2"></i>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <br />

                            </div>
                            <div class="row justify-content-center align-items-center">
                                <label>Odoo</label>
                            </div>
                            <div class="row justify-content-center align-items-center">
                                <div class="col-12 " style="text-align:center">
                                    <button type="submit" class="btn btn-primary btn-block" style="text-align:center">Ingresar</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 ">
                <div class="card" style="height: 14rem;">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row justify-content-center align-items-center">
                                <div class="media d-flex">
                                    <div class="align-self-center">
                                        <i class="icon-pencil primary font-large-2"></i>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <br />

                            </div>
                            <div class="row justify-content-center align-items-center">
                                <label>CRM</label>
                            </div>
                            <div class="row justify-content-center align-items-center">
                                <div class="col-12 " style="text-align:center">
                                    <button type="submit" class="btn btn-primary btn-block" style="text-align:center">Ingresar</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 ">
                <div class="card" style="height: 14rem;">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row justify-content-center align-items-center">
                                <div class="media d-flex">
                                    <div class="align-self-center">
                                        <i class="icon-pencil primary font-large-2"></i>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />

                            </div>
                            <div class="row justify-content-center align-items-center">
                                <label style="text-align:center">VE Cloud (Acceso como cliente)</label>
                            </div>
                            <div class="row justify-content-center align-items-center">
                                <div class="col-12 " style="text-align:center">
                                    <button type="submit" id="btn_acceso_cliente" onclick="PaginaAccesoCliente(); return false;" class="btn btn-primary btn-block" style="text-align:center">Ingresar</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/build/js/CustomerCliente/Cliente/lista.cliente.customer.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
}
