﻿
@{
    ViewData["Title"] = "SeleccionCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="loading show" id="contenedor_spinner">
        <div class="spin"></div>
    </div>*@

    
<br />
<body>
  
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                @*<form>*@

                    <div class="card-body" style="padding-bottom: 0rem;">
                        <div class="form-row">

                            <div class="form-group col-md-2">
                                <label>Razón Social</label>
                                <input type="text" id="txt_razon_social" class="form-control" placeholder="Ingresar" />
                            </div>
                            <div class="form-group col-md-2">
                                <label>Numero Documento</label>
                                <input type="text" id="txt_ruc" class="form-control" placeholder="Ingresar" />
                            </div>
                            <div class="form-group col-md-2">
                                <label>Correo</label>
                                <input type="text" id="txt_correo" class="form-control" placeholder="Ingresar" />
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-2 offset-10">
                                <button onclick="ListaCliente(); return false;" style="background:transparent;color:black;text-transform: uppercase;border-radius: 6px;" class="btn btn-primary float-right">Realizar Busqueda</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive" style="padding-left:20px">
                        <div id="gridhtml"></div>
                        <div class="col-md-12 text-center">
                            <ul class="pagination pagination-lg pager" id="myPager"></ul>
                        </div>
                    </div>
                @*</form>*@
            </div>
        </div>
    </div>

</body>


@section Scripts {
    <script src="~/build/js/CustomerCliente/Cliente/seleccion.cliente.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
}