﻿@model VELogisticCloud.App.Web.Models.Autenticacion.LoginViewModel
@{
    Layout = "_LayoutAuthentication";
    ViewData["Title"] = "Iniciar Sesion";
}
<div class="login-logo">
    <a asp-controller="Usuario" asp-action="Autenticar"><b>VE Logistics</b> CLoud</a>
</div>
<!-- /.login-logo -->
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Ingresa tus datos para iniciar sesi&oacute;n</p>

        <form asp-controller="Usuario" asp-action="Autenticar" id="account" method="post">
            <div style="margin-bottom:0px !important">
                <span asp-validation-for="Login" class="text-danger text-sm"></span>
            </div>
            <div class="input-group mb-3">
                <input asp-for="Login" type="email" class="form-control" placeholder="Login">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>                
            </div>                        
            <div style="margin-bottom:0px !important">
                <span asp-validation-for="Password" class="text-danger text-sm"></span>
            </div>
            <div class="input-group mb-3">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>                        
            <div asp-validation-summary="ModelOnly" class="text-danger text-sm"></div>
            <div class="row">
                <div class="col-8">
                    <div class="icheck-primary">
                        <input asp-for="RememberMe" type="checkbox" id="remember">
                        <label for="remember">
                            Recordar
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

    </div>
    <!-- /.login-card-body -->
</div>
