﻿@*@using Microsoft.AspNetCore.Http
    @using Microsoft.AspNetCore.Identity
    @using VELogisticCloud.Model.Identity*@
@*@inject UserManager<ApplicationUser> UserManager*@
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VE Logistics Cloud | @ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @*Booking*@
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
        <link rel="stylesheet" href="" />
        <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/dist/css/spinner.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@


    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/dist/css/requerid.css">
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.css">
    @*adminlte.css*@
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!--Animaciones-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

    @*comentado por que los links los pones negros*@
    @*<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />*@

    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
        <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
</head>

<body class="hold-transition sidebar-mini">

    <div class="wrapper" id="main">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Cotizacion" asp-action="MisSolicitudes" class="nav-link" id="link_Solic_Cotizacion">Solicitudes de Cotizacion</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Cotizacion" asp-action="Index" class="nav-link" id="link_Cotizacion">Cotizaciones Aprobadas</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-authorize asp-roles="Administrador,Cliente" asp-controller="Contratos" asp-action="MisContratos" class="nav-link" id="link_Contratos">Mis Contratos</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    @*<a asp-authorize asp-roles="Administrador,Cliente" asp-controller="ListaReservas" asp-action="Index" class="nav-link">Mis Reservas</a>*@
                    <a asp-authorize asp-roles="Administrador,Cliente" asp-controller="Booking" asp-action="ListaBooking" class="nav-link" id="link_Reservas">Mis Reservas</a>
                    <a asp-authorize asp-roles="Customer Service" asp-controller="Booking" asp-action="ListaBookingCustomer" class="nav-link" id="link_ReservasCustomer">Mis Reservas</a>
                    @*<a asp-authorize asp-roles="Customer Service" asp-controller="Reservas" asp-action="Index" class="nav-link">Mis Reservas</a>*@
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-authorize asp-roles="Customer Service" asp-controller="OperacionLogistica2" asp-action="Busqueda" class="nav-link" id="link_Opl">Mis Operaciones Logísticas</a>
                    <a asp-authorize asp-roles="Administrador,Cliente" asp-controller="OperacionLogistica2" asp-action="BusquedaCliente" class="nav-link" id="link_Opl_Cliente">Mis Operaciones Logísticas</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-authorize asp-roles="Cliente,Customer Service" asp-controller="Consignee" asp-action="Index" class="nav-link" id="link_ContactOwner">Contract Owner</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-authorize asp-roles="Customer Service" asp-controller="Notificacion" asp-action="AsignarNotificacion" class="nav-link">Notificaciones</a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link">Mis operaciones de transporte</a>
                    </li>*@
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Alertas" asp-action="Busqueda">
                        <i class="far fa-bell fa-2x"></i>
                        <span style="font-size:x-small" class="badge badge-warning navbar-badge" id="txt_alertas">0</span>
                    </a>
                </li>
                <!-- Mi Cuenta Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-user"></i>
                        <span id="span_UsuarioMenu" class=""></span>
                        <span id="span_correoUsuario" style="display:none"></span>

                    </a>
                    <div class="dropdown-menu dropdown-menu-xl-right dropdown-menu-right ">
                        <ul class="nav nav-pills nav-sidebar flex-column">
                            <li class="nav-item" style="width:max-content">
                                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link">
                                    <i class="nav-icon far fa-check-square"></i>
                                    <p>
                                        Mi Información
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item " style="width:max-content">
                                <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="nav-link">
                                    <i class="nav-icon far fa-check-square"></i>
                                    <p>
                                        Cambiar Contraseña
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item " style="width:max-content">
                                <a asp-authorize asp-roles="Administrador" asp-controller="EstadoServicios" asp-action="Index" class="nav-link">
                                    <i class="nav-icon far fa-check-square"></i>
                                    <p>
                                        Estado de Servicios
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item" style="width:max-content">
                                <hr />
                                <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="" class="nav-link">
                                    <i class="nav-icon far fa-check-square"></i>
                                    <p>
                                        Cerrar Sesión
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <div class="dropdown-divider" style="display:none"></div>

                        <a href="#" class="dropdown-item" style="display:none">
                            <div class="media">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Lenguaje
                                    </h3>
                                </div>
                                <img src="~/dist/img/usa.png" alt="EN" class="img-size-50 mr-3 img-circle">
                                <img src="~/dist/img/esp.jpg" alt="ES" class="img-size-50 mr-3 img-circle">

                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-authorize asp-roles="Administrador,Cliente" asp-controller="Home" asp-action="Index" class="brand-link text-center">
                <img src="~/dist/img/logo.png" alt="VE LOGISTICS" style="width:128px">
            </a>
            <a asp-authorize asp-roles="Customer Service" asp-controller="CustomerCliente" asp-action="Cliente" class="brand-link text-center">
                <img src="~/dist/img/logo.png" alt="VE LOGISTICS" style="width:128px">
            </a>
            @*CustomerCliente/Cliente*@
            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a asp-authorize asp-roles="Administrador,Cliente" asp-controller="Home" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                <p>
                                    Inicio
                                </p>
                            </a>
                            <a asp-authorize asp-roles="Customer Service" asp-controller="CustomerCliente" asp-action="Cliente" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                <p>
                                    Inicio
                                </p>
                            </a>
                        </li>
                        <li class="nav-item" style="display:none">
                            <div class="form-inline">
                                <div class="input-group">
                                    <p class="nav-link">
                                        Campaña:
                                    </p>
                                    <select class="form-control form-control-sidebar">
                                        <option>Arandanos</option>
                                        <option>Otros</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li class="nav-header pt-3">FAVORITOS</li>
                        <li class="nav-item">
                            <a asp-controller="Itinerario" asp-action="Index" class="nav-link" id="link_Itinerario">
                                <i class="nav-icon far fa-check-square"></i>
                                <p>
                                    Itinerarios
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Cotizacion" asp-action="Create" class="nav-link" id="link_CotizacionCreate2">
                                <i class="nav-icon far fa-check-square"></i>
                                <p>
                                    Solicitar Cotizacion
                                </p>
                            </a>
                        </li>
                        @*<li class="nav-item">
                                <a asp-controller="Itinerario_Solicitar" asp-action="Create" class="nav-link">
                                    <i class="nav-icon far fa-check-square"></i>
                                    <p>
                                        Reserva Manual
                                    </p>
                                </a>
                            </li>*@
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-check-square"></i>
                                <p>
                                    Tracking
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-angle-right"></i>
                                        <p>Maritimo</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="TrackTerrestre" asp-action="Index" class="nav-link" id="link_TrackTerrestre">
                                        <i class="nav-icon fas fa-angle-right"></i>
                                        <p>Terrestre</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Proyecciones" asp-action="Index" class="nav-link" id="link_Proyecciones">
                                <i class="nav-icon far fa-check-square"></i>
                                <p>
                                    Proyecciones
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-authorize asp-roles="Customer Service" asp-controller="CustomerCliente" asp-action="SeleccionCliente" class="nav-link" id="link_SeleccionCliente">
                                <i class="nav-icon far fa-check-square"></i>
                                <p>
                                    Seleccion Cliente
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-authorize asp-roles="Administrador" asp-controller="ItinerarioManual" asp-action="Index" class="nav-link" id="link_ExcelItinerario">
                                <i class="nav-icon far fa-check-square"></i>
                                <p>
                                    Excel Itinerario
                                </p>
                            </a>
                        </li>
                        <!--
                        <li class="nav-header pt-2">OTROS</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-check-square"></i>
                                <p>Reporting</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-check-square"></i>
                                <p>Estado de cuenta</p>
                            </a>
                        </li>-->
                        <li asp-authorize asp-roles="Administrador" class="nav-header pt-2">ADMINISTRACIÓN</li>
                        <li asp-authorize asp-roles="Administrador" class="nav-item">
                            <a asp-controller="Usuario" asp-action="Index" class="nav-link" id="link_Usuarios">
                                <i class="nav-icon far fa-check-square"></i>
                                <p>Usuarios</p>
                            </a>
                        </li>
                        <li asp-authorize asp-roles="Administrador" class="nav-item" id="link_Configuracion">
                            <a asp-controller="Configuracion" asp-action="Index" class="nav-link">
                                <i class="nav-icon far fa-check-square"></i>
                                <p>Configuración</p>
                            </a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-check-square"></i>
                                <p>Perfiles</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-check-square"></i>
                                <p>Permisos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-check-square"></i>
                                <p>Parametros</p>
                            </a>
                        </li>
                            -->
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @if (ViewData["PageTitle"] != null && ((string)ViewData["PageTitle"]) != "")
            {
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <h4 class="m-0">@ViewData["PageTitle"]</h4>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->
            }
            <!-- Main content -->
            <div class="col-lg d-flex flex-column  p-0 text-black">
                <div class="container-fluid overflow-auto " style="margin-top:20px;height:100%;width:100%">
                    @*<span id="contenedor_spinner2" class="loader">Load&nbsp;ng</span>*@
                    <div class="loading show" id="contenedor_spinner2">
                        @*<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66">
                            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                        </svg>*@
                        <div class="spin"></div>
                    </div>

                    @RenderBody()
                </div>
            </div>

        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2021 <a href="https://www.ve-logistics.pe/">VE Logistics</a>.</strong> Todos los derechos reservados.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <div class="row" style="display:none">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <!-- Site wrapper -->
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- Animaciones-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/dist/js/spinner.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @RenderSectionAsync("Scripts", required: false)
</body>
</html>


