﻿@*<script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>*@

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
