﻿@model VELogisticCloud.App.Web.Util.ModelCombos
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    <div asp-authorize asp-roles="Administrador,Cliente">
        <input type="hidden" value="admin" id="tipousuario" />
    </div>
    <div asp-authorize asp-roles="Customer Service">
        <input type="hidden" value="customer" id="tipousuario" />
    </div>
    <input type="hidden" id="hddIdOdooService">
    <input type="hidden" id="hddValidoHasta">
    <input type="hidden" id="hddValidoDesde">
    <input type="hidden" id="IdItinerarioManual">

    <form id="form" method="post">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Solicitar Reserva</h4>
                    </div>
                    <div class="card-body">
                        @*<form method="post" asp-action="Create">*@
                        <div class="col-10 offset-1 mt-1">
                            @*Datos del Exportador*@
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6"><h5>Datos del exportador</h5></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label>*Nombre</label>
                                            <input type="text" class="form-control " id="txtExportadorNombre" value="@Model.Cliente.Nombre" disabled />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>*Domicilio Fiscal</label>
                                            <input type="text" class="form-control " placeholder="Ingrese Domicilio" value="@Model.Cliente.Direccion" id="txtExportadorDomicilio" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>*RUC</label>
                                            <input type="text" class="form-control " placeholder="Ingrese RUC" value="@Model.Cliente.NumeroDocumento" id="txtExportadorRuc" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>*Persona a contactar</label>
                                            <input type="text" class="form-control " placeholder="Ingrese Contacto" value="@Model.Contacto.Nombre" id="txtExportadorContacto" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label>*Teléfono</label>
                                            <input type="text" class="form-control " placeholder="0" value="@Model.Cliente.Telefono" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" id="txtExportadorTelefono" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>*FAX</label>
                                            <input type="text" class="form-control " placeholder="0" value="@Model.Cliente.Fax" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" id="txtExportadorFax" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>*Celular</label>
                                            <input type="text" class="form-control " placeholder="0" value="@Model.Cliente.Celular" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" id="txtExportadorCelular" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>*Contract Owner</label>
                                            <select class="form-control " id="txtContactOwner" asp-items="@Model.ListaContractOwner" required>
                                                <option value="0">--Selecciona Contract Owner--</option>
                                            </select>
                                            @*<input type="text" class="form-control" id="txtContactOwner" placeholder="Ingresar ContacOwner">
                                            <input type="hidden" id="hddContactId">*@
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>*Tipo Contrato</label>
                                            <select class="form-control " id="ddlTipoContrato">
                                                <option value="ve_logistic">VE Logistics</option>
                                                <option value="other">Otro</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            @*Datos del Consignatario*@
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6"><h5>Datos del Consignatario</h5></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>*Nombre de la empresa</label>
                                            <input type="text" class="form-control" placeholder="Ingrese Nombre" id="txtConsignatario" required>
                                            <input type="hidden" id="HidCodConsignatario" value="0">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Dirección</label>
                                            <input type="text" class="form-control " placeholder="Ingrese Direccion" id="txtConsignatarioDireccion">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Persona a contactar</label>
                                            <input type="text" class="form-control " placeholder="Ingrese Contacto" id="txtConsignatarioContacto" />
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>*Teléfono</label>
                                            <input type="text" class="form-control " placeholder="0" id="txtConsignatarioTelefono" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*FAX</label>
                                            <input type="text" class="form-control " placeholder="0" id="txtConsignatarioFax" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            @*Datos del Notify*@
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6"><h5>Datos del Notify</h5></div>
                                        <div class="form-group col-md-6"><input type="checkbox" id="chk_CopiarConsig" onchange="toggleCheckbox(this)"><label for="chk_CopiarConsig"> &nbsp;&nbsp; Copiar datos del Consignatario</label></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>*Nombre de notify</label>
                                            <input type="text" class="form-control" placeholder="Ingrese Nombre" id="txtNotify" required>
                                            <input type="hidden" id="HidCodNotify" value="0" required>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Dirección</label>
                                            <input type="text" class="form-control " placeholder="Ingrese Direccion" id="txtNotifyDireccion" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Persona a contactar</label>
                                            <input type="text" class="form-control " placeholder="Ingrese Contacto" id="txtNotifyContacto" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>*Teléfono</label>
                                            <input type="text" class="form-control " placeholder="0" id="txtNotifyTelefono" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*FAX</label>
                                            <input type="text" class="form-control " placeholder="0" id="txtNotifyFax" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            @*Linea Naviera*@
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6"><h5>Datos de Naviera</h5></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="form-group col-md-6">
                                            <label>*Linea</label>
                                            <select class="form-control " id="txtLineaNaviera" asp-items="@Model.ListaNavieras">
                                                <option value="0">--Selecciona Naviera--</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Numero de contrato (opcional)</label>
                                            <input id="txtNroContrato" class="form-control" placeholder="Ingresar" />
                                            @*<span id="span_correcto"></span>*@
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="form-group col-md-4">
                                            <label>*Puerto embarque</label>
                                            <input type="text" class="form-control" id="txtPuertoEmbarque" placeholder="Ingresar Puerto Embarque">
                                            <input type="hidden" id="hddEmbarqueId">
                                            <input type="hidden" id="hddEmbarqueCodigoPuerto">
                                            <input type="hidden" id="hddEmbarqueCodigoPais">
                                            <input type="hidden" id="hddEmbarqueNombrePais">
                                            <input type="hidden" id="hddEmbarqueNombreRegion">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Puerto Descarga</label>
                                            <input type="text" class="form-control" id="txtPuertoDescarga" placeholder="Ingresar Puerto Descarga"> @*value="PECLL">*@
                                            <input type="hidden" id="hddDescargaId">
                                            <input type="hidden" id="hddDescargaCodigoPuerto">
                                            <input type="hidden" id="hddDescargaCodigoPais">
                                            <input type="hidden" id="hddDescargaNombrePais">
                                            <input type="hidden" id="hddDescargaNombreRegion">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="form-group col-md-4">
                                            <label>*ETD (Origen)</label>
                                            <input id="txtETD" class="form-control" type="date" placeholder="Ingresar" required />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*ETA (Destino)</label>
                                            <input id="txtETA" class="form-control" type="date" placeholder="Ingresar" required />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>&nbsp;</label>
                                            <a onclick="showInPopup('@Url.Action("ListarItinerarioToBooking",
                                                                    "Itinerario",null,Context.Request.Scheme)',
                                                                    'Seleccione Itinerario')" class="btn btn-primary text-white d-block">
                                                Seleccione Itinerario <i class="fas fa-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="form-group col-md-4">
                                            <label>*Nombre Nave</label>
                                            <input id="txtNombreNave" class="form-control" type="text" placeholder="Ingresar Nombre Nave" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Numero de viaje</label>
                                            <input id="txtNaveViaje" class="form-control" placeholder="Ingresar" />
                                        </div>
                                        <div class="form-group col-md-4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            @*Informacion de contenedores/carga*@
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6"><h5>Condiciones Tipo Contenedor</h5></div>
                                        <div class="form-group col-md-6">
                                            @*<a href="" class="btn btn-primary float-right" onclick="generar_tabla(1); return false">Agregar <i class="fa fa-plus"></i></a>*@
                                        </div>
                                    </div>
                                    <div class="form-row col-md-12">
                                        <div class="form-group col-md-4">
                                            <label>Tipo de contenedor</label>
                                            <select class="form-control " id="txtTipoContenedor" onchange="CambiarContenedor(); return false" asp-items="@Model.ListaTipoContenedor" required>
                                                <option value="0">--Selecciona Contenedor--</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row col-md-12" id="div_reefer">
                                        <div class="card-body col-md-12">
                                            <div class="form-group col-md-12 row">
                                                @*Atmosfera Controlada*@
                                                <div class="card col-md-4">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12"><h5>Atmósfera Controlada</h5></div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-row col-md-12">
                                                            <div class=" col-md-12">
                                                                <select class="form-control " id="cbo_atmosfera">
                                                                    <option value="1">SI</option>
                                                                    <option value="0">NO</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6" id="lblCO2" style="padding-top:1%">
                                                                <label>CO2: </label>
                                                            </div>
                                                            <div class="col-md-6" style="padding-top:1%">
                                                                <input id="txt_co2" type="text" class="form-control" placeholder="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                                            </div>

                                                            <div class="col-md-6" id="lblO2" style="padding-top:1%">
                                                                <label>O2: </label>
                                                            </div>
                                                            <div class="col-md-6" style="padding-top:1%">
                                                                <input id="txt_o2" type="text" class="form-control" placeholder="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                        
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12"></div>

                                                        </div>

                                                    </div>
                                                @*Temperatura*@
                                            <div class="card col-md-4" style="margin-left:5px">
                                                <div class="form-row">
                                                    <div class="form-group col-md-12"><h5>Temperatura</h5></div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-row col-md-12">
                                                        <div class="col-md-6" style="padding-top:1%;">
                                                            <label>Tipo: </label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <select class="form-control " id="cbo_grados">
                                                                <option value="°C">°C</option>
                                                                <option value="°F">°F</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6" style="padding-top:1%">
                                                            <label>Grados: </label>
                                                        </div>
                                                        <div class="col-md-6" style="padding-top:1%;">
                                                            <input id="txt_temperatura" onkeypress="return soloNumeros(event);" type="text" class="form-control" placeholder="0" />
                                                        </div>
                                                    </div>
                                                </div>
                                                  
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12"></div>

                                                    </div>

                                                </div>
                                                @*Ventilacion*@
                                            <div class="card col-md" style="margin-left:5px">
                                                <div class="form-row">
                                                    <div class="form-group col-md-12"><h5>&nbsp;&nbsp;Ventilación</h5></div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-row col-md-12">
                                                        <div class="col-md-6" style="padding-top:1%;">
                                                            <label>Tipo: </label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <select class="form-control " id="cbo_tipo_ventilacion">
                                                                <option value="CBM">CBM</option>
                                                                <option value="OTHER">OTHER</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6" style="padding-top:1%;">
                                                            <label>Volumen: </label>
                                                        </div>
                                                        <div class="col-md-6" style="padding-top:1%;">
                                                            <input id="txt_ventilacion" type="text" class="form-control" placeholder="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                                        </div>
                                                    </div>
                                                </div>
                                              
                                                <div class="form-row">
                                                    <div class="form-group col-md-12"></div>
                                                </div>
                                            </div>

                                            </div>
                                            <div class="form-group col-md-12 row">
                                                @*Cold Treatment*@
                                                <div class="card col-md-4">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12"><h5>Cold Treatment</h5></div>
                                                    </div>

                                                    <div class="form-row col-md-12">
                                                        <div class="col-md-12">
                                                            <select class="form-control " id="cbo_Cold">
                                                                <option value="1">SI</option>
                                                                <option value="0">NO</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12"></div>
                                                    </div>
                                                </div>
                                                @*Humedad*@
                                                <div class="card col-md-4" style="margin-left:5px">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12"><h5>Humedad</h5></div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="form-row col-md-12">
                                                            <div class="col-md-12">
                                                                <select class="form-control " id="cbo_tipo_humedad">
                                                                    <option value="0">Off</option>
                                                                    <option value="1">On</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6" style="padding-top:1%;">
                                                                <label>Porcentaje: </label>
                                                            </div>
                                                            <div class="col-md-6" style="padding-top:1%;">
                                                                <input id="txt_humedad" type="text" class="form-control" placeholder="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="form-group col-md-12"></div>
                                                    </div>
                                                </div>
                                                @*Tecnología*@
                                            <div class="card col-md" style="margin-left:5px">
                                                <div class="form-row">
                                                    <div class="form-group col-md-12"><h5>&nbsp;&nbsp;Tecnología</h5></div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-row col-md-12">
                                                        <div class="col-md-12">
                                                            <select class="form-control " id="cboTecnologia">
                                                                <option value="STARCOOL">STARCOOL</option>
                                                                <option value="SMARTCARE">SMARTCARE</option>
                                                                <option value="MAXTEND">MAXTEND</option>
                                                                <option value="STARCARE">STARCARE</option>
                                                                <option value="XTEND FRES">XTEND FRES</option>
                                                                <option value="SEACARE">SEACARE</option>
                                                                <option value="EXTRAFRESH">EXTRAFRESH</option>
                                                                <option value="DAIKIN">DAIKIN</option>
                                                                <option value="LIVENTUS">LIVENTUS</option>
                                                                <option value="DAIKIN-SEA">DAIKIN-SEA</option>
                                                                <option value="EVERFRESH">EVERFRESH</option>
                                                                <option value="PURFRESH">PURFRESH</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-row">
                                                    <div class="form-group col-md-12"></div>
                                                </div>
                                            </div>
                                            </div>

                                        </div>
                                        <div>

                                        </div>

                                    </div>

                                    <div class="form-row col-md-12" id="div_dry">
                                        <div class="card col-md-12">
                                            <div class="card-body col-md-12">
                                                <div class="form-row">
                                                    <div class="form-group row">
                                                        <div class="form-group col-md-6" style="text-align:unset">
                                                            <label>IMO COMMODITY: </label>
                                                            <select class="form-control " id="cbo_imo">
                                                                <option value="0"></option>
                                                                <option value="1">IMO 1 - EXPLOSIVO</option>
                                                                <option value="2">IMO 2 - GASES</option>
                                                                <option value="3">IMO 3 - LIQUIDOS INFLAMABLES</option>
                                                                <option value="4">IMO 4 - SOLIDOS PELIGROSOS</option>
                                                                <option value="5">IMO 5 - SUSTANCIAS OXIDANTES</option>
                                                                <option value="6">IMO 6 - SUSTANCIAS VENENOSAS</option>
                                                                <option value="7">IMO 7 - SUSTANCIAS RADIACTIVAS</option>
                                                                <option value="8">IMO 8 - SUSTANCIAS CORROSIVAS</option>
                                                                <option value="9">IMO 9 - SUSTANCIAS PELIGROSAS DIVERSAS</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label>UN1: </label>
                                                            <input id="txt_un1" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />

                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label>UN2: </label>
                                                            <input id="txt_un2" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Datos del Producto*@
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6"><h5>Datos del Producto</h5></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="form-group col-md-4">
                                            <label>*Comodity</label>
                                            <select class="form-control " id="txtComodity" asp-items="@Model.ListaCommodity">
                                                <option value="0">--Selecciona Commodity--</option>
                                            </select>
                                            @*<input id="txtComodity" class="form-control" type="text" />*@
                                            <input type="hidden" id="hddCommodityId">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Partida Arancelaria</label>
                                            <input id="txt_partida" class="form-control" placeholder="Ingresar" disabled />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Cantidad de Contenedores por Booking</label>
                                            <input id="txtCantidad" type="number" class="form-control" value="1" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group row col-md-12">
                                        <div class="form-group col-md-4">
                                            <label>Tipo de Bulto</label>
                                            <select class="form-control " id="txtTipoBulto" return false">
                                                <option value="">--Selecciona Tipo de Bulto--</option>
                                                <option value="GRANEL (BULK SOLID)">GRANEL (BULK SOLID)</option>
                                                <option value="SACOS (BACKS)">SACOS (SACKS)</option>
                                                <option value="FLEXITANQUE (BULK LIQUID)">FLEXITANQUE (BULK LIQUID)</option>
                                                <option value="CILINDROS (CYLINDERS)">CILINDROS (CYLINDERS)</option>
                                                <option value="CAJAS (BOXES)">CAJAS (BOXES)</option>
                                                <option value="PALETAS (PALLETS)">PALETAS (PALLETS)</option>
                                                <option value="OTROS (OTHERS)">OTROS (OTHERS)</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Cantidad de Bulto</label>
                                            <input id="txtVariedad" class="form-control" placeholder="Ingresar" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>*Peso Bruto (Kg.)</label>
                                            <input id="txtPeso" type="text" class="form-control" placeholder="Solo caracteres Numericos" />
                                        </div>

                                        <div class="form-group " style="text-align:left;padding-top:2.5%;font-size:20px">
                                            <span>(Kg.)</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            @*Condiciones de pago*@
                            <div class="form-row col-md-12">
                                <div class="card col-md-12">
                                    <div class="card-body col-md-12">
                                        <div class="form-row">
                                            <div class="form-group col-md-12"><h5>Condiciones de pago</h5></div>
                                            <div class="form-group col-md-4">
                                                <label>Condiciones de Pago</label>
                                                <select class="form-control " id="cbo_pago" onchange="CambiarPago(); return false">
                                                    <option value="1" selected>ELSEWHERE</option>
                                                    <option value="2">COLLLECT</option>
                                                    <option value="3">PREPAID</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4" id="div_name_pago">
                                                <label>Nombre Pagador</label>
                                                <input id="txt_nombre_pagador" class="form-control" placeholder="Ingresar" />
                                            </div>
                                            <div class="form-group col-md-4" id="div_direc_pago">
                                                <label>Direccion Pagador</label>
                                                <input id="txt_direccion_pagador" class="form-control" placeholder="Ingresar" />
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12"><h5>Condiciones de pago</h5></div>
                                            <div class="form-group col-md-4">
                                                <label>Emision BL</label>
                                                <select class="form-control " id="cbo_emision">
                                                    <option value="1">Destino</option>
                                                    <option value="2">Origen</option>
                                                    <option value="3">Seawaybill</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Operador Logístico</label>
                                                <input id="txtOperadorLogistico" class="form-control" placeholder="Ingresar" />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Ruc Operador</label>
                                                <input id="txtRucOperador" class="form-control" placeholder="Ingresar" />
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="form-row col-md-12" id="div_cant_booking">
                                <div class="card col-md-12">
                                    <div class="card-body col-md-12">
                                        <div class="form-row">
                                            <div class="form-group col-md-12"><h5>Descripcion</h5></div>
                                            <div class="form-group col-md-4">
                                                <label>Cantidad de booking</label>
                                                <input id="txt_cant_booking" class="form-control" placeholder="Ingresar" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-8">

                                </div>
                                <div class="col-md-3" id="div_btn_insert">
                                    @*<input type="submit" value="Siguiente" id="btnInsert" class="btn btn-primary form-control" onclick="InsertReserva(); return false;">*@
                                    <button id="btnInsert" class="btn btn-primary form-control" onclick="InsertReserva(); return false;">
                                        Siguiente
                                        <i class="fas fa-arrow-circle-right"></i>
                                    </button>
                                    &nbsp;
                                </div>
                                <div class="col-md-3" id="div_btn_update">
                                    <button id="btnUpdate" class="btn btn-primary form-control" onclick="UpdateReserva(); return false;">Actualizar Reserva <i class="fas fa-arrow-circle-right"></i></button>
                                    &nbsp;
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</body>



<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" style="max-width:1000px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script src="/build/js/Booking/insert.booking.js?v2"></script>
    <script src="/build/js/Reservas/itinerarioFromReserva.js"></script>
    <link rel="stylesheet" href="/dist/css/spinner.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    @*<link rel="stylesheet" href="/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
    <style>
        .select2-container .select2-selection--single {
            height: calc(2.25rem + 2px);
        }
    </style>
}
