﻿
@{
    ViewData["Title"] = "Lista Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
</div><div asp-validation-summary="ModelOnly" class="text-danger"></div>


<div asp-authorize asp-roles="Administrador,Cliente">
    <input type="hidden" value="admin" id="tipousuario" />
</div>
<div asp-authorize asp-roles="Customer Service">
    <input type="hidden" value="customer" id="tipousuario" />
</div>
<body class="hold-transition sidebar-mini layout-fixed">

    <div class="cotenedor_carga">
        <div id="carga">

        </div>
    </div>

    <!-- Content Wrapper. Contains page content -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <div class="col-12">

                    <div class="card card-primary">

                        <!-- form start -->
                        <form>

                            <div class="card-body" style="padding-bottom: 0rem;">
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label for="txt_nroBooking">Numero de booking</label>
                                        <input type="text" class="form-control" id="txt_nroBooking" placeholder="Ingresar">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="txt_idBooking">Numero de Solicitud</label>
                                        <input type="text" class="form-control" id="txt_idBooking" placeholder="Ingresar">
                                    </div>

                                    @*<div class="form-group col-md-2">
            <label>Naviera</label>
            <input type="text" class="form-control" placeholder="Ingresar" id="txtNaviera_parametro" />

        </div>*@
                                    <div class="form-group col-md-2">
                                        <label>Puerto Carga</label>
                                        <input type="text" class="form-control" id="txtPuertoEmbarque" placeholder="Ingresar Puerto Embarque">
                                        <input type="hidden" id="hddEmbarqueId">
                                        <input type="hidden" id="hddEmbarqueCodigoPuerto">
                                        <input type="hidden" id="hddEmbarqueCodigoPais">
                                        <input type="hidden" id="hddEmbarqueNombrePais">
                                        <input type="hidden" id="hddEmbarqueNombreRegion">


                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="txtweeks">Puerto Descarga</label>
                                        <input type="text" class="form-control" id="txtPuertoDescarga" placeholder="Ingresar Puerto Descarga"> @*value="PECLL">*@
                                        <input type="hidden" id="hddDescargaId">
                                        <input type="hidden" id="hddDescargaCodigoPuerto">
                                        <input type="hidden" id="hddDescargaCodigoPais">
                                        <input type="hidden" id="hddDescargaNombrePais">
                                        <input type="hidden" id="hddDescargaNombreRegion">


                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="txtBy">Filtrar por estado</label>
                                        <select class="form-control" id="id_cbEstado">
                                            <option value="0">--Todos--</option>
                                            <option value="1">Pendiente</option>
                                            <option value="2">Pendiente Inttra</option>
                                            <option value="3">Aceptado</option>
                                            <option value="4"> Confirmado</option>
                                            <option value="5"> Anulado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <button onclick="ListaActual();return false" class="btn btn-primary float-right">Realizar Busqueda</button>
                                <a asp-authorize asp-roles="Administrador" class="btn btn-primary float-left" href="../Booking/GetExcel/">Generar Excel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
    <section>
        <div class="container-fluid" id="gridLista">


        </div>
    </section>


</body>

@section Scripts {
    <script src="~/build/js/Booking/lista.booking.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
}