﻿
@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <div class="card-body" style="padding-bottom: 0rem;">

        <div asp-authorize asp-roles="Administrador,Cliente">
            <input type="hidden" value="admin" id="tipousuario" />
        </div>
        <div asp-authorize asp-roles="Customer Service">
            <input type="hidden" value="customer" id="tipousuario" />
        </div>

        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

    <div class="row">
        <div class="form-group col-md-1">
            <label for="txt_code">N° Solicitud</label>
            <input type="text" class="form-control" id="txt_code" placeholder="">
        </div>
        <div class="form-group col-md-2">
            <label for="txt_nroBooking">N° Booking</label>
            <input type="text" class="form-control" id="txt_nroBooking" placeholder="">
        </div>

        <div class="form-group col-md-2">
            <label for="txtContactOwner">Contract Owner</label>
            <input type="text" class="form-control" id="txtContactOwner" placeholder="">
            <input type="hidden" id="hddContactId">
        </div>

        <div class="form-group col-md-2">
            <label for="txtLineaNaviera">Linea</label>
            <select class="form-control " id="txtLineaNaviera" asp-items="@Model.ListaNavieras">
                <option value="0">Selecciona Naviera</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="txtNombreNave">Vessel</label>
            <input id="txtNombreNave" class="form-control" type="text" placeholder="" />
        </div>
        <div class="form-group col-md-1">
            <label for="txtNroViaje">Voyaje</label>
            <input id="txtNroViaje" class="form-control" type="text" placeholder="" />
        </div>

        <div class="form-check col-md-2">
            <label>Estado</label>
            <select class="form-control " id="Cbo_Estado">
                <option value="0">-- Todos --</option>
                <option value="1">-- Pendiente --</option>
                <option value="3">-- Aceptado --</option>
                <option value="4">-- Confirmado --</option>
                <option value="5">-- Cancelado --</option>
            </select>
        </div>



        <div class="form-group col-md-2">
            <label for="txtPuertoEmbarque">Puerto Carga</label>
            <input type="text" class="form-control" id="txtPuertoEmbarque" placeholder="Ingresar Puerto Embarque">
            <input type="hidden" id="hddEmbarqueId">
            <input type="hidden" id="hddEmbarqueCodigoPuerto">
            <input type="hidden" id="hddEmbarqueCodigoPais">
            <input type="hidden" id="hddEmbarqueNombrePais">
            <input type="hidden" id="hddEmbarqueNombreRegion">


        </div>
        <div class="form-group col-md-2">
            <label for="txtPuertoDescarga">Puerto Descarga</label>
            <input type="text" class="form-control" id="txtPuertoDescarga" placeholder="Ingresar Puerto Descarga"> @*value="PECLL">*@
            <input type="hidden" id="hddDescargaId">
            <input type="hidden" id="hddDescargaCodigoPuerto">
            <input type="hidden" id="hddDescargaCodigoPais">
            <input type="hidden" id="hddDescargaNombrePais">
            <input type="hidden" id="hddDescargaNombreRegion">
        </div>

        <div class="form-group col-md-2">
            <label>Comodity</label>
            <select class="form-control " id="txtComodity" asp-items="@Model.ListaCommodity">
                <option value="0">--Selecciona Commodity--</option>
            </select>
            @*<input id="txtComodity" class="form-control" type="text" />*@
            <input type="hidden" id="hddCommodityId">
        </div>

        <div class="form-group col-md-2">
            <label>From</label>
            <input type="date" class="form-control" id="dateFrom" />
        </div>

        <div class="form-group col-md-2">
            <label>To</label>
            <input type="date" class="form-control" id="dateTo" />
        </div>

        <div class="form-check col-md-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" style="margin-top:2.8rem" checked>
            <label class="form-check-label" for="flexRadioDefault1" style="margin-top:2.6rem">
                ETD
            </label>
        </div>

    </div>
        <div class="row">
            <div class="col-12">

                <div class="card card-primary">

                    <!-- form start -->


                    <div class="card-footer">
                        <button type="button" id="btnBusqueda" class="btn btn-primary float-right">Realizar Busqueda</button>
                        @*<button type="button" id="btnSpinner" class="btn btn-primary float-right">mostrar spinner</button>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:15px;">
            <div class="row col-md-12" style="text-align:center">
                <div class="row">
                    <div class="col-md-12" style="padding-left:2rem;font-size:25px">
                        <label id="lblTotal"></label>
                    </div>
                </div>
                <div class="table-responsive">
                    <div style="width:100%" id="gridLista"></div>
                </div>
            </div>
        </div>
    </div>

</div>
            

@section Scripts {
    <script src="~/build/js/Booking/lista.booking.customer.js?4"></script>
    @*<link rel="stylesheet" href="~/dist/css/spinner.css">*@
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />*@
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
    @*<script type="text/javascript" src="~/dist/js/Admin/puerto.js"></script>*@
}