﻿@{
    ViewData["Title"] = "Resumen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">

<div class="card-header">
    Resumen de booking
</div>


@*<h3 class="text-center">Crear una nueva categoría</h3>*@
@*<form method="post" asp-action="Edit">*@
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="card-body" style="padding-bottom: 0rem;">
    <div class="row">
        <div class="col-6">
            <h3><b>ID: #   <label id="lbl_nroBooking"></label> </b></h3>
            <span> Contenedores <label id="lbl_Cantidad"></label></span><br>
            <span> <label id="lbl_tipoContenedor"></label> </span>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-3">
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <br> <br> <label id="lbl_pais_inicio"></label>
                </div>
                <div class="col-1"><h2>></h2></div>
                <div class="col-4">
                    <i class="fas fa-pallet fa-2x"></i>
                    <br> <br> <label id="lbl_tico_contenedor2"></label>
                </div>
                <div class="col-1"><h2>></h2></div>
                <div class="col-3">
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <br> <br> <label id="lbl_pais_fin"></label>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <h4>Datos del trayecto</h4>
            ETD (Origen):  &nbsp;&nbsp;&nbsp;<span id="lbl_etd"></span> <br>
            ETA (Destino):  &nbsp;&nbsp;&nbsp;<span id="lbl_eta"></span>
        </div>
        <div class="col-6">
            <h4>Documentación y cobro</h4>
            Condicion de pago (flete):  &nbsp;&nbsp;&nbsp;<label id="lbl_flete"></label> <br>
            Emision BL:  &nbsp;&nbsp;&nbsp;<label id="lbl_emision"></label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <h4>Datos Principales</h4>
            Contenedores solicitados:  &nbsp;&nbsp;&nbsp; <label id="lbl_CantSolicitados"></label> <br>
            Tipo de contenedor:  &nbsp;&nbsp;&nbsp;<label id="lbl_TipoCont"></label> <br>
            Especie:   &nbsp;&nbsp;&nbsp;<label id="lbl_Comodity"></label><br>
            Linea:   &nbsp;&nbsp;&nbsp;<label id="lbl_Linea"></label><br>
            Nro. Contrato:   &nbsp;&nbsp;&nbsp;<label id="lbl_NroContrato"></label><br>
            Puerto Embarque:   &nbsp;&nbsp;&nbsp;<label id="lbl_PuertoEmbarque"></label><br>
            Puerto Descarga:   &nbsp;&nbsp;&nbsp;<label id="lbl_PuertoDescarga"></label><br>
            Nombre Nave:   &nbsp;&nbsp;&nbsp;<label id="lbl_NombreNave"></label><br>
            Nro de viaje:   &nbsp;&nbsp;&nbsp;<label id="lbl_NroViaje"></label>
        </div>
        <br />
        <div class="col-6">
            <h4>Datos del Exportador</h4>
            Nombre:  &nbsp;&nbsp;&nbsp; <label id="lbl_ExportadorNombre"></label> <br>
            Domicilio Fiscal:  &nbsp;&nbsp;&nbsp;<label id="lbl_ExportadorDomicilio"></label> <br>
            Ruc:   &nbsp;&nbsp;&nbsp;<label id="lbl_ExportadorRuc"></label> <br>
            Contacto:   &nbsp;&nbsp;&nbsp;<label id="lbl_ExportadorContacto"></label> <br>
            Telefono:   &nbsp;&nbsp;&nbsp;<label id="lbl_ExportadorTelefono"></label> <br>
            Fax:   &nbsp;&nbsp;&nbsp;<label id="lbl_ExportadorFax"></label> <br>
            Celular:   &nbsp;&nbsp;&nbsp;<label id="lbl_ExportadorCelular"></label> <br>
            Contract Owner:   &nbsp;&nbsp;&nbsp;<label id="lbl_ExportadorContractOwner"></label> <br>
            Tipo contrato:   &nbsp;&nbsp;&nbsp;<label id="lbl_ExportadorTipoContrato"></label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <h4>Datos del Consignatario</h4>
            Empresa:  &nbsp;&nbsp;&nbsp; <label id="lbl_ConsignatarioEmpresa"></label> <br>
            Direccion:  &nbsp;&nbsp;&nbsp;<label id="lbl_ConsignatarioDireccion"></label> <br>
            Contacto:   &nbsp;&nbsp;&nbsp;<label id="lbl_ConsignatarioContacto"></label><br>
            Telefono:   &nbsp;&nbsp;&nbsp;<label id="lbl_ConsignatarioTelefono"></label><br>
            Fax:   &nbsp;&nbsp;&nbsp;<label id="lbl_ConsignatarioFax"></label>
        </div>
        <div class="col-6">
            <h4>Datos del Notify</h4>
            Nombre:  &nbsp;&nbsp;&nbsp; <label id="lbl_NotifyNombre"></label> <br>
            Direccion:  &nbsp;&nbsp;&nbsp;<label id="lbl_NotifyDireccion"></label> <br>
            Contacto:   &nbsp;&nbsp;&nbsp;<label id="lbl_NotifyContacto"></label><br>
            Telefono:   &nbsp;&nbsp;&nbsp;<label id="lbl_NotifyTelefono"></label><br>
            Fax:   &nbsp;&nbsp;&nbsp;<label id="lbl_NotifyFax"></label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6" id="div_reefer">
            <h4>Parametros del contenedor</h4>
            Temperatura:  &nbsp;&nbsp;&nbsp;<label id="lbl_temperatura"></label>  <br>
            Ventilación: &nbsp;&nbsp;&nbsp; <label id="lbl_ventilacion"></label> <br>
            Humedad:   &nbsp;&nbsp;&nbsp;<label id="lbl_humedad"></label> <br>
            Peso:  &nbsp;&nbsp;&nbsp;<label id="lbl_peso"></label> <br>
        </div>
        <div class="col-6" id="div_dry">
            <h4>Parametros del contenedor</h4>
            Imo:  &nbsp;&nbsp;&nbsp;<label id="lbl_imo"></label>  <br>
            Un1: &nbsp;&nbsp;&nbsp; <label id="lbl_un1"></label> <br>
            Un2:   &nbsp;&nbsp;&nbsp;<label id="lbl_un2"></label> <br>
            Peso:  &nbsp;&nbsp;&nbsp;<label id="lbl_peso2"></label> <br>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>
<div class="card-footer">
    <button asp-authorize asp-roles="Administrador,Cliente" class="btn btn-primary float-right" onclick="VerReservas(); return false;">Ver mas reservas</button>
    <button asp-authorize asp-roles="Customer Service" class="btn btn-primary float-right" onclick="VerReservasCustomer(); return false;">Ver mas reservas</button>
</div>
</div>
@section Scripts {
    <script src="~/build/js/Booking/resumen.booking.js"></script>
    @*<link rel="stylesheet" href="~/dist/css/spinner.css">*@
}
