﻿@model VELogisticCloud.Models.ItinerarioSolicitud
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
</div><div asp-validation-summary="ModelOnly" class="text-danger"></div>

@*<div class="loading show" id="contenedor_spinner">
    <div class="spin"></div>
</div>*@

<body>

    <!-- Content Wrapper. Contains page content -->
   
    <section>
        <div id="gridhtml">
        </div>
    </section>
</body>

@section Scripts {
    <script src="~/build/js/Booking/seguimiento.booking.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
}

