﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-12">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Correo</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Nombre"></label>
                <input asp-for="Input.Nombre" class="form-control" />
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Input.RazonSocial"></label>
                        <input asp-for="Input.RazonSocial" class="form-control" />
                        <span asp-validation-for="Input.RazonSocial" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Input.RUC"></label>
                        <input asp-for="Input.RUC" class="form-control" />
                        <span asp-validation-for="Input.RUC" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Input.NombreContacto"></label>
                        <input asp-for="Input.NombreContacto" class="form-control" />
                        <span asp-validation-for="Input.NombreContacto" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Input.NumeroContacto"></label>
                        <input asp-for="Input.NumeroContacto" class="form-control" />
                        <span asp-validation-for="Input.NumeroContacto" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Input.Rol"></label>
                        <select asp-for="Input.Rol" asp-items="Model.ListaRoles"
                                class="form-control"></select>
                        <span asp-validation-for="Input.Rol" class="text-danger"></span>
                        <input type="hidden" asp-for="Input.RolAnterior">
                        <input type="hidden" asp-for="Input.IdUsuario">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Input.EstadoUsuario"></label>
                        <select asp-for="Input.EstadoUsuario" asp-items="Model.ListaActivo"
                                class="form-control"></select>
                        <span asp-validation-for="Input.EstadoUsuario" class="text-danger"></span>
                        <input type="hidden" asp-for="Input.EstadoUsuario">
                        <input type="hidden" asp-for="Input.IdUsuario">
                    </div>
                </div>
            </div>
         
            <button id="update-profile-button" type="submit" class="btn btn-primary float-right">Guardar cambios</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}