﻿

<div class="container-fluid">
    <!-- Main row -->
    <br />
    <h1>Alertas</h1>
    @*<span>Lorem ipsum sit amet, consectetur elit, sed dolore magna aliqua. Ut enim ad minim    </span>
    <span>veniam, quisnostrud exercitation ullamco <b>laboris nisi ut aliquip ex ea commodo consequat</b></span>*@
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <form>
                    <div class="card-body" style="padding-bottom: 0rem;">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label>Filtrar por <b>Tipo</b></label>
                                <select class="form-control" id="cbo_Tipo">
                                    <option value="0">---Seleccionar---</option>
                                    <option value="Contrato">Contrato</option>
                                    <option value="Booking">Booking</option>
                                </select>
                            </div>
                            @*<div class="form-group col-md-2">
                                <label>Filtrar por <b>Área</b></label>
                                <select class="form-control">
                                    <option>Seleccionar</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Filtrar por <b>Servicio</b> </label>
                                <select class="form-control">
                                    <option>Seleccionar</option>
                                </select>
                            </div>*@
                            <div class="form-group col-md-2">
                                <label>Filtrar por <b>Estado</b> </label>
                                <select class="form-control" id="cbo_estados">
                                    <option value="0">---Seleccionar---</option>
                                    <option value="1">Por Atender</option>
                                    <option value="2">Por Vencer</option>
                                    <option value="3">Urgente</option>
                                    <option value="4">Leído</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <button onclick="BusquedaAlertas(); return false;" class="btn btn-primary float-right">Realizar Busqueda</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-9">
                    <!-- Small boxes (Stat box) -->
                    <div id="gridhtml"></div>


                </section>


                <!-- /.Left col -->
                <section class="col-lg-3">

                    <!-- Reservas card -->
                    <div class="card justify-content-center align-items-center">
                        <div class="card-body justify-content-center align-items-center">
                            <div>
                                <div class="col-md-12 justify-content-center align-items-center ">

                                    <!-- The time line -->
                                    <div class="timeline">
                                        <div class="time-label">
                                            <span class="text-center"><h1><label id="lbl_status2"> </label></h1>  Mis Alertas</span>
                                            <br />

                                        </div>
                                        <div>
                                            <i class="far fa-bell fa-5x bg-grey"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_espera"> </label></b> Leído</h4>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="far fa-bell bg-red fa-5x"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_vacios"> </label></b> Atencíon Urgente</h4>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="far fa-bell bg-yellow fa-5x"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_transito_packing"> </label></b> Por Vencer</h4>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="far fa-bell  bg-green fa-5x"></i>
                                            <div class="timeline-item">
                                                <h4 class="timeline-header"> <b><label id="lbl_opl_packing"> </label></b> Por Atender</h4>
                                            </div>
                                        </div>

                                        <!-- END timeline item -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.card -->
                </section>
                <!-- right col -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
</div>

@section Scripts {
    <script src="~/build/js/Alertas/alertas.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <link rel="stylesheet" href="~/dist/css/StyleIcons.css">
}
<!-- /.content-wrapper -->
