﻿<br />

<script type="text/javascript">

    var imoVE = getParameterByName('imo');

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    // Map appearance
    var width = "100%";         // width in pixels or percentage
    var height = "300";         // height in pixels
    var latitude = "36.00";     // center latitude (decimal degrees)
    var longitude = "-5.40";    // center longitude (decimal degrees)
    var names = true;           // always show ship names (defaults to false)

    // Single ship tracking
    var imo = imoVE;        // display latest position (by IMO, overrides MMSI)
    var show_track = true;      // display track line (last 24 hours)

    // Fleet tracking
    //var fleet="e48ab3d80a0e2a9bf28930f2dd08800c"; // your personal Fleet key (displayed in your User Profile)
    //var fleet_name = "MAERSK VIRGINIA"; // display particular fleet from your fleet list
    //var fleet_timespan = "1440"; // maximum age in minutes of the displayed ship positions
</script>
<script type="text/javascript" src="https://www.vesselfinder.com/aismap.js"></script>


@section Scripts {
    <script src="~/build/js/Alertas/mapa.js"></script>

}