﻿
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-header">
</div><div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <body>




          <!-- Content Wrapper. Contains page content -->


          <div>
              <h1>Te presentamos un listado delos itinerarios más adecuados para ti.</h1>
          </div>

          <!-- /.content-header -->
          <!-- Main content -->
          <section class="content">
              <div class="container-fluid">
                  <!-- Main row -->
                  <div class="row">
                      <div class="col-12">
                          <div class="form-row">
                              <div class="form-group col-md-0">
                                  <div class="form-check">
                                      <input type="checkbox" class="form-check-input" id="exampleCheck11">
                                      <label class="form-check-label" for="exampleCheck11">Buscar itinerarios marítimos</label>
                                  </div>
                              </div>

                              <div class="form-group col-md-3">
                                  <div class="form-check">
                                      <input type="checkbox" class="form-check-input" id="exampleCheck12">
                                      <label class="form-check-label" for="exampleCheck12">Buscar itinerarios terrestres</label>
                                  </div>
                              </div>
                              <div class="col-md-6"></div>
                          </div>

                          <div class="card card-primary">

                              <!-- form start -->
                              <form>

                                  <div class="card-body" style="padding-bottom: 0rem;">
                                      <div class="form-row">
                                          <div class="form-group col-md-2">
                                              <label for="txtOrigen">*Origen</label>
                                              <input type="email" class="form-control" id="txtOrigen" placeholder="Ingresar Origen">
                                          </div>
                                          <div class="form-group col-md-2">
                                              <label for="txtDestino">*Destino</label>
                                              <input type="email" class="form-control" id="txtDestino" placeholder="Ingresar Destino">
                                          </div>
                                          <div class="form-group col-md-2">
                                              <label for="txtDestino">*Linea Naviera</label>
                                              <input type="email" class="form-control" id="txtDestino" placeholder="Ingresar Naviera">
                                          </div>
                                          <div class="form-group col-md-2">
                                              <label for="txtDestino">*Fecha Inicio</label>
                                              <input type="email" class="form-control" id="txtDestino" placeholder="Ingresar Fecha Inicio">
                                          </div>
                                          <div class="form-group col-md-2">
                                              <label for="txtweeks" style="color: white;">.</label>
                                              <select class="form-control">
                                                  <option>6 weeks Out</option>
                                              </select>
                                          </div>
                                          <div class="form-group col-md-2">
                                              <label for="txtBy" style="color: white;">.</label>
                                              <select class="form-control">
                                                  <option>By departure</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-row">
                                          <div class="form-group col-md-3">
                                              <div class="form-check">
                                                  <input type="checkbox" class="form-check-input" id="exampleCheck21">
                                                  <label class="form-check-label" for="exampleCheck21">Incluir origenes cercanos</label>
                                              </div>
                                          </div>

                                          <div class="form-group col-md-3">
                                              <div class="form-check">
                                                  <input type="checkbox" class="form-check-input" id="exampleCheck22">
                                                  <label class="form-check-label" for="exampleCheck22">Incluir destinos cercanos</label>
                                              </div>
                                          </div>
                                          <div class="col-md-6"></div>
                                      </div>
                                  </div>

                                  <div class="card-footer">
                                      <button type="submit" class="btn btn-primary float-right">Realizar Busqueda</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div><!-- /.container-fluid -->
          </section>
          <!-- /.content -->
          <section>
              <div class="container-fluid " id="gridLista">

              </div>
          </section>
          <!-- /.content-wrapper -->
        

      </body>


@section Scripts {
    <script src="~/build/js/Itinerario/itinerario.listar.js"></script>
    @*<script type="text/javascript" src="~/dist/js/Admin/puerto.js"></script>*@
}
