﻿@{
    ViewData["Title"] = "Servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Servicios</h4>
            </div>
            <div class="card-body">
                 <div class="row col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" onclick="clickInttra();" id="checkInttra">
                            <label class="custom-control-label" for="checkInttra">OFF/ON SERVICIO DE INTTRA</label>
                        </div>
                    </div>
                    
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/build/js/update.servicios.js"></script>
}
