﻿@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<form method="post" asp-action="Create">*@
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<body>

    @*<div class="loading show" id="contenedor_spinner">
        <div class="spin"></div>
    </div>*@
    <br />

    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Editar Reserva</h4>
                </div>
                <div class="card-body">
                    <div class="col-10 offset-1 mt-1">
                        <div class="form-group row">

                            <div class="form-group col-md-6">
                                <label>*Naviera</label>
                                <select class="form-control " id="txtNaviera" asp-items="@Model.ListaNavieras">
                                    <option value="0">--Selecciona Naviera--</option>
                                    @*<option value="SUDU">HAMBURG SÜD</option>
                                        <option value="CMDU">CMA CGM</option>
                                        <option value="HLCU">HAPAG-LLOYD</option>
                                        <option value="MAEU">MAERSK LINE</option>
                                        <option value="SAFM">SAFMARINE</option>
                                        <option value="ACLU">ATLANTIC CONTAINER LINE</option>*@
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Numero de contrato (opcional)</label>

                                <input id="txtNroContrato" class="form-control" placeholder="Ingresar" />
                                <span id="span_correcto"></span>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="form-group col-md-6">
                                <label>Exportador</label>
                                <input type="text"  class="form-control " id="txtExpeditor" disabled/>
                                @*<select class="form-control " id="txtExpeditor" asp-items="@Model.ListaClientes" disabled>
                                    <option value="0">--Selecciona Exportador--</option>
                                </select>*@
                                @*<input id="" class="form-control" placeholder="Ingresar" />*@
                            </div>
                            <div class="form-group col-md-6">
                                <label>*Consignatario</label>
                                <input id="txtConsignatario" class="form-control" placeholder="Ingresar consignatario" />
                                @*<select class="form-control  " id="txtConsignatario">
                                        <option value="0">--Selecciona Consignatario--</option>
                                        <option value="20370146994">ACEROS AREQUIPA SA</option>
                                        <option value="20257364357">MOLINOS & CIA S.A</option>
                                        <option value="20514951528">INKAFERT SOCIEDAD ANONIMA CERRADA</option>
                                        <option value="20100128307">CONSORCIO EMPRESARIAL AGNAV S.A.</option>
                                        <option value="20392776975">MINERA SHOUXIN PERU S.A.</option>
                                    </select>*@
                            </div>
                        </div>

                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md-6"><h5>Información de transporte</h5></div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-4">
                                <label>*Puerto embarque</label>
                                <input type="text" class="form-control" id="txtPuertoEmbarque" placeholder="Ingresar Puerto Embarque">
                                <input type="hidden" id="hddEmbarqueId">
                                <input type="hidden" id="hddEmbarqueCodigoPuerto">
                                <input type="hidden" id="hddEmbarqueCodigoPais">
                                <input type="hidden" id="hddEmbarqueNombrePais">
                                <input type="hidden" id="hddEmbarqueNombreRegion">
                            </div>
                            <div class="form-group col-md-4">
                                <label>*Puerto Descarga</label>
                                <input type="text" class="form-control" id="txtPuertoDescarga" placeholder="Ingresar Puerto Descarga"> @*value="PECLL">*@
                                <input type="hidden" id="hddDescargaId">
                                <input type="hidden" id="hddDescargaCodigoPuerto">
                                <input type="hidden" id="hddDescargaCodigoPais">
                                <input type="hidden" id="hddDescargaNombrePais">
                                <input type="hidden" id="hddDescargaNombreRegion">
                            </div>
                            <div class="form-group col-md-4">
                                <label> *ETD </label>
                                <input id="txtETD" class="form-control" type="date" placeholder="Ingresar" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-4">
                                <label>*ETA</label>
                                <input id="txtETA" class="form-control" type="date" placeholder="Ingresar" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>*Nombre Nave</label>
                                <input id="txtNombreNave" class="form-control" type="text" placeholder="Ingresar nombre nave" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>*Numero de viaje</label>
                                <input id="txtNaveViaje" class="form-control" placeholder="Ingresar" />
                            </div>
                        </div>


                        <hr>
                        <div class="card">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-6"><h5>Informacion de contenedores/carga</h5></div>
                                    <div class="form-group col-md-6">
                                        @*<a href="" class="btn btn-primary float-right" onclick="generar_tabla(1); return false">Agregar <i class="fa fa-plus"></i></a>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="form-group col-md-3">
                                        <label>*Cantidad</label>
                                        <input id="txtCantidad" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>*Peso</label>
                                        <input id="txtPeso" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Seleccione el tipo de contenedor</label>
                                        <select class="form-control " id="txtTipoContenedor" onchange="CambiarContenedor(); return false" asp-items="@Model.ListaTipoContenedor">
                                            <option value="0">--Selecciona Contenedor--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row col-md-12" id="div_reefer">
                                    <div class="card col-md-12">
                                        <div class="card-body col-md-12">
                                            <div class="form-row">
                                                <div class="form-group col-md-12"><h5>Condiciones Tipo Contenedor</h5></div>

                                            </div>
                                            <div class="form-group row">
                                                <div class="form-group col-md-2">
                                                    <label>Condiciones: </label>
                                                    <select class="form-control  " id="cbo_Condicion">
                                                        <option value="F">Fresh</option>
                                                        <option value="B">Frozen</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>Cold Treatment: </label>
                                                    <select class="form-control  " id="cbo_Cold">
                                                        <option value="S">SI</option>
                                                        <option value="N">NO</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>Temperatura: </label>
                                                    <input id="txt_temperatura" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />

                                                </div>
                                                <div class="form-group col-md-2" style="text-align:unset">
                                                    <label>Grados: </label>
                                                    <select class="form-control  " id="cbo_grados">
                                                        <option value="°C">°C</option>
                                                        <option value="°F">°F</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>Ventilación: </label>
                                                    <input id="txt_ventilacion" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />

                                                </div>
                                                <div class="form-group col-md-2" style="text-align:unset">
                                                    <label>Tipo: </label>
                                                    <select class="form-control  " id="cbo_tipo_ventilacion">
                                                        <option value="CBM">CBM</option>
                                                        <option value="OTHER">OTHER</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">

                                                <div class="form-group col-md-2">
                                                    <label>Humedad: </label>
                                                    <input id="txt_humedad" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />

                                                </div>
                                                <div class="form-group col-md-2" style="text-align:unset">
                                                    <label>Tipo: </label>
                                                    <select class="form-control  " id="cbo_tipo_humedad">
                                                        <option value="Off">Off</option>
                                                        <option value="On">On</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2" style="text-align:unset">
                                                    <label>Atmósfera Controlada: </label>
                                                    <select class="form-control  " id="cbo_atmosfera">
                                                        <option value="SI">SI</option>
                                                        <option value="NO">NO</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>CO2: </label>
                                                    <input id="txt_co2" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>O2: </label>
                                                    <input id="txt_o2" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row col-md-12" id="div_dry">
                                    <div class="card col-md-12">
                                        <div class="card-body col-md-12">
                                            <div class="form-row">
                                                <div class="form-group col-md-12"><h5>Condiciones Tipo Contenedor</h5></div>
                                                <div class="form-group row">
                                                    <div class="form-group col-md-6" style="text-align:unset">
                                                        <label>IMO: </label>
                                                        <select class="form-control  " id="cbo_imo">
                                                            <option value="1">1- IMO 1 - EXPLOSIVO</option>
                                                            <option value="2">2- IMO 2 - GASES</option>
                                                            <option value="3">3- IMO 3 - LIQUIDOS INFLAMABLES</option>
                                                            <option value="4">4- IMO 4 - SOLIDOS PELIGROSOS</option>
                                                            <option value="5">5- IMO 5 - SUSTANCIAS OXIDANTES</option>
                                                            <option value="6">6- IMO 6 - SUSTANCIAS VENENOSAS</option>
                                                            <option value="7">7- IMO 7 - SUSTANCIAS RADIACTIVAS</option>
                                                            <option value="8">8- IMO 8 - SUSTANCIAS CORROSIVAS</option>
                                                            <option value="9">9- IMO 9 - SUSTANCIAS PELIGROSAS DIVERSAS</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <label>UN1: </label>
                                                        <input id="txt_un1" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />

                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <label>UN2: </label>
                                                        <input id="txt_un2" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-md-6">
                                        <label>*Comodity</label>
                                        <select class="form-control " id="txtComodity" asp-items="@Model.ListaCommodity">
                                            <option value="0">--Selecciona Comodity--</option>
                                            @*<option value="1">Fresh Grapes</option>
                                                <option value="102">Animales De La Especie Bovina, En Directo</option>
                                                <option value="103">Porcina, En Directo</option>
                                                <option value="104">Ovejas Y Cabras, En Directo</option>
                                                <option value="3917">Tubos, Tuberías Y Mangueras Y Sus Accesorios, De Plástico</option>
                                                <option value="3922">Baños, Lavabos, Inodoros, Etc Asientos De Plásticos</option>*@
                                        </select>
                                        @*<input id="txtComodity" class="form-control" placeholder="Ingresar" />*@
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>*Descripcion de Carga</label>
                                        <input id="txtDescrip_Carga" class="form-control" placeholder="Ingresar" />
                                    </div>
                                </div>


                                <hr />

                            </div>
                        </div>
                        @*tabla dinamica*@
                        <div id="gridLista">
                        </div>

                        <div class="form-row col-md-12">
                            <div class="card col-md-12">
                                <div class="card-body col-md-12">
                                    <div class="form-row">
                                        <div class="form-group col-md-12"><h5>Condiciones de pago</h5></div>
                                        <div class="form-group col-md-6">
                                            <label>Condiciones de Pago</label>
                                            <select class="form-control  " id="cbo_pago" onchange="CambiarPago(); return false">
                                                <option value="ELSEWHERE" selected>ELSEWHERE</option>
                                                <option value="COLLLECT">COLLLECT</option>
                                                <option value="PREPAID">PREPAID</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3" id="div_name_pago">
                                            <label>Nombre Pagador</label>
                                            <input id="txt_nombre_pagador" class="form-control" placeholder="Ingresar" />
                                        </div>
                                        <div class="form-group col-md-3" id="div_direc_pago">
                                            <label>Direccion Pagador</label>
                                            <input id="txt_direccion_pagador" class="form-control" placeholder="Ingresar" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12"><h5>Condiciones de pago</h5></div>
                                        <div class="form-group col-md-6">
                                            <label>Emision BL</label>
                                            <select class="form-control  " id="cbo_emision">
                                                <option value="Destino">Destino</option>
                                                <option value="Origen">Origen</option>
                                                <option value="Seawaybill">Seawaybill</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group row col-12 offset-1 mt-1 ">
                        <div class="col-md-3 card-footer">
                            <button class="btn btn-primary form-control " onclick="Cancelar(); return false;"> <i class="fas fa-arrow-circle-left"></i> &nbsp; Cancelar</button>
                        </div>
                        <div class="col-md-4 card-footer">
                        </div>
                        <div class="col-md-3 card-footer">
                            <button id="btn_update" class="btn btn-primary form-control" onclick="UpdateReserva();">Actualizar Reserva <i class="fas fa-arrow-circle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



@section Scripts {
    <script src="~/build/js/Reservas/reserva.editar.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

}
