﻿
@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
</div><div asp-validation-summary="ModelOnly" class="text-danger"></div>


@*<div class="loading show" id="contenedor_spinner">
    <div class="spin"></div>
</div>*@

<body class="hold-transition sidebar-mini layout-fixed">

    <div class="cotenedor_carga">
        <div id="carga">

        </div>
    </div>

    <!-- Content Wrapper. Contains page content -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <div class="col-12">

                    <div class="card card-primary">

                        <!-- form start -->
                        <form>

                            <div class="card-body" style="padding-bottom: 0rem;">
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label for="txt_nroBooking">Numero de booking</label>
                                        <input type="text" class="form-control" id="txt_nroBooking" placeholder="Ingresar">
                                    </div>

                                    @*<div class="form-group col-md-2">
                                            <label>Naviera</label>
                                            <input type="text" class="form-control" placeholder="Ingresar" id="txtNaviera_parametro" />

                                        </div>*@
                                    <div class="form-group col-md-2">
                                        <label>Puerto Carga</label>
                                        <input type="text" class="form-control" id="txtPuertoEmbarque" placeholder="Ingresar Puerto Embarque">
                                        <input type="hidden" id="hddEmbarqueCodigoPuerto">
                                        <input type="hidden" id="hddEmbarqueCodigoPais">
                                        <input type="hidden" id="hddEmbarqueNombrePais">
                                        <input type="hidden" id="hddEmbarqueNombreRegion">
                                        @*<select class="form-control bg-danger" id="txtPuertoEmbarque">
                                                <option value="0">--Selecciona Puerto--</option>
                                                <option value="AFASH" codpais="AF" pais="Afganistán">Ali Shirzayi</option>
                                                <option value="DZAZR" codpais="DZ" pais="Argelia">Adrar</option>
                                                <option value="ALARG" codpais="AL" pais="Albania">Argyrokastro</option>
                                                <option value="ASFTI" codpais="AS" pais="Samoa Americana">Fitiuta</option>
                                                <option value="ADALV" codpais="AD" pais="Andorra">Andorra la Vella</option>
                                                <option value="PECLL" codpais="PE" pais="Peru">Callao</option>
                                            </select>*@

                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="txtweeks">Puerto Descarga</label>
                                        <input type="text" class="form-control" id="txtPuertoDescarga" placeholder="Ingresar Puerto Descarga"> @*value="PECLL">*@
                                        <input type="hidden" id="hddDescargaCodigoPuerto">
                                        <input type="hidden" id="hddDescargaCodigoPais">
                                        <input type="hidden" id="hddDescargaNombrePais">
                                        <input type="hidden" id="hddDescargaNombreRegion">
                                        @*<select class="form-control bg-danger" id="txtPuertoDescarga">
                                                <option value="0">--Selecciona Puerto--</option>
                                                <option value="AFASH" codpais="AF" pais="Afganistán">Ali Shirzayi</option>
                                                <option value="DZAZR" codpais="DZ" pais="Argelia">Adrar</option>
                                                <option value="ALARG" codpais="AL" pais="Albania">Argyrokastro</option>
                                                <option value="ASFTI" codpais="AS" pais="Samoa Americana">Fitiuta</option>
                                                <option value="ADALV" codpais="AD" pais="Andorra">Andorra la Vella</option>
                                                <option value="PABLB" codpais="CO" pais="Colombia">Balboa</option>
                                            </select>*@

                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="txtBy">Filtrar por estado</label>
                                        <select class="form-control" id="id_cbEstado">
                                            <option value="0">--Todos--</option>
                                            <option value="1">Pendiente</option>
                                            <option value="2">Pendiente Inttra</option>
                                            <option value="3">Aceptado</option>
                                            <option value="4"> Confirmado</option>
                                            <option value="5"> Anulado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <button onclick="ListaActual();return false" class="btn btn-primary float-right">Realizar Busqueda</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <section>
        <div class="container-fluid" id="gridLista">


        </div>
    </section>


</body>

@section Scripts {
    <script src="~/build/js/Reservas/listar.reservas.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
}