﻿@model VELogisticCloud.Models.ItinerarioSolicitud
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
</div><div asp-validation-summary="ModelOnly" class="text-danger"></div>

      @*<div class="loading show" id="contenedor_spinner">
          <div class="spin"></div>
      </div>*@

      <body>

          <!-- Content Wrapper. Contains page content -->
          <section>
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-header">
                                  <div class="row">
                                      <div class="col-6">
                                          <a onclick="window.history.back();">
                                              <h4> &lt 087LIM371128</h4>
                                          </a>
                                      </div>
                                      <div class="col-6 text-right">
                                          <a href="#" onclick="PlantillaReserva(); return false;">Utilizar como plantilla </a>
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          <a href="#"> Descargar como PDF</a>
                                      </div>
                                  </div>
                              </div>
                              <div class="card-body">
                                  <table class="table table-hover">
                                      <tbody>
                                          <tr>
                                              <td style="border-top:none;" class="border-right">
                                                  <div class="row">SAFMARINE</div>
                                                  <div class="row">MAKUTU/D47N</div>
                                                  <div class="row"><b>Tipo de movimiento:</b></div>
                                                  <div class="row">Puerto-Puerto</div>
                                              </td>
                                              <td style="border-top:none;" class="border-right">
                                                  <div class="row">
                                                      <div class="col-6">Contract:</div>
                                                      <div class="col-6 text-right">Yes</div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-6">Tariff:</div>
                                                      <div class="col-6 text-right"><b>$2,850</b></div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-6">Expiration:</div>
                                                      <div class="col-6 text-right"><b>12/11/20</b></div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-6">TT:</div>
                                                      <div class="col-6 text-right"><b>2 semanas</b></div>
                                                  </div>
                                              </td>
                                              <td style="border-top:none;">
                                                  <div class="row"><b>04 - Dec - 2020</b></div>
                                                  <div class="row">(Fri)</div>
                                                  <div class="row">Lima, PERU</div>
                                                  <div class="row">Cut-off: 04-Dec-2020 : 14:00hrs</div>
                                              </td>
                                              <td style="border-top:none;"><h2 class="display-4">></h2></td>
                                              <td style="border-top:none;">
                                                  <div class="row"><b>25 - Dec - 2020</b></div>
                                                  <div class="row">(Fri)</div>
                                                  <div class="row">Antwerpen, BELGIUM</div>
                                                  <div class="row">PSA / NOORDZEL TERMINAL / (QUAYS 901-913)</div>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td style="border-top:none;" class="border-right">
                                                  <div class="row"><b>Número de contenedor</b></div>
                                                  <div class="row">MEDU9628398</div>
                                                  <div class="row">MEDU9628398</div>
                                              </td>
                                              <td style="border-top:none;" class="border-right">
                                                  <div class="row">
                                                      <div class="col-6">Contract:</div>
                                                      <div class="col-6 text-right">Yes</div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-6">Tariff:</div>
                                                      <div class="col-6 text-right"><b>$2,850</b></div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-6">Expiration:</div>
                                                      <div class="col-6 text-right"><b>12/11/20</b></div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-6">TT:</div>
                                                      <div class="col-6 text-right"><b>2 semanas</b></div>
                                                  </div>
                                              </td>
                                              <td style="border-top:none;">
                                                  <div class="row"><b>04 - Dec - 2020</b></div>
                                                  <div class="row">(Fri)</div>
                                                  <div class="row">Lima, PERU</div>
                                                  <div class="row">Cut-off: 04-Dec-2020 : 14:00hrs</div>
                                              </td>
                                              <td style="border-top:none;"><h2 class="display-4">></h2></td>
                                              <td style="border-top:none;">
                                                  <div class="row"><b>25 - Dec - 2020</b></div>
                                                  <div class="row">(Fri)</div>
                                                  <div class="row">Antwerpen, BELGIUM</div>
                                                  <div class="row">PSA / NOORDZEL TERMINAL / (QUAYS 901-913)</div>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>

          <section>
              <div  id="gridhtml">
              </div>
          </section>
      </body>

@section Scripts {
    <script src="~/build/js/Reservas/detalle.reserva.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
}

