﻿
@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div class="loading show" id="contenedor_spinner" style="visibility:hidden">
    <div class="spin"></div>
</div>*@
<div class="card-header">
</div><div asp-validation-summary="ModelOnly" class="text-danger"></div>

<body class="hold-transition sidebar-mini layout-fixed">

    <!-- Content Wrapper. Contains page content -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <div class="col-12">

                    <div class="card card-primary">

                        <!-- form start -->
                        <form>

                            <div class="card-body" style="padding-bottom: 0rem;">
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label for="txtOrigen">Numero de booking</label>
                                        <input type="text" class="form-control" id="txtOrigen" placeholder="Ingresar">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Commodity/Campaña</label>
                                        <input type="text" class="form-control" placeholder="Ingresar" id="txtcommodity_parametro" />

                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Naviera</label>
                                        <input type="text" class="form-control" placeholder="Ingresar" id="txtNaviera_parametro" />
                                        @*<select class="form-control">
                                                <option>Seleccionar</option>
                                            </select>*@
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Destino</label>
                                        <input type="text" class="form-control" placeholder="Ingresar" id="txtDestino_parametro" />


                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="txtweeks">Puerto de salida</label>
                                        <input type="text" class="form-control" placeholder="Ingresar" id="txtPuertoSalida_paramtetro" />

                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="txtBy">Filtrar por estado</label>
                                        <select class="form-control" id="id_cbEstado">
                                            <option value="0">--Todos--</option>
                                            <option value="1">Pendiente</option>
                                            <option value="2">Aceptado</option>
                                            <option value="3"> Confirmado</option>
                                            <option value="4"> Anulado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <button onclick="ListaActual(); return false;" class="btn btn-primary float-right">Realizar Busqueda</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <section>
        <div class="container-fluid" id="gridLista">

        </div>
    </section>


</body>

@section Scripts {
    <script src="~/build/js/CustomerService/customer.service.lista.reserva.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">

    @*<script type="text/javascript" src="~/dist/js/Admin/puerto.js"></script>*@
}