﻿@model VELogisticCloud.Models.ViewModel.UsuarioViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Consulta de Usuario";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Usuario</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li class="breadcrumb-item">Administraci&oacute;n</li>
                    <li class="breadcrumb-item">Seguridad</li>
                    <li class="breadcrumb-item"><a asp-controller="Usuario" asp-action="Index">Usuario</a></li>
                    <li class="breadcrumb-item active">Consultar</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Filtros de Consulta</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <form role="form">
                            <div class="row">
                                <div class="col-sm-2">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Login</label>
                                        <input id="login" type="text" class="form-control" placeholder="Ingrese un login">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Apellido</label>
                                        <input id="apellido" type="text" class="form-control" placeholder="Ingrese un Apellido">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input id="nombre" type="text" class="form-control" placeholder="Ingrese un Nombre">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <select id="idEstado"
                                                name="idEstado"
                                                asp-items="@(new SelectList(Model.Estados, "IdEstado", "Nombre"))"
                                                class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-sm-3 align-self-center">
                                    <div class="btn-group float-right">
                                        <button id="btnLimpiar" type="button" class="btn btn-default">
                                            <i class="fas fa-eraser"></i>&nbsp;&nbsp;Limpiar
                                        </button>
                                        <button id="btnConsultar" type="button" class="btn btn-primary">
                                            <i class="fas fa-search"></i>&nbsp;&nbsp;Consultar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Resultados de la Consulta</h3>
                        <a asp-controller="Usuario" asp-action="Registrar" class="btn btn-info float-right">
                            <i class="fas fa-file"></i>&nbsp;&nbsp;Nuevo
                        </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <table id="usuario-datatable" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Login</th>
                                    <th>Email</th>
                                    <th>Apellidos</th>
                                    <th>Nombres</th>
                                    <th>Telf.</th>
                                    <th>Estado</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>

                        </table>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

@section Scripts {
    <script type="text/javascript" src="~/dist/js/Seguridad/Usuario/index.js"></script>
}