﻿@model VELogisticCloud.Models.ViewModel.UsuarioViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Consulta de Usuario";
    ViewData["PageTitle"] = "Usuarios";
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Filtros de Consulta</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <form role="form">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input id="nombre" type="text" class="form-control" placeholder="Ingrese un Apellido">
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Razon Social</label>
                                <input id="razonSocial" type="text" class="form-control" placeholder="Ingrese un Nombre">
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Correo</label>
                                <input id="email" type="text" class="form-control" placeholder="Ingrese un login">
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Estado</label>
                                <select class="form-control" id="idEstado">
                                    <option value="-1">Todos</option>
                                    <option value="1">Activo</option>
                                    <option value="0">No Activo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 align-self-center">
                            <div class="btn-group float-right">
                                <button id="btnLimpiar" type="button" class="btn btn-default">
                                    <i class="fas fa-eraser"></i>&nbsp;&nbsp;Limpiar
                                </button>
                                <button id="btnConsultar" type="button" class="btn btn-primary">
                                    <i class="fas fa-search"></i>&nbsp;&nbsp;Consultar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Resultados de la Consulta</h3>
                <!--<a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link">-->

                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info float-right">
                    <i class="fas fa-file"></i>&nbsp;&nbsp;Nuevo
                </a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                    <table id="usuario-datatable" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>RazonSocial</th>
                                <th>RUC</th>
                                <th>Email</th>
                                <th>Rol</th>
                                <th>Editar</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts {
    <script type="text/javascript" src="~/dist/js/Seguridad/Usuario/index.js"></script>
}