﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser<int>> SignInManager
@inject UserManager<IdentityUser<int>> UserManager

@model VELogisticCloud.App.Web.Models.Seguridad.UsuarioRegistroViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Registro de Usuario";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Usuario</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li class="breadcrumb-item">Administraci&oacute;n</li>
                    <li class="breadcrumb-item">Seguridad</li>
                    <li class="breadcrumb-item"><a asp-controller="Usuario" asp-action="Index">Usuario</a></li>
                    <li class="breadcrumb-item active">Registrar</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Registrar Usuario</h3>
                    </div>
                    <!-- /.card-header -->

                    <form role="form" asp-controller="Usuario" asp-action="Registrar" id="register" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Id Usuario</label>
                                        <input type="text" id="idUsuario" name="idUsuario" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Login</label>
                                        <input type="text" id="login" name="login" asp-for="Login" placeholder="Login del Usuario" class="form-control">
                                        <span asp-validation-for="Login" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" id="email" name="email" asp-for="Email" placeholder="Email del Usuario" class="form-control">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" id="passwordHash" name="passwordHash" asp-for="Password" placeholder="Password del Usuario" class="form-control">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Confirmar el Password</label>
                                        <input type="password" id="passwordConfirm" name="passwordConfirm" asp-for="ConfirmPassword" placeholder="Ingrese nuevamente el Password" class="form-control">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        <input type="text" id="apellidos" name="apellidos" asp-for="Apellidos" placeholder="Apellidos del Usuario" class="form-control">
                                        <span asp-validation-for="Apellidos" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Nombres</label>
                                        <input type="text" id="nombres" name="nombres" asp-for="Nombres" placeholder="Nombres del Usuario" class="form-control">
                                        <span asp-validation-for="Nombres" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Telf. Móvil</label>
                                        <input type="text" id="telefonoMovil" name="telefonoMovil" asp-for="TelefonoMovil" placeholder="Móvil del Usuario" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <select id="idEstado"
                                                name="idEstado" asp-for="IdEstado"
                                                asp-items="@(new SelectList(Model.Estados, "IdEstado", "Nombre", Model.IdEstado))"
                                                class="form-control"></select>
                                    </div>
                                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Registrado por</label>
                                        <input type="text" id="usuarioRegistro" name="usuarioRegistro" value="@UserManager.GetUserName(User)" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Fecha de Registro</label>
                                        <input type="text" id="fechaRegistro" name="fechaRegistro" asp-for="FechaRegistro" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Modificado por</label>
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Fecha de Modificación</label>
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger text-sm"></div>
                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="float-right">
                                <button type="button" class="btn btn-default">
                                    <i class="fas fa-undo"></i>&nbsp;&nbsp;Cancelar
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <i class="fas fa-eraser"></i>&nbsp;&nbsp;Limpiar
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-save"></i>&nbsp;&nbsp;Registrar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

