﻿
@{
    ViewData["Title"] = "LogisticaAprobadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div asp-authorize asp-roles="Administrador,Cliente">
    <input type="hidden" value="admin" id="tipousuario" />
</div>
<div asp-authorize asp-roles="Customer Service">
    <input type="hidden" value="customer" id="tipousuario" />
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <form>

                <div class="card-body" style="padding-bottom: 0rem;">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="txtNumeroCotizacion">Numero de cotizacion</label>
                            <input type="text" class="form-control" id="txtCodigoCoti" placeholder="Ingresar">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Linea Naviera</label>
                            <select class="form-control " id="txtNaviera" asp-items="@Model.ListaNavieras">
                                <option value="0">TODAS LAS NAVIERAS</option>
                            </select>

                        </div>
                        <div class="form-group col-md-2" style="display:none">
                            <label>*Puerto de Carga</label>
                            <input type="text" class="form-control" id="txtPuertoSalida" placeholder="Ingresar Puerto Embarque"> @*value="PECLL">*@
                            <input type="hidden" id="hddEmbarqueId">
                            <input type="hidden" id="hddEmbarqueCodigoPuerto">
                            <input type="hidden" id="hddEmbarqueCodigoPais">
                            <input type="hidden" id="hddEmbarqueNombrePais">
                            <input type="hidden" id="hddEmbarqueNombreRegion">
                        </div>
                        <div class="form-group col-md-2" style="display:none">
                            <label>*Puerto de Descarga</label>
                            <input type="text" class="form-control" id="txtPuertoDestino" placeholder="Ingresar Puerto Descarga"> @*value="PECLL">*@
                            <input type="hidden" id="hddDescargaId">
                            <input type="hidden" id="hddDescargaCodigoPuerto">
                            <input type="hidden" id="hddDescargaCodigoPais">
                            <input type="hidden" id="hddDescargaNombrePais">
                            <input type="hidden" id="hddDescargaNombreRegion">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-3">
                            <select id="cboTipoServicio" class="form-control">
                                <option value="1">Flete marítimo</option>
                                <option value="2" selected>Operacion Logistica</option>
                            </select>
                        </div>
                        <div class="col-2 offset-7">
                            <button onclick="ListaLogisticaAprobadas(); return false;" class="btn btn-primary float-right">Realizar Busqueda</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="gridhtml"></div>


@section Scripts {
    <script src="~/build/js/Cotizacion/lista.logistica.aprobada.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@

}