﻿@model VELogisticCloud.App.Web.Util.ModelCombos
@{
    ViewData["Title"] = "Create";
    ViewData["PageTitle"] = "¿Qué tipo servicio desea Cotizar?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-warning alert-dismissible" role="alert" id="AlertaUsuarioCustomer" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times; </span></button>
    Para crear cotizaciones debe tener el perfil de Cliente.
</div>

<div class="row mb-2">
    <div class="col-md-3">
        <select id="cboTipoServicio" class="form-control">
            <option value="1">Flete marítimo</option>
            <option value="2" selected>Operacion Logistica</option>
            @*<option value="3" >Transporte</option>*@
        </select>
    </div>
    <div class="col-10"></div>
</div>


<!-- Main row -->
<div class="row">
    <div class="col-12">
        <div class="card card-primary">

            <!-- form start -->
            <form id="form">
                <div class="card-header">
                    Complete los siguientes campos para realizar una solicitud de los servicios seleccionados
                </div>
                <div class="card-body" style="padding-bottom: 0rem;">
                    <div class="form-row">
                        <div class="form-group col-md-4 text-left">
                            <label>Campaña: </label>
                            <select class="form-control" id="cbo_Campania" asp-items="@Model.ListaCampania">
                                <option value="">--Selecciona Campaña--</option>
                            </select>
                            <input type="date" id="txt_fecha" class="form-control" style="display:none" />
                        </div>
                        <div class="form-group col-md-4 text-left">
                            <label>Commodity: </label><input type="hidden" id="hddTMP" asp-for="@Model.TMP" />
                            <select class="form-control" id="cbo_Commodity" asp-items="@Model.ListaCommodity">
                                <option value="0">--Selecciona Comodity--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row" style="display:none">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_embarque" />
                            <label>Servicio de Embarque</label>
                        </div>
                    </div>

                    <hr />
                    <div class="form-row" style="display:none">
                        <div class="form-group col-md- text-left">
                            <input type="checkbox" id="chk_retiro" />
                            <label>Retiro de contenedor vacío</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 text-left">
                            <label>Puerto Embarque: </label>
                            <input type="text" class="form-control" id="txtPuertoEmbarque" placeholder="Ingresar Puerto Embarque">
                            <input type="hidden" id="hddEmbarqueId">
                            <input type="hidden" id="hddEmbarqueCodigoPuerto">
                            <input type="hidden" id="hddEmbarqueCodigoPais">
                            <input type="hidden" id="hddEmbarqueNombrePais">
                            <input type="hidden" id="hddEmbarqueNombreRegion">
                        </div>
                        <div class="form-group col-md-4 text-left" style="display:none">
                            <label>Almacen retiro: </label>
                            <select class="form-control" id="cbo_AlmacenRetiro" asp-items="@Model.ListaAlmacenDeVacio">
                                <option value="0">--Selecciona Puerto--</option>
                            </select>
                        </div>
                    </div>
                    <hr />

                    <!--SERVICIO DE COTIZACION LOGISTICA-->

                    <div class="form-row" style="display:none">
                        <div class="form-group col-md-2 text-left">
                            <input type="checkbox" id="chk_transporte" />
                            <label>Retiro de transporte</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 text-left">
                            <label>Almacen packing: </label>
                            <select class="form-control" id="cbo_Almacen_Packing" asp-items="@Model.ListaPacking">
                                <option value="0">Todos los Packing</option>
                            </select>
                        </div>
                    </div>
                    <hr />

                    <div class="form-row">
                        <div class="form-group col-md-12 text-left">
                            <input type="checkbox" id="chk_n_transporte" checked />
                            <label for="chk_n_transporte">&nbsp;&nbsp;Transporte</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 text-left">
                            <input type="checkbox" id="chk_n_gate" checked />
                            <label for="chk_n_gate">&nbsp;&nbsp;Gate Out</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 text-left">
                            <input type="checkbox" id="chk_n_agenciamiento" checked />
                            <label for="chk_n_agenciamiento">&nbsp;&nbsp;Agenciamiento de Aduanas</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 text-left">
                            <input type="checkbox" id="chk_n_derecho" checked />
                            <label for="chk_n_derecho">&nbsp;&nbsp;Derecho de Embarque</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12 text-left">
                            <input type="checkbox" id="chk_n_vistos" checked />
                            <label for="chk_n_vistos">&nbsp;&nbsp;Vistos buenos o Agenciamiento Maritimo</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 text-left">
                            <input type="checkbox" id="chk_n_documentos" />
                            <label for="chk_n_documentos">&nbsp;&nbsp;Envio Documentos Courier</label>
                        </div>
                    </div>
                    <div class="form-row">

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 text-left">
                            <input type="checkbox" id="chk_n_certificado" />
                            <label for="chk_n_certificado">&nbsp;&nbsp;Certificado Fitosanitario</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 text-left">
                            <input type="checkbox" id="chk_n_movilidad" />
                            <label for="chk_n_movilidad">&nbsp;&nbsp;Movilizacion senasa</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_n_termo" />
                            <label for="chk_n_termo">&nbsp;&nbsp;Termo registros</label>
                        </div>
                        <div class="form-group col-md-4">
                            <select class="form-control" id="cbo_TermoRegistro" asp-items="@Model.ListaTermoRegistro">
                                <option value="">--Selecciona Termo Registro--</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <select class="form-control " id="cbo_Cantidad" aria-label="Default select example">
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row" id="div_termo" style="display:none">

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_n_filtro" />
                            <label for="chk_n_filtro">&nbsp;&nbsp;Filtros de Etileno</label>
                        </div>
                        <div class="form-group col-md-4">
                            <select class="form-control" id="cbo_FiltroEtileno" asp-items="@Model.ListaFiltroEtileno">
                                <option value="">--Selecciona Filtro--</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <select class="form-control" id="cbo_Cantidad2" aria-label="Default select example">
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row" id="div_filtro" style="display:none">
                    </div>

                    <div>
                        <label>Comentarios: </label>
                        <div class="form-group col-md-12 text-left">
                            <textarea id="txt_Comentario" class="form-group col-md-6"></textarea>
                        </div>
                    </div>

                    <div class="form-row" style="display:none">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_Servicio_Aduana" />
                            <label>Servicio de Agenciamiento de Aduana</label>
                        </div>
                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_Origen" />
                            <label>Certificado de origen</label>
                        </div>
                    </div>

                    <div class="form-row" style="display:none">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_conexion" />
                            <label>Conexión Eléctrica</label>
                        </div>
                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_Pago_cpb" />
                            <label>Pago del CPB</label>
                        </div>
                    </div>
                    <div class="form-row" style="display:none">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_agenciamiento_maritimo" />
                            <label>Agenciamiento Maritimo</label>
                        </div>
                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_movilizaciones_contenedor" />
                            <label>Movilizaciones por Contenedor</label>
                        </div>
                    </div>
                    <div class="form-row" style="display:none">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_generador" />
                            <label>Generador Gen Set Clip On/Underslung</label>
                        </div>
                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_aforo_fisico" />
                            <label>Servicio de Aforo Físico</label>
                        </div>
                    </div>
                    <div class="form-row" style="display:none">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_courier" />
                            <label>Courier por Contenedor</label>
                        </div>
                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_senasa" />
                            <label>Inspección senasa</label>
                        </div>
                    </div>
                    <div class="form-row" style="display:none">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_filtro" />
                            <label>Filtro</label>
                        </div>

                    </div>
                    <div class="form-row" style="display:none">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_termografo" />
                            <label>Termógrafo</label>
                        </div>

                    </div>
                    <div style="display:none">
                        <label>Tipo Termógrafo: </label>
                        <div class="form-group col-md-7 text-left">
                            <textarea id="txt_area_termografo" class="form-group col-md-6"></textarea>
                        </div>
                    </div>


                </div>


                <div class="card-footer">
                    <button onclick="InsertCotLogic(); return false; " id="btnRegistroLogistica" class="btn btn-primary float-right">Realizar cotizacion</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @*<script src="~/build/js/Cotizacion/Insert.transporte.js"></script>*@
    <script src="~/build/js/Cotizacion/insert.maritimo.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
        <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
}
