﻿@{
    ViewData["Title"] = "Create";
    ViewData["PageTitle"] = "¿Qué tipo servicio desea Cotizar?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mb-2">
    <div class="col-2">
        <select id="cboTipoServicio" class="form-control">
            <option value="1">Flete marítimo</option>
            <option value="2">Operacion Logistica</option>
            <option value="3" selected>Transporte</option>
        </select>
    </div>
    <div class="col-10"></div>
</div>


<!-- Main row -->
<div class="row">
    <div class="col-12">
        <div class="card card-primary">

            <!-- form start -->
            <form>
                <div class="card-header">
                    Complete los siguientes campos para realizar una solicitud de los servicios seleccionados
                </div>
                <div class="card-body" style="padding-bottom: 0rem;">
                    <div class="form-row">
                        <div class="form-group col-md-2 text-right">
                            <label for="txtBooking">Booking</label>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" id="txtBooking" placeholder="Ingresar">
                        </div>
                        <div class="form-group col-md-2 text-right">
                            <label for="txtDimensiones">Dimensiones</label>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" id="txtDimensiones" placeholder="Ingresar">
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2 text-right">
                            <label for="txtBL">BL</label>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" id="txtBL" placeholder="Ingresar">
                        </div>
                        <div class="form-group col-md-2 text-right">
                            <label for="cboTipoContenedor">Tipo Contenedor</label>

                        </div>
                        <div class="form-group col-md-2">
                            <select class="form-control" id="cboTipoContenedor">
                                <option value="0">--Selecciona Contenedor--</option>
                                <option value="1" tipo="REEFER">40 Reefer High Cube</option>
                                <option value="3" tipo="REEFER">20 Reefer</option>
                                <option value="4" tipo="DRY">40 Standard Dry</option>
                                <option value="5" tipo="DRY">20 Standard Dry</option>
                                <option value="6" tipo="DRY">40 High Cube</option>
                                <option value="7" tipo="REEFER">40 Reefer</option>
                                <option value="8" tipo="OTROS">20 Bulk</option>
                                <option value="9" tipo="OTROS">20 Insulated</option>
                            </select>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2 text-right">
                            <label for="txtNroOrden">Nro. Orden</label>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" id="txtNroOrden" placeholder="Ingresar">
                        </div>
                        <div class="form-group col-md-2 text-right">
                            <label for="txtCantidadContenedores">Cantidad Contenedores</label>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" id="txtCantidadContenedores" placeholder="Ingresar">
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2 text-right">
                            <label for="cboTipoCarga">Tipo Carga</label>
                        </div>
                        <div class="form-group col-md-2">
                            <select class="form-control bg-danger" id="cboComodity">
                                <option value="0">Selecciona Carga</option>
                                <option value="101">Caballos, Asnos Y Mulas, Vivos</option>
                                <option value="102">Animales De La Especie Bovina, En Directo</option>
                                <option value="103">Porcina, En Directo</option>
                                <option value="104">Ovejas Y Cabras, En Directo</option>
                                <option value="3917">Tubos, Tuberías Y Mangueras Y Sus Accesorios, De Plástico</option>
                                <option value="3922">Baños, Lavabos, Inodoros, Etc Asientos De Plásticos</option>
                            </select>
                        </div>
                        <div class="col-8"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2 text-right">
                            <label for="txtPeso">Peso</label>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" id="txtPeso" placeholder="Ingresar">
                        </div>
                        <div class="col-8"></div>
                    </div>
                    <div class="row">Información adicional</div>
                    <div class="form-row">
                        <div class="form-group col-md-2 text-right">
                            <label for="txtAlmacenRetiro">Almacen retiro</label>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control bg-danger" id="txtAlmacenRetiro" placeholder="Ingresar">
                        </div>
                        <div class="form-group col-md-2 text-right">
                            <label for="txtFechaHoraRetiro">Fecha Hora Cita Retiro</label>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="date" class="form-control" id="txtFechaHoraRetiro" placeholder="Ingresar">
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2 text-right">
                            <label for="txtAlmacenDevolucion">Almacen Devolucion</label>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control bg-danger" id="txtAlmacenDevolucion" placeholder="Ingresar">
                        </div>
                        <div class="col-8"></div>
                    </div>
                </div>
                <div class="card-footer">
                    <button onclick="InsertTransporte(); return false; " class="btn btn-primary float-right">Realizar cotizacion</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @*<script src="~/build/js/Cotizacion/Insert.transporte.js"></script>*@
    <script src="~/build/js/Cotizacion/insert.maritimo.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
}
