﻿@model VELogisticCloud.App.Web.Util.ModelCombos
@{
    ViewData["Title"] = "Crear Cotización";
    ViewData["PageTitle"] = "¿Qué tipo servicio desea Cotizar?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="alert alert-warning alert-dismissible" role="alert" id="AlertaUsuarioCustomer" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times; </span></button>
        Para crear cotizaciones debe tener el perfil de Cliente.
    </div>

    <div class="row mb-2">
        <div class="col-md-3">
            <select id="cboTipoServicio" class="form-control">
                <option value="1" selected>Flete marítimo</option>
                <option value="2">Operacion Logistica</option>
                @*<option value="3">Transporte</option>*@
            </select>
        </div>
        <div class="col-10"></div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card card-primary">

                <!-- form start -->
                <form id="form">
                    <div class="card-header">
                        Complete los siguientes campos para realizar una solicitud de los servicios seleccionados
                    </div>
                    <div class="card-body" style="padding-bottom: 0rem;">
                        <h5 class="text-muted text-uppercase">Cotizacion</h5>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtCodigo">Código de cliente(RUC)</label>
                                <input type="text" class="form-control" id="txtCodigo" placeholder="Ingresar" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtCliente">Usuario</label>
                                <input type="text" class="form-control" id="txtCliente" placeholder="Ingresar" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Cantidad de contenedor(es)</label>
                                <input id="txtCantidad" type="number" class="form-control" placeholder="Solo caracteres Numericos" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Seleccione el tipo de contenedor</label>
                                <select class="form-control" id="txtTipoContenedor" asp-items="@Model.ListaTipoContenedor" required>
                                    <option value="">--Selecciona Contenedor--</option>

                                </select>
                            </div>

                        </div>
                        @*<h5 class="text-muted text-uppercase">Periodo de envío</h5>*@
                        <div class="form-row" style="display:none">
                            <div class="form-group col-md-6">
                                <label for="txtFechaEnvio">Fecha Inicio</label>
                                <input type="date" class="form-control" id="txtFechaEnvio" placeholder="Ingresar" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtFechaFinal">Fecha Final</label>
                                <input type="date" class="form-control" id="txtFechaFinal" placeholder="Ingresar" required>
                            </div>
                        </div>
                        <h5 class="text-muted text-uppercase">Datos</h5>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="txtCampaña">Campaña</label>
                                <select class="form-control " id="txtCampana" asp-items="@Model.ListaCampania" required>
                                    <option value="">--Selecciona Campaña--</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="cboLineaNaviera">Linea Naviera</label>
                                <select class="form-control " id="txtNaviera" asp-items="@Model.ListaNavieras" required>
                                    <option value="0">TODAS LAS NAVIERAS</option>

                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="txtCommodity">Commodity</label>
                                <select class="form-control " id="txtComodity" asp-items="@Model.ListaCommodity" required>
                                    <option value="">--Selecciona Comodity--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>*Puerto de Carga</label>
                                <input type="text" class="form-control" id="txtPuertoEmbarque" placeholder="Ingresar Puerto Embarque" required> @*value="PECLL">*@
                                <input type="hidden" id="hddEmbarqueId">
                                <input type="hidden" id="hddEmbarqueCodigoPuerto">
                                <input type="hidden" id="hddEmbarqueCodigoPais">
                                <input type="hidden" id="hddEmbarqueNombrePais">
                                <input type="hidden" id="hddEmbarqueNombreRegion">
                            </div>
                            <div class="form-group col-md-4">
                                <label>*Puerto de Descarga</label>
                                <input type="text" class="form-control" id="txtPuertoDescarga" placeholder="Ingresar Puerto Descarga" required> @*value="PECLL">*@
                                <input type="hidden" id="hddDescargaId">
                                <input type="hidden" id="hddDescargaCodigoPuerto">
                                <input type="hidden" id="hddDescargaCodigoPais">
                                <input type="hidden" id="hddDescargaNombrePais">
                                <input type="hidden" id="hddDescargaNombreRegion">
                            </div>
                            <div class="form-group col-md-4"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6"><h5 class="text-muted text-uppercase">Detalles</h5></div>
                            <div class="col-6"><button id="btn_agregar" onclick="generar_tabla(1); return false;" class="btn btn-primary rounded-pill float-right">Agregar linea <i class="fas fa-plus-circle"></i></button></div>
                        </div>
                        <div id="gridLista"></div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtNota">Nota</label>
                                <textarea class="form-control" rows="3" placeholder="Ingresar" id="txtNota"></textarea>
                            </div>
                            <div class="form-group col-md-6" style="display:none">
                                <label for="txtObservacion">Observacion</label>
                                <textarea class="form-control" rows="3" placeholder="Ingresar" id="txtObservacion"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button onclick="InsertMaritimo(); return false; " id="btnSolicitar" class="btn btn-primary rounded-pill float-right">Solicitar cotizacion <i class="fas fa-arrow-alt-circle-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>







@section Scripts {
    <script src="~/build/js/Cotizacion/insert.maritimo.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
}