﻿@{
    ViewData["Title"] = "VerDetalleLogistica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-2">
    <div class="col-10"></div>
</div>
<!-- Main row -->
<div class="row">
    <div class="col-12">
        <div class="card card-primary">

            <!-- form start -->
            <form>
                <div class="card-header">
                    <div class="row">
                        <button onclick="Volver(); return false;" class="btn col-md-2 btn-primary float-left rounded-pill"> <i class="fas fa-arrow-alt-circle-left"></i> Volver </button>
                    </div>
                    <br />
                    <div class="row">
                        Resumen de cotizacion # <label id="lbl_nroCotizacion2"></label>
                    </div>
                    @*<i class="fas fa-arrow-left" onclick="Volver()" style="cursor:pointer;"></i>Volver al Listado*@


                </div>

                @*<h3 class="text-center">Crear una nueva categoría</h3>*@
                @*<form method="post" asp-action="Edit">*@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body" style="padding-bottom: 0rem;">
                    <div class="row">
                        <div class="col-6">
                            <h3><b>ID: #   <label id="lbl_nroCotizacion"></label> </b></h3>
                            <span> N° Contenedor <label id="lbl_Cantidad"></label></span><br>
                            <span> <label id="lbl_tipoContenedor"></label> </span>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-5 text-center">
                                    <i class="fas fa-map-marker-alt fa-2x"></i>
                                    <br> <br><label id="lbl_pais_inicio"></label>
                                </div>
                                <div class="col-1 text-center"><i class="fas fa-chevron-right fa-2x"></i></div>
                                <div class="col-6 text-center">
                                    <i class="fas fa-map-marker-alt fa-2x"></i>
                                    <br> <br><label id="lbl_pais_fin"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h4 style="color:forestgreen"><b> Datos Principales</b></h4>
                            Embarque:&nbsp; <label id="lbl_embarque"></label> <br>
                            Compañia:&nbsp;  <label id="lbl_campania"></label> <br>
                            Commodity:&nbsp;  <label id="lbl_commodity"></label> <br>
                            @*Servicio de Embarque: &nbsp; <label id="lbl_servicioEmbarque"></label>*@
                        </div>
                        @*<div class="col-6">
                    <br>
                    <b>Transporte:&nbsp; &nbsp;</b><label id="lbl_transporte" /><br>
                    <b>Gate Out:&nbsp; &nbsp;</b><label id="lbl_gateOut" /><br>
                    <b>Agenciamiento de Aduanas:&nbsp; &nbsp;</b><label id="lbl_agenciamientoAduanas" /><br>
                    <b>Derecho de Embarque:&nbsp; &nbsp;</b><label id="lbl_derechoEmbarque" />
                </div>*@
                    </div>
                    <div class="row">
                        @*<div class="col-6">
                    <h4 style="color:forestgreen"><b> Retiro de Contenedor Vacio</b></h4>
                    Almacen Retiro:&nbsp;<label id="lbl_almacenRetiro"></label> <br>
                </div>*@
                        @*<div class="col-6">
                    <b>Vistos Buenos o Agenciamiento Maritimo:&nbsp; &nbsp;</b><label id="lbl_vistosBuenos"/><br>
                    <b>Envio Documentos Courier:&nbsp; &nbsp;</b><label id="lbl_envio"></label><br>
                    <b>Certificado FitoSanitario:&nbsp; &nbsp;</b><label id="lbl_certificado"></label><br>
                    <b>Movilidad Inspector de SENASA:&nbsp; &nbsp;</b><label id="lbl_movilidad"></label>
                </div>*@
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h4 style="color:forestgreen"><b> Retiro de transporte</b></h4>
                            Almacen packing:&nbsp;  <label id="lbl_almacenPacking"></label>

                        </div>
                        @*<div class="col-6">
                    <b>Termo Registros: &nbsp; &nbsp;</b><label id="lbl_registros"></label><br>
                    <b>Filtros de Etileno:&nbsp; &nbsp;</b><label id="lbl_filtros"></label><br>
                </div>*@
                    </div>
                    <br />
                    <br />

                    <div id="gridhtml"></div>
                </div>


                <br />
                <br />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/build/js/Cotizacion/detalle.logistica.js"></script>
    @*<link rel="stylesheet" href="~/dist/css/spinner.css">*@
}
