﻿@{
    ViewData["Title"] = "VerDetalleMaritimo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-2">
    <div class="col-10"></div>
</div>
<!-- Main row -->
<div class="row">
    <div class="col-12">
        <div class="card card-primary">

            <!-- form start -->
            <form>

                <div class="card-header">
                    <div class="row">
                        <button onclick="Volver(); return false;" class="btn col-md-2 btn-primary float-left rounded-pill"> <i class="fas fa-arrow-alt-circle-left"></i> Volver </button>
                    </div>
                    <br />
                    @*<i class="fas fa-arrow-left" onclick="Volver()" style="cursor:pointer;"></i>Volver al Listado*@
                    <div class="row">
                        Resumen de cotizacion # &nbsp; <label id="lbl_id_cotizacion"></label>
                    </div>

                </div>


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body" style="padding-bottom: 0rem;">
                    <div class="row">
                        <div class="col-6">
                            <h3><b>ID: #   <label id="lbl_id_cotizacion_2"></label> </b></h3>
                            <span> Contenedores <label id="lbl_Cantidad"></label></span><br>
                            <span> <label id="lbl_tipoContenedor"></label> </span>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-3">
                                    <i class="fas fa-map-marker-alt fa-2x"></i>
                                    <br> <br><label id="pais_inicio"></label>
                                </div>
                                <div class="col-1"><h2>></h2></div>
                                <div class="col-4">
                                    <i class="fas fa-pallet fa-2x"></i>
                                    <br><br> <label id="lbl_tipoContenedor2"></label>
                                </div>
                                <div class="col-1"><h2>></h2></div>
                                <div class="col-3">
                                    <i class="fas fa-map-marker-alt fa-2x"></i>
                                    <br> <br><label id="pais_fin"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h4 style="color:forestgreen"><b> Cotización</b></h4>
                            Código:&nbsp; <label id="lbl_codigo"></label> <br>
                            Ruc:&nbsp; <label id="lbl_ruc"></label> <br>
                            Cliente:&nbsp;  <label id="lbl_cliente"></label> <br>
                            Correo:&nbsp;  <label id="lbl_correo"></label> <br>
                        </div>
                        <div class="col-6">
                            <h4 style="color:forestgreen"><b> Información de flete</b></h4>
                            <b>Carga del puerto:&nbsp; &nbsp;</b><label id="lbl_cargapuerto"></label><br>
                            <b>Descarga del puerto:&nbsp; &nbsp;</b><label id="lbl_descargapuerto"></label><br>
                            <b>Commodity:&nbsp; &nbsp;</b><label id="lbl_commodity"></label><br>
                            <b>Campaña:&nbsp; &nbsp;</b><label id="lbl_campania"></label><br>
                            <b>Tipo de contenedor:&nbsp; &nbsp;</b><label id="lbl_tipocontenedor"></label><br>
                            <b>Cantidad de Contenedores:&nbsp; &nbsp;</b><label id="lbl_cantidadcontenedor"></label><br>
                            @*<b>Linea Naviera:&nbsp; &nbsp;</b><label id="lbl_lineanaviera"></label>*@
                        </div>
                    </div>
                    <br />
                    Tarifas Disponibles <i class="fas fa-info-circle fa-1x" data-toggle="tooltip" data-placement="top" title="Sólo se muestran las rutas con tarifas."></i>
                    <br />
                    <br />
                    <div id="gridhtml"></div>
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/build/js/Cotizacion/detalle.maritimo.js"></script>
    @*<link rel="stylesheet" href="~/dist/css/spinner.css">*@
    }


