﻿@model VELogisticCloud.Models.ItinerarioViewModel
@{
    ViewData["Title"] = "Configuración";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table td, .table th {
        padding: .3rem;
    }
</style>

@*<div class="loading show" id="contenedor_spinner" style="visibility:hidden">
        <div class="spin"></div>
    </div>*@
<!-- Main row -->
<div class="row">
    <div class="col-12">
        <div class="card card-primary">

            <!-- form start -->
            <form asp-controller="Itinerario" asp-action="Lista1" id="form" method="post">
                <div class="card-body">
                    <h3>Reiniciar Temporales de Odoo</h3>
                    <button onclick="ReiniciarCache(); return false;" id="btnReiniciar" 
                            class="btn col-md-2 btn-primary rounded-pill"> <i class="fas fa-recycle"></i> Reiniciar </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="gridhtml"></div>




@section Scripts {
    <script src="~/build/js/Configuracion/configuracion.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@

}