﻿
@{
    ViewData["Title"] = "Busqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <form>

                <div class="card-body" style="padding-bottom: 0rem;">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="txtNumeroContenedor">Número de contenedor</label>
                            <input type="text" class="form-control" id="txtNumeroContenedor" placeholder="Ingresar">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtCodigoBL">Código BL</label>
                            <input type="text" class="form-control" id="txtCodigoBL" placeholder="Ingresar">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtNumeroDAM">Número de DAM</label>
                            <input type="text" class="form-control" id="txtNumeroDAM" placeholder="Ingresar">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtNumeroViaje">Número de viaje</label>
                            <input type="text" class="form-control" id="txtNumeroViaje" placeholder="Ingresar">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtNumeroBooking">Número de booking</label>
                            <input type="text" class="form-control" id="txtNumeroBooking" placeholder="Ingresar">
                        </div>
                        @*<div class="form-group col-md-2">
                    <label>Campaña</label>
                    <select class="form-control bg-danger" id="txtCampania">
                        <option value="0">Todas</option>
                        <option value="ARA">Arandanos</option>
                        <option value="PAL">Palta</option>
                    </select>
                </div>*@
                    </div>
                </div>
                @*<div class="card-footer">*@
            <div class="card-footer ">

                <button onclick="VistaAgregarOP(); return false;" class="btn btn-primary rounded-pill float-right col-2">Agregar OP <i class="fas fa-arrow-alt-circle-right"></i></button>

                <button onclick="ListaOperacionLogistica(); return false;" class="btn btn-primary rounded-pill float-left col-2">Busqueda <i class="fas fa-arrow-alt-circle-right"></i></button>
            </div>
                @*<div class="col-2 offset-10">
            <button onclick="Lista_Maritimo(); return false;" class="btn btn-primary float-right">Realizar Busqueda</button>
        </div>*@
                @*</div>*@
            </form>
        </div>
    </div>
</div>

<div id="gridhtml"></div>


@section Scripts {
    <script src="~/build/js/CustomerService/OperacionLogistica/lista.operacion.logistica.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
}