﻿@model VELogisticCloud.App.Web.Util.ModelCombos
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-header">
</div>

<body>

    <input type="hidden" id="hddIdOdooService">

    <form id="form">

        <div class="row ">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Solicitar Operación Logística</h4>
                    </div>
                    <div class="card-body">
                        @*<form method="post" asp-action="Create">*@
                        <div class="col-10 offset-1 mt-1">
                            @*Datos del Booking*@
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6"><h5>Datos del exportador</h5></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>*Puerto embarque</label>
                                            <input type="text" class="form-control" id="txtPuertoEmbarque" placeholder="Ingresar Puerto Embarque">
                                            <input type="hidden" id="hddEmbarqueId">
                                            <input type="hidden" id="hddEmbarqueCodigoPuerto">
                                            <input type="hidden" id="hddEmbarqueCodigoPais">
                                            <input type="hidden" id="hddEmbarqueNombrePais">
                                            <input type="hidden" id="hddEmbarqueNombreRegion">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Puerto Descarga</label>
                                            <input type="text" class="form-control" id="txtPuertoDescarga" placeholder="Ingresar Puerto Descarga"> @*value="PECLL">*@
                                            <input type="hidden" id="hddDescargaId">
                                            <input type="hidden" id="hddDescargaCodigoPuerto">
                                            <input type="hidden" id="hddDescargaCodigoPais">
                                            <input type="hidden" id="hddDescargaNombrePais">
                                            <input type="hidden" id="hddDescargaNombreRegion">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Linea</label>
                                            <select class="form-control " id="txtLineaNaviera" asp-items="@Model.ListaNavieras">
                                                <option value="0">--Selecciona Naviera--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>*Booking</label>
                                            <input type="text" class="form-control " id="txtBooking" />
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label>*ETA</label>
                                            <input id="txtETA" class="form-control" type="date" placeholder="Ingresar" required />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Nombre Nave</label>
                                            <input id="txtNombreNave" class="form-control" type="text" placeholder="Ingresar Nombre Nave" />
                                        </div>

                                    </div>
                                  
                                </div>
                            </div>
                            <hr>
                            @*Producto*@
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6"><h5>Producto</h5></div>
                                        <div class="form-group col-md-6">
                                            @*<a href="" class="btn btn-primary float-right" onclick="generar_tabla(1); return false">Agregar <i class="fa fa-plus"></i></a>*@
                                        </div>
                                    </div>
                                    <div class="form-row col-md-12">
                                        <div class="form-group col-md-4">
                                            <label>*Marcas del Producto</label>
                                            <input id="txtMarcaProducto" class="form-control" type="text" placeholder="Ingresar Marcas del Producto" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Peso de Caja (Kg.)</label>
                                            <input id="txtPesoCaja" class="form-control" type="text" placeholder="0" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Cantidad de Paletas</label>
                                            <input id="txtCantidadPaletas" class="form-control" type="text" placeholder="Ingresar Paletas" />
                                        </div>
                                    </div>
                                    <div class="form-row col-md-12">
                                        <div class="form-group col-md-4">
                                            <label>*Condición de Pago</label>
                                            <input id="txtCondicionPago" class="form-control" type="text" placeholder="Ingresar Paletas" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>*Peso Neto Aprox.</label>
                                            <input id="txtPesoNeto" class="form-control" type="text" placeholder="Ingresar Paletas" />
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-8">

                                </div>
                                <div class="col-md-3" id="div_btn_insert">
                                    <button id="btnInsert" class="btn btn-primary form-control" onclick="InsertReserva(); return false;">Siguiente <i class="fas fa-arrow-circle-right"></i></button>
                                    &nbsp;
                                </div>
                                <div class="col-md-3" id="div_btn_update">
                                    <button id="btnUpdate" class="btn btn-primary form-control" onclick="UpdateReserva(); return false;">Actualizar Reserva <i class="fas fa-arrow-circle-right"></i></button>
                                    &nbsp;
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</body>


@section Scripts {
    <script src="~/build/js/CustomerService/OperacionLogistica/insert.opl.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />*@
}
