﻿
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
</div><div asp-validation-summary="ModelOnly" class="text-danger"></div>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h4> &lt Editar Operación Logística</h4>
                            </div>
                            <div class="col-6 text-left">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-1 text-left">N° Contenedor:</div>
                            <div class="col-3"><input type="text" class="form-control" id="txt_nro_contendor" placeholder="Ingresar"></div>
                            <div class="col-1 text-left">Commodity:</div>
                            <div class="col-3">
                                <select class="form-control bg-danger" id="cbo_Commodity">
                                    <option value="0">--Selecciona Comodity--</option>
                                    <option value="101">Caballos, Asnos Y Mulas, Vivos</option>
                                    <option value="102">Animales De La Especie Bovina, En Directo</option>
                                    <option value="103">Porcina, En Directo</option>
                                    <option value="104">Ovejas Y Cabras, En Directo</option>
                                    <option value="3917">Tubos, Tuberías Y Mangueras Y Sus Accesorios, De Plástico</option>
                                    <option value="3922">Baños, Lavabos, Inodoros, Etc Asientos De Plásticos</option>
                                </select>
                            </div>
                            <div class="col-4 text-left">
                                <p style="line-height: 1%">
                                    <input type="text" class="form-control" id="txt_cliente" style="border:none;font-weight: bold;padding-top:0%" />
                                    &nbsp;&nbsp;&nbsp;&nbsp; Cliente

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-1 text-left">Booking:</div>
                            <div class="col-3"><input type="text" class="form-control" id="txt_booking" placeholder="Ingresar"></div>
                            <div class="col-1 text-left">Orden de Servicio:</div>
                            <div class="col-3"><input type="text" class="form-control" id="txt_orden_servicio" placeholder="Ingresar"></div>
                        </div>
                        <br />

                        <hr />

                        <table class="table table-hover">
                            <tbody>
                            <th style="width:20%">
                            <th style="width:20%">
                            <th style="width:20%">
                            <th style="width:45%">
                            <tr>
                                <td style="border-top:none;" class="border-right">
                                    <div class="row">
                                        <div class="col-6">Nro Viaje: </div>
                                        <div class="col-4 text-left"><b><input type="text" style="border:none;background:white;font-weight:bold" class="form-control" id="txt_nro_viaje" readonly></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Canal: </div>
                                        <div class="col-6 text-left"><b><input type="text" style="border:none;background:white;font-weight:bold" class="form-control" id="txt_canal" readonly></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Linea: </div>
                                        <div class="col-6 text-left"><b><input type="text" style="border:none;background:white;font-weight:bold" class="form-control" id="txt_linea" readonly></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Deposito: </div>
                                        <div class="col-6 text-left"><b><input type="text" style="border:none;background:white;font-weight:bold" class="form-control" id="txt_deposito" readonly></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Packing: </div>
                                        <div class="col-6 text-left"><b><input type="text" style="border:none;background:white;font-weight:bold" class="form-control" id="txt_packing" readonly></b></div>
                                    </div>
                                </td>
                                <td style="border-top:none;" class="border-right">
                                    <div class="row">
                                        <div class="col-6">Operador Logístico: </div>
                                        <div class="col-6 text-left"><b><input type="text" style="border:none;background:white;font-weight:bold" class="form-control" id="txt_operador_logistico" readonly></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">BL: </div>
                                        <div class="col-6 text-left"><b><input type="text" style="border:none;background:white;font-weight:bold" class="form-control" id="txt_bl" readonly></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Nave: </div>
                                        <div class="col-6 text-left"><b><input type="text" style="border:none;background:white;font-weight:bold" class="form-control" id="txt_nave" readonly></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Puerto Destino: </div>
                                        <div class="col-6 text-left"><b><input type="text" style="border:none;background:white;font-weight:bold" class="form-control" id="txt_puerto_destino" readonly></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Canal: </div>
                                        <div class="col-6 text-left"><b><input type="text" style="border:none;background:white;font-weight:bold" class="form-control" id="txt_canal" readonly></b></div>
                                    </div>

                                </td>
                                <td style="border-top:none;" class="border-right">
                                    <div class="row">
                                        <div class="col-6">ETD: </div>
                                        <div class="col-6 text-left"><b><input type="text" style="border:none;background:white;font-weight:bold" class="form-control" id="txt_etd" readonly></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">ETA: </div>
                                        <div class="col-6 text-left"><b><input type="text" style="border:none;background:white;font-weight:bold" class="form-control" id="txt_eta" readonly></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Almacen Retiro: </div>
                                        <div class="col-6 text-left"><b><input type="text" style="border:none;background:white;font-weight:bold" id="txt_almacen_retiro" readonly></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Almacen Ingreso Full: </div>
                                        <div class="col-6 text-left"><b><input type="text" style="border:none;background:white;font-weight:bold" class="form-control" id="txt_almacen_ingreso" readonly></b></div>
                                    </div>

                                </td>
                            </tr>

                        </table>

                        <br />

                        <table class="table table-hover">
                            <tbody>
                            <th style="width:40%">
                            <th style="width:60%">

                            <tr>
                                <td style="border-top:none;" class="border-right">
                                    <div class="row">
                                        <div class="col-6">Mov. Senasa: </div>
                                        <div class="col-6">
                                            <select class="form-control " id="cbo_senasa">
                                                <option value="0">NO</option>
                                                <option value="1">SI</option>
                                            </select>
                                        </div>

                                    </div>
                                    <p style="line-height: 1%"></p>
                                    <div class="row">
                                        <div class="col-6">Mov. Aduana: </div>
                                        <div class="col-6">
                                            <select class="form-control" id="cbo_aduana">
                                                <option value="0">NO</option>
                                                <option value="1">SI</option>
                                            </select>
                                        </div>
                                    </div>
                                    <p style="line-height: 1%"></p>
                                    <div class="row">
                                        <div class="col-6">Servicio Embarque: </div>
                                        <div class="col-6">
                                            <select class="form-control" id="cbo_embarque">
                                                <option value="0">NO</option>
                                                <option value="1">SI</option>
                                            </select>
                                        </div>
                                    </div>
                                    <p style="line-height: 1%"></p>
                                    <div class="row">
                                        <div class="col-6">Conceptos OP: </div>
                                        <div class="col-6 text-left">
                                            <input type="text" class="form-control" id="txt_conpectosOp" />
                                        </div>
                                    </div>
                                </td>

                                <td style="border-top:none;" class="border-right">
                                    <div class="row">
                                        <div class="col-6"><b>UBICACIÓN ACTUAL</b> </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Estado</label>
                                        <select class="form-control " id="cbo_estado">
                                            <option value="1">Depósito de vacíos</option>
                                            <option value="2">Gated in</option>
                                            <option value="3">Carga del buque</option>
                                            <option value="4">Salida del buque</option>
                                            <option value="5">Llegada del buque</option>
                                            <option value="6">Descarga del buque</option>
                                            <option value="7">Gated out</option>
                                            <option value="8">Regreso</option>
                                        </select>
                                    </div>
                                    <div>
                                        @*<span class="iconify" data-icon="mdi-boom-gate" data-width="30px">*@

                                    </div>

                                    @*<div class="form-group col-md-2">
                            <label>Campaña</label>

                        </div>*@



                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group row col-12 offset-1 mt-1 ">
                        <div class="col-md-3 card-footer">
                            <button class="btn btn-primary form-control " onclick="Cancelar(); return false;"> <i class="fas fa-arrow-circle-left"></i> &nbsp; Cancelar</button>
                        </div>
                        <div class="col-md-4 card-footer">
                        </div>
                        <div class="col-md-3 card-footer">
                            <button onclick="EditarOPL(); return false" class="btn btn-primary rounded-pill float-right col-2">Actualizar <i class="fas fa-arrow-alt-circle-right"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="~/build/js/CustomerService/OperacionLogistica/editar.operacion.logistica.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
}

