﻿@{
    ViewData["Title"] = "Create";
    ViewData["PageTitle"] = "Actualizar Cotizacion Logistica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Main row -->
<div class="row">
    <div class="col-12">
        <div class="card card-primary">

            <!-- form start -->
            <form>
                <div class="card-header">
                    Complete los siguientes campos para realizar una solicitud de los servicios seleccionados
                </div>
                <div class="card-body" style="padding-bottom: 0rem;">
                    <div class="form-row">
                        <div class="form-group col-md-4 text-left">
                            <label>Puerto Embarque: </label>
                            <select class="form-control bg-danger" id="cbo_embarque">
                                <option value="0">--Selecciona Puerto--</option>
                                <option value="AFASH-AF-Afganistán">Ali Shirzayi</option>
                                <option value="DZAZR-DZ-Argelia">Adrar</option>
                                <option value="ALARG-AL-Albania">Argyrokastro</option>
                                <option value="ASFTI-AS-Samoa Americana">Fitiuta</option>
                                <option value="ADALV-AD-Andorra">Andorra la Vella</option>
                                <option value="BRCPA-BR-Brazil">Caapora</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4 text-left">
                            <label>Commodity: </label>
                            <select class="form-control bg-danger" id="cbo_Commodity">
                                <option value="0">--Selecciona Comodity--</option>
                                <option value="101">Caballos, Asnos Y Mulas, Vivos</option>
                                <option value="102">Animales De La Especie Bovina, En Directo</option>
                                <option value="103">Porcina, En Directo</option>
                                <option value="104">Ovejas Y Cabras, En Directo</option>
                                <option value="3917">Tubos, Tuberías Y Mangueras Y Sus Accesorios, De Plástico</option>
                                <option value="3922">Baños, Lavabos, Inodoros, Etc Asientos De Plásticos</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_embarque" />
                            <label>Servicio de Embarque</label>
                        </div>
                    </div>

                    <hr />
                    <div class="form-row">
                        <div class="form-group col-md- text-left">
                            <input type="checkbox" id="chk_retiro" />
                            <label>Retiro de contenedor vacío</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 text-left">
                            <label>Almacen retiro: </label>
                            <select class="form-control bg-danger" id="cbo_AlmacenRetiro">
                                <option value="0">--Selecciona Puerto--</option>
                                <option value="AFASH">Ali Shirzayi</option>
                                <option value="DZAZR">Adrar</option>
                                <option value="ALARG">Argyrokastro</option>
                                <option value="ASFTI">Fitiuta</option>
                                <option value="ADALV">Andorra la Vella</option>
                                <option value="BRCPA">Caapora</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4 text-left">
                            <label>Fecha cita: </label>
                            <input type="date" id="txt_fecha" class="form-control" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-row">

                        <div class="form-group col-md-2 text-left">
                            <input type="checkbox" id="chk_transporte" />
                            <label>Retiro de transporte</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 text-left">
                            <label>Almacen packing: </label>
                            <select class="form-control bg-danger" id="cbo_Almacen_Packing">
                                <option value="0">--Selecciona Puerto--</option>
                                <option value="AFASH">Ali Shirzayi</option>
                                <option value="DZAZR">Adrar</option>
                                <option value="ALARG">Argyrokastro</option>
                                <option value="ASFTI">Fitiuta</option>
                                <option value="ADALV">Andorra la Vella</option>
                                <option value="BRCPA">Caapora</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_Servicio_Aduana" />
                            <label>Servicio de Agenciamiento de Aduana</label>
                        </div>
                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_Origen" />
                            <label>Certificado de origen</label>
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_conexion" />
                            <label>Conexión Eléctrica</label>
                        </div>
                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_Pago_cpb" />
                            <label>Pago del CPB</label>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_agenciamiento_maritimo" />
                            <label>Agenciamiento Maritimo</label>
                        </div>
                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_movilizaciones_contenedor" />
                            <label>Movilizaciones por Contenedor</label>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_generador" />
                            <label>Generador Gen Set Clip On/Underslung</label>
                        </div>
                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_aforo_fisico" />
                            <label>Servicio de Aforo Físico</label>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_courier" />
                            <label>Courier por Contenedor</label>
                        </div>
                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_senasa" />
                            <label>Inspección Senasa</label>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_filtro" />
                            <label>Filtro</label>
                        </div>

                    </div>
                    <hr />
                    <div class="form-row">

                        <div class="form-group col-md-4 text-left">
                            <input type="checkbox" id="chk_termografo" />
                            <label>Termógrafo</label>
                        </div>

                    </div>
                    <div>
                        <label>Tipo Termógrafo: </label>
                        <div class="form-group col-md-7 text-left">
                            <textarea id="txt_area_termografo" class="form-group col-md-6"></textarea>
                        </div>
                    </div>


                </div>
                <div class="form-group row col-12 offset-1 mt-1 ">
                    <div class="col-md-3 card-footer">
                        <button class="btn btn-primary form-control " onclick="Cancelar(); return false;"> <i class="fas fa-arrow-circle-left"></i> &nbsp; Cancelar</button>
                    </div>
                    <div class="col-md-4 card-footer">
                    </div>
                    <div class="col-md-3 card-footer">
                        <button onclick="UpdateLogistica(); return false; " class="btn btn-primary float-right">Editar Cotización Logistica</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>



@section Scripts {
    @*<script src="~/build/js/Cotizacion/Insert.transporte.js"></script>*@
    <script src="~/build/js/CustomerCliente/CotizacionLogistica/editar.logistica.customer.cliente.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
}
