﻿@{
    ViewData["Title"] = "EditarLogistica";
    ViewData["PageTitle"] = "Actualizar Cotización Maritimo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
 

    @*<div class="row mb-2">
            <div class="col-2">
                <select id="cboTipoServicio" class="form-control">
                    <option value="1" selected>Flete marítimo</option>
                    <option value="2">Operacion Logistica</option>
                </select>
            </div>
            <div class="col-10"></div>
        </div>*@


    <div class="row">
        <div class="col-12">
            <div class="card card-primary">

                <!-- form start -->
                <form>
                    <div class="card-header">
                        Complete los siguientes campos para actualizar una solicitud de los servicios seleccionados
                    </div>
                    <div class="card-body" style="padding-bottom: 0rem;">
                        <h5 class="text-muted text-uppercase">Cotizacion</h5>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtCodigo">Código de cliente(RUC)</label>
                                <input type="text" class="form-control" id="txtCodigo" placeholder="Ingresar" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtCliente">Usuario</label>
                                <input type="text" class="form-control" id="txtCliente" placeholder="Ingresar" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Cantidad de contenedor(es)</label>
                                <input type="text" class="form-control" id="txtCantidad" placeholder="Ingresar">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtCliente">Tipo Contenedor</label>
                                <select class="form-control" id="txtTipoContenedor">
                                    <option value="0">--Selecciona Contenedor--</option>
                                    <option value="1" tipo="REEFER">40 Reefer High Cube</option>
                                    <option value="3" tipo="REEFER">20 Reefer</option>
                                    <option value="4" tipo="DRY">40 Standard Dry</option>
                                    <option value="5" tipo="DRY">20 Standard Dry</option>
                                    <option value="6" tipo="DRY">40 High Cube</option>
                                    <option value="7" tipo="REEFER">40 Reefer</option>
                                    <option value="8" tipo="OTROS">20 Bulk</option>
                                    <option value="9" tipo="OTROS">20 Insulated</option>
                                </select>
                            </div>
                        </div>
                        <h5 class="text-muted text-uppercase">Periodo de envío</h5>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtFechaEnvio">Fecha Inicio</label>
                                <input type="date" class="form-control" id="txtFechaEnvio" placeholder="Ingresar">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtFechaFinal">Fecha Final</label>
                                <input type="date" class="form-control" id="txtFechaFinal" placeholder="Ingresar">
                            </div>
                        </div>
                        <h5 class="text-muted text-uppercase">Datos</h5>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="txtPuertoCarga">Carga de puerto</label>
                                <select class="form-control bg-danger" id="txtPuertoEmbarque">
                                    <option value="0">--Selecciona Puerto--</option>
                                    <option value="AFASH-AF-Afganistán">Ali Shirzayi</option>
                                    <option value="DZAZR-DZ-Argelia">Adrar</option>
                                    <option value="ALARG-AL-Albania">Argyrokastro</option>
                                    <option value="ASFTI-AS-Samoa Americana">Fitiuta</option>
                                    <option value="ADALV-AD-Andorra">Andorra la Vella</option>
                                    <option value="BRCPA-BR-Brazil">Caapora</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="txtPuertoDescarga">Descarga del puerto</label>
                                <select class="form-control bg-danger" id="txtPuertoDescarga">
                                    <option value="0">--Selecciona Puerto--</option>
                                    <option value="AFASH-AF-Afganistán">Ali Shirzayi</option>
                                    <option value="DZAZR-DZ-Argelia">Adrar</option>
                                    <option value="ALARG-AL-Albania">Argyrokastro</option>
                                    <option value="ASFTI-AS-Samoa Americana">Fitiuta</option>
                                    <option value="ADALV-AD-Andorra">Andorra la Vella</option>
                                    <option value="BRCPA-BR-Brazil">Caapora</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="txtCommodity">Commodity</label>
                                <select class="form-control bg-danger" id="txtComodity">
                                    <option value="0">--Selecciona Comodity--</option>
                                    <option value="101">Caballos, Asnos Y Mulas, Vivos</option>
                                    <option value="102">Animales De La Especie Bovina, En Directo</option>
                                    <option value="103">Porcina, En Directo</option>
                                    <option value="104">Ovejas Y Cabras, En Directo</option>
                                    <option value="3917">Tubos, Tuberías Y Mangueras Y Sus Accesorios, De Plástico</option>
                                    <option value="3922">Baños, Lavabos, Inodoros, Etc Asientos De Plásticos</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="txtCampaña">Campaña</label>
                                <select class="form-control bg-danger" id="txtCampana">
                                    <option value="0">--Selecciona Campaña--</option>
                                    <option value="Arandanos">Arandanos</option>
                                    <option value="Palta">Palta</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="cboLineaNaviera">Linea Naviera</label>
                                <select class="form-control bg-danger" id="txtNaviera">
                                    <option value="0">TODAS LAS NAVIERAS</option>
                                    <option value="CMDU">CMA CGM</option>
                                    <option value="HLCU">HAPAG-LLOYD</option>
                                    <option value="MAEU">MAERSK LINE</option>
                                    <option value="SAFM">SAFMARINE</option>
                                </select>
                            </div>
                            <div class="form-group col-md-8"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6"><h5 class="text-muted text-uppercase">Detalles</h5></div>
                            <div class="col-6"><button onclick="añadirDetalle(); return false;" class="btn btn-primary rounded-pill float-right">Agregar linea <i class="fas fa-plus-circle"></i></button></div>
                        </div>
                        <div id="gridhtml"></div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtNota">Nota</label>
                                <textarea class="form-control" rows="3" placeholder="Ingresar" id="txtNota"></textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtObservacion">Observacion</label>
                                <textarea class="form-control" rows="3" placeholder="Ingresar" id="txtObservacion"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row col-12 offset-1 mt-1 ">
                        <div class="col-md-3 card-footer">
                            <button class="btn btn-primary form-control " onclick="Cancelar(); return false;"> <i class="fas fa-arrow-circle-left"></i> &nbsp; Cancelar</button>
                        </div>
                        <div class="col-md-4 card-footer">
                        </div>
                        <div class="col-md-3 card-footer">
                            <button onclick="UpdateMaritimo(); return false;" class="btn btn-primary rounded-pill float-right">Editar cotizacion <i class="fas fa-arrow-alt-circle-right"></i></button>
                        </div>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>

</body>

@section Scripts {
    <script src="~/build/js/CustomerCliente/editar.cotizacion.customer.cliente.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">
}
