﻿
@{
    ViewData["Title"] = "MisSolicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="loading show" id="contenedor_spinner">
    <div class="spin"></div>
</div>*@

<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <form>

                <div class="card-body" style="padding-bottom: 0rem;">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="txtNumeroCotizacion">Numero de cotizacion</label>
                            <input type="text" class="form-control" id="txtCodigoCoti" placeholder="Ingresar">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Campaña</label>
                            <select class="form-control bg-danger" id="txtCampana">
                                <option value="0">Todas</option>
                                <option value="ARA">Arandanos</option>
                                <option value="PAL">Palta</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Linea Naviera</label>
                            <select class="form-control bg-danger" id="txtNaviera">
                                <option value="0">Todas</option>
                                <option value="CMDU">CMA CGM</option>
                                <option value="HLCU">HAPAG-LLOYD</option>
                                <option value="MAEU">MAERSK LINE</option>
                                <option value="SAFM">SAFMARINE</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Puerto Origen</label>
                            <select class="form-control bg-danger" id="txtPuertoSalida">
                                <option value="0">Todas</option>
                                <option value="AFASH-AF-Afganistán">Ali Shirzayi</option>
                                <option value="DZAZR-DZ-Argelia">Adrar</option>
                                <option value="ALARG-AL-Albania">Argyrokastro</option>
                                <option value="ASFTI-AS-Samoa Americana">Fitiuta</option>
                                <option value="ADALV-AD-Andorra">Andorra la Vella</option>
                                <option value="BRCPA-BR-Brazil">Caapora</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Puerto Destino</label>
                            <select class="form-control bg-danger" id="txtPuertoDestino">
                                <option value="0">Todas</option>
                                <option value="AFASH-AF-Afganistán">Ali Shirzayi</option>
                                <option value="DZAZR-DZ-Argelia">Adrar</option>
                                <option value="ALARG-AL-Albania">Argyrokastro</option>
                                <option value="ASFTI-AS-Samoa Americana">Fitiuta</option>
                                <option value="ADALV-AD-Andorra">Andorra la Vella</option>
                                <option value="BRCPA-BR-Brazil">Caapora</option>
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <label>Filtrar por estado</label>
                            <select class="form-control" id="cbo_estado">
                                <option value="0">Todas</option>
                                <option value="1">Pendiente</option>
                                <option value="2">Aceptado</option>
                                <option value="3">Confirmado</option>
                                <option value="4">Rechazado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-3">
                            <select id="cboTipoServicio" class="form-control">
                                <option value="1" selected>Flete marítimo</option>
                                <option value="2">Operacion Logistica</option>
                            </select>
                        </div>
                        <div class="col-2 offset-7">
                            <button onclick="MisSolicitudes(); return false;" style="background:transparent;color:black;text-transform: uppercase;border-radius: 6px;" class="btn btn-primary float-right">Realizar Busqueda</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="gridhtml"></div>


@section Scripts {
    <script src="~/build/js/CustomerCliente/lista.customer.cotizacion.js"></script>
    <link rel="stylesheet" href="~/dist/css/spinner.css">

}