﻿@{
    ViewData["Title"] = "VerDetalleLogistica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-2">
    <div class="col-10"></div>
</div>
<!-- Main row -->
<div class="row">
    <div class="col-12">
        <div class="card card-primary">

            <!-- form start -->
            <form>
                <div class="card-header">
                    Resumen de cotizacion #
                </div>


                @*<h3 class="text-center">Crear una nueva categoría</h3>*@
                @*<form method="post" asp-action="Edit">*@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body" style="padding-bottom: 0rem;">
                    <div class="row">
                        <div class="col-6">
                            <h3><b>ID: #   <label id="lbl_nroCotizacion"></label> </b></h3>
                            <span> N° Contenedor <label id="lbl_Cantidad"></label></span><br>
                            <span> <label id="lbl_tipoContenedor"></label> </span>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-3">
                                    <i class="fas fa-map-marker-alt fa-2x"></i>
                                    <br> <br>Perú
                                </div>
                                <div class="col-1"><h2>></h2></div>
                                <div class="col-4">
                                    <i class="fas fa-pallet fa-2x"></i>
                                    <br> 40 Reefer HC <br> TT 28 dias
                                </div>
                                <div class="col-1"><h2>></h2></div>
                                <div class="col-3">
                                    <i class="fas fa-map-marker-alt fa-2x"></i>
                                    <br> <br>BELGIUM
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h4 style="color:forestgreen"><b> Datos Principales</b></h4>
                            Embarque:&nbsp; <label id="lbl_embarque"></label> <br>
                            Commodity:&nbsp;  <label id="lbl_commodity"></label> <br>
                            Servicio de Embarque: &nbsp; <label id="lbl_servicioEmbarque"></label>
                        </div>
                        <div class="col-6">
                            <br>
                            <b>Servicio de Agenciamiento y Aduana:&nbsp; &nbsp;</b><label id="lbl_aduana"></label><br>
                            <b>Conexión Eléctrica:&nbsp; &nbsp;</b><label id="lbl_conexElectrica"></label><br>
                            <b>Agenciamiento Maritimo:&nbsp; &nbsp;</b><label id="lbl_maritimo"></label><br>
                            <b>Generador Gen Set Clip On/Underslung:&nbsp; &nbsp;</b><label id="lbl_generador"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h4 style="color:forestgreen"><b> Retiro de Contenedor Vacio</b></h4>
                            Almacen Retiro:&nbsp;   <label id="lbl_almacenRetiro"></label> <br>
                            Fecha hora cita:&nbsp;  <label id="lbl_fechaCita"></label> <br>
                        </div>
                        <div class="col-6">
                            <b>Courier por contenedor:&nbsp; &nbsp;</b><label id="lbl_courier"></label><br>
                            <b>Filtro:&nbsp; &nbsp;</b><label id="lbl_filtro"></label><br>
                            <b>Certificado de Origen:&nbsp; &nbsp;</b><label id="lbl_certificado"></label><br>
                            <b>Pago del CPB:&nbsp; &nbsp;</b><label id="lbl_pago"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h4 style="color:forestgreen"><b> Retiro de transporte</b></h4>
                            Almacen packing:&nbsp;  <label id="lbl_almacenPacking"></label>

                        </div>
                        <div class="col-6">
                            <b> Movilizaciones por contenedor: &nbsp; &nbsp;</b><label id="lbl_movili"></label><br>
                            <b>Servicio de Aforo Físico:&nbsp; &nbsp;</b><label id="lbl_aforo"></label><br>
                            <b>Inspeccion Senasa:&nbsp; &nbsp;</b><label id="lbl_senasa"></label><br>
                            <b>Termógrafo:&nbsp; &nbsp; </b><label id="lbl_termografo"></label>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/build/js/CustomerCliente/CotizacionLogistica/detalle.logistica.customer.cliente.js"></script>
    @*<link rel="stylesheet" href="~/dist/css/spinner.css">*@
}
